Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Configuration Codecov - Mathakine
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  range: 40..100
  precision: 2
  round: down
  status:
    project:
      default:
        target: 45%
    patch:
      default:
        target: 40%

comment:
  layout: "reach,diff,flags,tree"

flags:
  backend:
    paths:
      - app/
      - server/
  frontend:
    paths:
      - frontend/

refactor: challenge_ai_service, sse_utils, json_utils DRY + doc
  README_TECH.md
  app/services/challenge_ai_service.py
  app/utils/json_utils.py
  app/utils/sse_utils.py
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/AUTH_FLOW.md
  docs/02-FEATURES/SITUATION_FEATURES.md
  docs/03-PROJECT/ANALYSE_DUPLICATION_DRY_2026-02.md
  docs/03-PROJECT/ANALYSE_GENERATION_IA_CHALLENGES.md
  docs/03-PROJECT/POINT_SITUATION_2026-02-18.md
  frontend/components/exercises/ExerciseModal.tsx
  frontend/hooks/useSubmitAnswer.ts
  server/handlers/challenge_handlers.py
  server/handlers/exercise_handlers.py
Due: backend, frontend

chore: version 2.1.0, suppression doublon route, docs 86 routes
  README.md
  README_TECH.md
  docs/00-REFERENCE/GETTING_STARTED.md
  docs/03-PROJECT/EVALUATION_PROJET_2026-02-07.md
  docs/03-PROJECT/POINT_SITUATION_2026-02-18.md
  docs/06-WIDGETS/ENDPOINTS_PROGRESSION.md
  docs/INDEX.md
  frontend/package.json
  pyproject.toml
  server/routes.py
Due: backend, frontend

chore: add .venv/ to gitignore
  .gitignore
Due: none

fix: sync package-lock.json for npm ci (missing @swc/helpers)
  frontend/package-lock.json
Due: frontend

fix(frontend): stabilisation deps apres galeres dev - PROD SAFE
  docs/03-PROJECT/COMMIT_FIXES_FRONTEND_2026-02-20.md
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix(frontend): add @swc/helpers@0.5.18 for npm ci sync
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix(backend): pin cryptography>=46.0.5, pyasn1>=0.6.2 (CVE)
  docs/03-PROJECT/ANALYSE_DEPENDABOT_2026-02-20.md
  requirements.txt
Due: none

tests: nettoyage skips, suppression delete_exercise, nouveaux tests basiques
  .github/workflows/ci.yml
  docs/01-GUIDES/DEVELOPMENT.md
  docs/01-GUIDES/ESLINT_PRETTIER_FRONTEND.md
  docs/01-GUIDES/TESTING.md
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/03-PROJECT/AUDIT_DETTE_QUALITE_FRONTEND_2026-02-20.md
  docs/03-PROJECT/README.md
  docs/INDEX.md
  server/handlers/exercise_handlers.py
  server/routes.py
  tests/api/test_auth_flow.py
  tests/api/test_base_endpoints.py
  tests/api/test_challenge_endpoints.py
  tests/api/test_challenges_flow.py
  tests/api/test_deletion_endpoints.py
  tests/api/test_exercise_endpoints.py
  tests/api/test_role_permissions.py
  tests/functional/test_logic_challenge_isolated.py
  tests/integration/test_auth_no_fallback.py
  tests/integration/test_sse_auth.py
  tests/test_config.yml
  tests/unit/test_cli.py
  tests/unit/test_db_adapters.py
  tests/unit/test_db_init_service.py
Due: backend

fix(tests): use challenge_with_hints_id to fix test_get_challenge_hint in CI
  tests/api/test_challenge_endpoints.py
  tests/conftest.py
Due: none

fix: Codecov token (secrets+variables), badge IA rgba, build npm ci
  .github/workflows/tests.yml
  frontend/app/globals.css
  render.yaml
Due: frontend

fix(ci): file â†’ files pour codecov-action v5
  .github/workflows/tests.yml
Due: none

docs: mise Ã  jour TESTING, INDEX, README et gitignore
  .gitignore
  docs/01-GUIDES/TESTING.md
  docs/03-PROJECT/README.md
  docs/INDEX.md
Due: none

chore: securite prod, robustesse tests, Codecov
  .github/workflows/tests.yml
  README.md
  app/core/config.py
  codecov.yml
  docs/01-GUIDES/TESTING.md
  enhanced_server.py
  scripts/add_pinned_badges_to_test_db.py
  scripts/fix_recommendations_schema_for_tests.py
  scripts/test_sendgrid.py
  server/database.py
  tests/conftest.py
Due: backend

fix(codecov): relative_files dans .coveragerc pour chemins compatibles CI
  .coveragerc
  docs/01-GUIDES/TESTING.md
Due: none

fix(codecov): disable_search pour utiliser coverage.xml de pytest sans rÃ©gÃ©nÃ©ration
  .github/workflows/tests.yml
Due: none

fix(codecov): plugins noop pour Ã©viter Ã©crasement coverage.xml par Pycoverage
  .github/workflows/tests.yml
Due: none

chore: suppression sources/0_lint.txt
  sources/0_lint.txt
Due: none

ci: quality gates, test unicitÃ© routes et doc
  .github/workflows/tests.yml
  Makefile
  docs/01-GUIDES/TESTING.md
  scripts/test_backend_local.py
  tests/unit/test_routes_uniqueness.py
Due: none

security: middleware SecureHeaders (X-Content-Type-Options, X-Frame-Options, etc.)
  server/middleware.py
Due: backend

fix(frontend): ESLint rÃ¨gles strictes en warn pour dÃ©bloquer CI
  frontend/eslint.config.mjs
Due: frontend

docs: alignement vÃ©ritÃ© terrain + processus revue trimestrielle
  README.md
  README_TECH.md
  docs/00-REFERENCE/GETTING_STARTED.md
  docs/01-GUIDES/MAINTENANCE.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/AUDIT_SECURITE_APPLICATIVE_2026-02.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/ANALYSE_DEPENDABOT_2026-02-20.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/ANALYSE_GENERATION_IA_CHALLENGES.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/ANALYSE_GENERATION_IA_EXERCICES.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/BADGES_AUDIT_PAUFINAGE.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/COMMIT_FIXES_FRONTEND_2026-02-20.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/SECURITY_AUDIT_REPORT.md
  docs/03-PROJECT/EVALUATION_PROJET_2026-02-07.md
  docs/03-PROJECT/POINT_SITUATION_2026-02-18.md
  docs/03-PROJECT/README.md
  docs/06-WIDGETS/ENDPOINTS_PROGRESSION.md
  docs/CONVENTION_DOCUMENTATION.md
  docs/INDEX.md
Due: none

docs: plan optim P0+P1 - source unique, GETTING_STARTED alignÃ©
  README.md
  docs/00-REFERENCE/GETTING_STARTED.md
  docs/INDEX.md
Due: none

refactor(exercise_generator): extract validators to dedicated module (PR#1)
  README_TECH.md
  docs/INDEX.md
  server/exercise_generator.py
  server/exercise_generator_validators.py
Due: backend

refactor(exercise_generator): extract helpers to dedicated module (PR#2)
  README_TECH.md
  docs/INDEX.md
  server/exercise_generator.py
  server/exercise_generator_helpers.py
Due: backend

refactor(admin_handlers): extract utils to dedicated module (PR#1)
  README_TECH.md
  docs/INDEX.md
  server/handlers/admin_handlers.py
  server/handlers/admin_handlers_utils.py
Due: backend

fix(admin_handlers): restore AdminAuditLog import for admin_audit_log handler
  server/handlers/admin_handlers.py
Due: backend

fix(tests): corriger coquilles accentuelles (creerâ†’crÃ©er, defiâ†’dÃ©fi)
  docs/01-GUIDES/TESTING.md
  tests/api/test_exercise_endpoints.py
  tests/api/test_expired_token.py
  tests/api/test_user_endpoints.py
  tests/conftest.py
Due: none

fix(auth): 401 pour refresh sans token + doc TESTING.md
  docs/01-GUIDES/TESTING.md
  docs/02-FEATURES/AUTH_FLOW.md
  server/handlers/auth_handlers.py
  tests/integration/test_auth_cookies_only.py
  tests/integration/test_auth_no_fallback.py
Due: backend

feat(ci): Codecov coverage + Test Analytics (pytest JUnit, vitest JUnit)
  .github/workflows/tests.yml
  docs/01-GUIDES/TESTING.md
Due: none

refactor(db): unifier config + init_database SQLAlchemy, regle tests, theme Dino dark
  .cursor/rules/tests-systematiques.mdc
  docs/01-GUIDES/CONTRIBUTING.md
  docs/01-GUIDES/TESTING.md
  docs/02-FEATURES/THEMES.md
  docs/03-PROJECT/ANALYSE_MIGRATION_ALEMBIC_INIT_DB.md
  frontend/app/globals.css
  frontend/components/spatial/Particles.tsx
  frontend/components/spatial/Starfield.tsx
  server/database.py
  tests/unit/test_database_init.py
Due: backend, frontend

feat(db): migration DDL init_database vers Alembic (Point 3)
  docs/03-PROJECT/ANALYSE_MIGRATION_ALEMBIC_INIT_DB.md
  docs/03-PROJECT/PLAN_PREPARATION_MIGRATION_ALEMBIC_DDL.md
  migrations/versions/20260206_1530_add_exercises_indexes.py
  migrations/versions/20260222_add_legacy_tables_exercises_results_userstats.py
  scripts/backup_db.ps1
  server/database.py
Due: backend

chore: Point 1 backup finalise + Point 2 branche poussee
  docs/01-GUIDES/CREATE_TEST_DATABASE.md
  docs/03-PROJECT/PLAN_PREPARATION_MIGRATION_ALEMBIC_DDL.md
  scripts/backup_db.ps1
Due: none

chore: hash ObiWan bcrypt, ensure_dev_users, doc statut migration
  app/services/db_init_service.py
  docs/01-GUIDES/CREATE_TEST_DATABASE.md
  docs/03-PROJECT/ANALYSE_MIGRATION_ALEMBIC_INIT_DB.md
  scripts/ensure_dev_users.py
Due: backend

docs: suivi final migration Alembic (validation, statut, index)
  docs/03-PROJECT/ANALYSE_MIGRATION_ALEMBIC_INIT_DB.md
  docs/03-PROJECT/PLAN_PREPARATION_MIGRATION_ALEMBIC_DDL.md
  docs/03-PROJECT/README.md
  docs/03-PROJECT/SUIVI_MIGRATION_ALEMBIC_22-02.md
  docs/03-PROJECT/VALIDATION_MIGRATION_ALEMBIC_2026-02.md
Due: none

perf(auth): Ã©viter double dÃ©codage JWT (middleware â†’ request.state)
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/AUDIT_SECURITE_APPLICATIVE_2026-02.md
  server/auth.py
  server/middleware.py
Due: backend

fix(security): valider claim type=access dans decode_token + tests
  app/core/security.py
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/AUDIT_SECURITE_APPLICATIVE_2026-02.md
  server/handlers/auth_handlers.py
  tests/unit/test_security.py
Due: backend

feat: request_id + Sentry mÃ©triques + politique PII logs
  app/core/logging_config.py
  app/core/monitoring.py
  docs/01-GUIDES/SENTRY_MONITORING.md
  docs/03-PROJECT/POLITIQUE_REDACTION_LOGS_PII.md
  requirements.txt
  server/middleware.py
  tests/api/test_base_endpoints.py
Due: backend

feat: Sentry optimisÃ© + fix N+1 badges + guide
  app/core/monitoring.py
  app/services/badge_requirement_engine.py
  app/services/badge_service.py
  docs/01-GUIDES/DEPLOYMENT_ENV.md
  docs/01-GUIDES/SENTRY_MONITORING.md
  frontend/instrumentation-client.ts
  frontend/sentry.edge.config.ts
  frontend/sentry.server.config.ts
Due: backend, frontend
