Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Configuration Codecov - Mathakine
# https://docs.codecov.com/docs/codecov-yaml

# Corriger les chemins CI (GitHub Actions) pour matcher la structure git
# Format GitHub Actions: /home/runner/work/OWNER/REPO/
fixes:
  - "/home/runner/work/[^/]+/[^/]+/::"

coverage:
  range: 40..100
  precision: 2
  round: down
  status:
    project:
      default:
        target: 45%
    patch:
      default:
        target: 40%

comment:
  layout: "reach,diff,flags,tree"

flags:
  backend:
    paths:
      - app/
      - server/
  frontend:
    paths:
      - frontend/

fix(challenges): keep pattern prompts less revealing
  CHANGELOG.md
  app/services/challenges/challenge_prompt_sections.py
  tests/unit/test_challenge_ia4_prompt_and_model_policy.py
Due: backend

fix(generation): enforce strictly monotonic numeric ranges per difficulty level
  app/services/exercises/exercise_ai_service.py
  tests/unit/test_exercise_ai_service.py
Due: backend

feat(generation): enrich tier calibrations with DOK and Bloom cognitive markers
  app/core/difficulty_tier.py
  tests/unit/test_difficulty_tier.py
Due: backend

feat(generation): add type-aware non-triviality guidance for high difficulty
  app/services/exercises/exercise_ai_service.py
  tests/unit/test_exercise_ai_service.py
Due: backend

feat(generation): decouple cognitive intensity from F42 tier to resolve difficulty compression
  app/core/difficulty_tier.py
  app/services/exercises/exercise_ai_service.py
  tests/unit/test_difficulty_tier.py
  tests/unit/test_exercise_ai_service.py
Due: backend

chore: roadmap addendum, technical manual, test outputs, hardcoded texts report
  _pytest_feedback_out.txt
  _unit_smoke.txt
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/Manuel-Technique-Mathakine-2026-04-13.docx
  frontend/hardcoded-texts-report.json
Due: frontend

fix(generation): make cognitive guidance type aware
  app/core/difficulty_tier.py
  app/services/exercises/exercise_ai_service.py
  tests/unit/test_difficulty_tier.py
  tests/unit/test_exercise_ai_service.py
Due: backend

feat(generation): enforce type-aware difficulty floor and ceiling
  app/core/difficulty_tier.py
  app/services/exercises/adaptive_difficulty_service.py
  app/services/exercises/exercise_ai_service.py
  tests/unit/test_adaptive_difficulty_service.py
  tests/unit/test_difficulty_tier.py
  tests/unit/test_exercise_ai_service.py
Due: backend

fix(generation): apply type difficulty clamp to local path
  app/core/difficulty_tier.py
  app/generators/exercise_generator.py
  app/services/exercises/exercise_generation_service.py
  app/utils/exercise_generator_helpers.py
  tests/unit/test_difficulty_tier.py
  tests/unit/test_exercise_handlers.py
Due: backend

chore(ai-policy): audit model routing per (type, difficulty)
  docs/03-PROJECT/AUDIT_AI_MODEL_POLICY_2026-04-19.md
Due: none

chore(challenges): audit downward difficulty calibration
  docs/03-PROJECT/NOTE_CHALLENGE_DIFFICULTY_CALIBRATION_AUDIT_2026-04-19.md
Due: none

fix(ai-policy): raise geometry reasoning effort
  app/core/ai_generation_policy.py
  tests/unit/test_exercise_ai_policy.py
Due: backend

fix(generation): align adaptive stream difficulty calibration
  app/core/difficulty_tier.py
  app/schemas/exercise.py
  app/services/exercises/exercise_ai_service.py
  app/services/exercises/exercise_stream_service.py
  server/handlers/exercise_handlers.py
  tests/unit/test_difficulty_tier.py
  tests/unit/test_exercise_ai_service.py
  tests/unit/test_exercise_ia2b_honesty.py
Due: backend

chore(tools): add generation calibration audit baseline
  reports/generation_calibration_baseline_pre_invitations_2026-04-20.json
  scripts/reports/generation_calibration_audit.py
Due: none

chore(release): prepare 3.6.0-beta.3
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: frontend

fix(ci): sort exercise ai service imports
  app/services/exercises/exercise_ai_service.py
Due: backend

fix(frontend): render ai latex delimiters in exercise explanations
  frontend/components/ui/MathText.test.tsx
  frontend/components/ui/MathText.tsx
Due: frontend

fix(challenges): apply structural difficulty floors
  app/services/challenges/challenge_difficulty_policy.py
  app/services/challenges/challenge_prompt_sections.py
  tests/unit/test_challenge_ia4_prompt_and_model_policy.py
  tests/unit/test_challenge_ia5_quality.py
Due: backend

fix(challenges): render grouped symmetry layouts
  app/services/challenges/challenge_contract_policy.py
  frontend/components/challenges/visualizations/VisualRenderer.symmetry.test.tsx
  frontend/components/challenges/visualizations/VisualRenderer.tsx
  frontend/lib/challenges/challengeSolver.test.ts
  frontend/lib/challenges/challengeSolver.ts
  frontend/lib/utils/visualChallengeUtils.ts
  tests/unit/test_challenge_ia9_contract_policy.py
Due: backend, frontend

fix(challenges): color visual shape glyphs
  frontend/components/challenges/ChallengeSolverCommandBar.test.tsx
  frontend/components/challenges/ChallengeSolverFreeTextAnswerBlock.tsx
  frontend/components/challenges/visualizations/VisualRenderer.symmetry.test.tsx
  frontend/components/challenges/visualizations/VisualRenderer.tsx
  frontend/hooks/useChallengeSolverController.ts
  frontend/lib/challenges/challengeSolver.test.ts
  frontend/lib/challenges/challengeSolver.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

fix(challenges): validate ordered visual answer lists
  app/services/challenges/challenge_answer_service.py
  tests/unit/test_challenge_answer_service.py
Due: backend

fix(challenges): harden puzzle ordering and math text
  app/services/challenges/challenge_ordering_utils.py
  app/services/challenges/challenge_prompt_sections.py
  app/services/challenges/challenge_validator.py
  frontend/components/ui/MathText.test.tsx
  frontend/components/ui/MathText.tsx
  tests/unit/test_challenge_ia5_quality.py
Due: backend, frontend

fix(challenges): harden riddle difficulty and math hints
  app/services/challenges/challenge_contract_policy.py
  app/services/challenges/challenge_difficulty_policy.py
  app/services/challenges/challenge_prompt_sections.py
  frontend/components/challenges/ChallengeSolverHintsPanel.tsx
  frontend/components/challenges/visualizations/RiddleRenderer.tsx
  frontend/components/challenges/visualizations/VisualizationRenderers.test.tsx
  tests/unit/test_challenge_ia5_quality.py
  tests/unit/test_challenge_ia9_contract_policy.py
Due: backend, frontend

fix(challenges): enforce conservative deduction uniqueness
  app/services/challenges/challenge_deduction_solver.py
  app/services/challenges/challenge_prompt_sections.py
  app/services/challenges/challenge_validator.py
  tests/unit/test_challenge_ia5_quality.py
Due: backend

fix(challenges): harden probability qcm and urn rendering
  app/services/challenges/challenge_ai_service.py
  app/services/challenges/challenge_answer_quality.py
  app/services/challenges/challenge_difficulty_policy.py
  app/services/challenges/challenge_prompt_sections.py
  frontend/components/challenges/visualizations/ProbabilityRenderer.tsx
  frontend/components/challenges/visualizations/VisualizationRenderers.test.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  tests/unit/test_challenge_ia5_quality.py
  tests/unit/test_challenge_ia9_contract_policy.py
Due: backend, frontend

fix(challenges): harden probability and graph challenge quality
  app/services/challenges/challenge_api_mapper.py
  app/services/challenges/challenge_difficulty_policy.py
  app/services/challenges/challenge_prompt_sections.py
  app/services/challenges/challenge_validator.py
  frontend/components/challenges/visualizations/GraphRenderer.tsx
  frontend/components/challenges/visualizations/ProbabilityRenderer.tsx
  frontend/components/challenges/visualizations/VisualizationRenderers.test.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  tests/unit/test_challenge_ia4_prompt_and_model_policy.py
  tests/unit/test_challenge_ia5_quality.py
  tests/unit/test_challenge_ia9_contract_policy.py
Due: backend, frontend

fix(challenges): stabilize graph and coding generation edge cases
  app/services/challenges/challenge_coding_validation.py
  app/services/challenges/challenge_prompt_sections.py
  app/services/challenges/challenge_validator.py
  frontend/components/challenges/visualizations/GraphRenderer.tsx
  frontend/components/challenges/visualizations/VisualizationRenderers.test.tsx
  tests/unit/test_challenge_coding_validation.py
  tests/unit/test_challenge_ia4_prompt_and_model_policy.py
  tests/unit/test_challenge_ia5_quality.py
Due: backend, frontend

fix(challenges): stabilize coding difficulty and rendering
  app/services/challenges/challenge_contract_policy.py
  app/services/challenges/challenge_difficulty_policy.py
  app/services/challenges/challenge_prompt_sections.py
  frontend/components/challenges/visualizations/CodingRenderer.tsx
  frontend/components/challenges/visualizations/VisualizationRenderers.test.tsx
  tests/unit/test_challenge_ia4_prompt_and_model_policy.py
  tests/unit/test_challenge_ia5_quality.py
  tests/unit/test_challenge_ia9_contract_policy.py
Due: backend, frontend

fix(challenges): harden coding prompt contracts
  app/services/challenges/challenge_ai_service.py
  app/services/challenges/challenge_coding_validation.py
  app/services/challenges/challenge_contract_policy.py
  app/services/challenges/challenge_difficulty_policy.py
  app/services/challenges/challenge_prompt_composition.py
  app/services/challenges/challenge_prompt_sections.py
  app/services/challenges/challenge_validator.py
  tests/unit/test_challenge_coding_validation.py
  tests/unit/test_challenge_ia4_prompt_and_model_policy.py
  tests/unit/test_challenge_ia5_quality.py
  tests/unit/test_challenge_ia9_contract_policy.py
Due: backend

fix(challenges): harden chess generation and notation guidance
  app/core/ai_config.py
  app/services/challenges/challenge_ai_service.py
  app/services/challenges/challenge_contract_policy.py
  app/services/challenges/challenge_prompt_sections.py
  app/services/challenges/challenge_validator.py
  frontend/components/challenges/ChallengeSolverCommandBar.test.tsx
  frontend/components/challenges/ChallengeSolverFreeTextAnswerBlock.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  tests/unit/test_challenge_ia4_prompt_and_model_policy.py
  tests/unit/test_challenge_ia9_contract_policy.py
Due: backend, frontend

fix(challenges): repair invalid chess generations after validation
  app/services/challenges/challenge_ai_service.py
  app/services/challenges/challenge_prompt_sections.py
  tests/unit/test_challenge_ia4_prompt_and_model_policy.py
Due: backend

fix(generation): close validation review gaps
  .gitignore
  _pytest_feedback_out.txt
  _unit_smoke.txt
  app/services/challenges/challenge_pattern_sequence_validation.py
  app/services/challenges/challenge_validation_analysis.py
  app/services/core/enhanced_server_adapter.py
  app/services/exercises/exercise_ai_service.py
  app/services/exercises/exercise_ai_validation.py
  app/services/exercises/exercise_stream_service.py
  tests/unit/test_challenge_pattern_sequence_validation.py
  tests/unit/test_exercise_ai_service.py
  tests/unit/test_exercise_ai_validation.py
Due: backend

docs(changelog): document latest generation hardening
  CHANGELOG.md
Due: none

fix(frontend): type probability urn extraction
  frontend/components/challenges/visualizations/ProbabilityRenderer.tsx
Due: frontend

fix(challenges): harden validation edge cases
  CHANGELOG.md
  app/services/challenges/challenge_contract_policy.py
  app/services/challenges/challenge_deduction_solver.py
  app/services/challenges/challenge_validator.py
  frontend/components/challenges/visualizations/GraphRenderer.tsx
  frontend/components/challenges/visualizations/VisualizationRenderers.test.tsx
  tests/unit/test_challenge_ia9_contract_policy.py
Due: backend, frontend

fix(challenges): avoid truncated puzzle json recovery
  CHANGELOG.md
  app/core/ai_config.py
  app/services/challenges/challenge_ai_service.py
  app/services/challenges/challenge_prompt_sections.py
  tests/unit/test_challenge_ia4_prompt_and_model_policy.py
Due: backend

fix(challenges): stabilize o4 generation contracts
  .env.example
  CHANGELOG.md
  app/core/ai_config.py
  app/core/ai_generation_policy.py
  app/core/app_model_policy.py
  app/core/config.py
  app/core/logging_config.py
  app/services/challenges/challenge_age_group.py
  app/services/challenges/challenge_ai_model_policy.py
  app/services/challenges/challenge_ai_service.py
  app/services/challenges/challenge_answer_service.py
  app/services/challenges/challenge_api_mapper.py
  app/services/challenges/challenge_attempt_service.py
  app/services/challenges/challenge_contract_policy.py
  app/services/challenges/challenge_pattern_sequence_validation.py
  app/services/challenges/challenge_prompt_sections.py
  app/services/challenges/challenge_service.py
  app/services/challenges/challenge_stream_service.py
  app/services/challenges/challenge_validator.py
  app/services/challenges/logic_challenge_service.py
  app/services/exercises/exercise_ai_service.py
  app/utils/token_tracker.py
  docs/00-REFERENCE/AI_MODEL_GOVERNANCE.md
  docs/03-PROJECT/PLAN_CHALLENGE_GENERATION_SOLIDIFICATION_2026-04-22.md
  docs/05-ADR/ADR-004-ai-model-policy-architecture.md
  frontend/components/challenges/visualizations/VisualRenderer.symmetry.test.tsx
  frontend/components/challenges/visualizations/VisualRenderer.tsx
  server/handlers/challenge_handlers.py
  tests/unit/test_app_model_policy.py
  tests/unit/test_challenge_ia4_prompt_and_model_policy.py
  tests/unit/test_challenge_ia9_contract_policy.py
  tests/unit/test_challenge_pattern_sequence_validation.py
  tests/unit/test_exercise_ai_policy.py
Due: backend, frontend

fix(generation): harden o-series completion budget and length-truncation fallback
  app/core/ai_config.py
  app/core/ai_generation_policy.py
  app/services/challenges/challenge_ai_service.py
  app/services/exercises/exercise_ai_service.py
  tests/unit/test_challenge_ai_usage_tracking.py
  tests/unit/test_challenge_ia4_prompt_and_model_policy.py
  tests/unit/test_exercise_ai_policy.py
Due: backend

fix(generation): per-type gpt5 verbosity and compact o-series system prompt
  app/core/ai_generation_policy.py
  app/services/exercises/exercise_ai_service.py
  tests/unit/test_exercise_ai_policy.py
  tests/unit/test_exercise_ai_service.py
Due: backend

fix(challenges): add per-field length budget and conflict priority order to system prompt
  app/services/challenges/challenge_prompt_composition.py
  app/services/challenges/challenge_prompt_sections.py
  tests/unit/test_challenge_ia4_prompt_and_model_policy.py
Due: backend
