Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Configuration Codecov - Mathakine
# https://docs.codecov.com/docs/codecov-yaml

# Corriger les chemins CI (GitHub Actions) pour matcher la structure git
# Format GitHub Actions: /home/runner/work/OWNER/REPO/
fixes:
  - "/home/runner/work/[^/]+/[^/]+/::"

coverage:
  range: 40..100
  precision: 2
  round: down
  status:
    project:
      default:
        target: 45%
    patch:
      default:
        target: 40%

comment:
  layout: "reach,diff,flags,tree"

flags:
  backend:
    paths:
      - app/
      - server/
  frontend:
    paths:
      - frontend/

fix(M3): corriger calcul de niveau fragile à la borne max (xp >= 5500)
  app/services/user_service.py
  docs/03-PROJECT/AUDIT_CODE_CLEANUP_2026-03-01.md
  frontend/components/dashboard/LevelIndicator.tsx
  frontend/lib/validations/dashboard.ts
  tests/unit/test_user_service.py
Due: backend, frontend

fix(M7+M15): supprimer condition morte transaction + dédupliquer cn()
  app/db/transaction.py
  docs/03-PROJECT/AUDIT_CODE_CLEANUP_2026-03-01.md
  frontend/lib/utils.ts
Due: backend, frontend

test(M7): ajouter régression pour condition morte savepoint.is_active
  tests/unit/test_transaction.py
Due: none

fix(M6): eliminer TOCTOU sur init asyncio.Lock dans simple_ttl_cache
  app/utils/simple_ttl_cache.py
  docs/03-PROJECT/AUDIT_CODE_CLEANUP_2026-03-01.md
  tests/unit/test_simple_ttl_cache.py
Due: backend

fix(M13/M17): i18n strings hardcodees et double bouton cancel
  docs/03-PROJECT/AUDIT_CODE_CLEANUP_2026-03-01.md
  frontend/components/exercises/AIGenerator.tsx
  frontend/hooks/useAuth.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

chore(L2/L3/L6): suppression dead code confirme (~154 lignes)
  app/services/enhanced_server_adapter.py
  app/services/recommendation_service.py
  app/utils/translation.py
  docs/03-PROJECT/AUDIT_CODE_CLEANUP_2026-03-01.md
Due: backend

feat(admin): monitoring IA — endpoints + interface + pricing multi-modèles
  app/utils/generation_metrics.py
  app/utils/token_tracker.py
  app/utils/translation.py
  docs/03-PROJECT/AUDIT_CODE_CLEANUP_2026-03-01.md
  frontend/app/admin/ai-monitoring/page.tsx
  frontend/app/admin/layout.tsx
  frontend/hooks/useAdminAiStats.ts
  server/handlers/admin_handlers.py
  server/routes/admin.py
  tests/api/test_admin_ai_stats.py
Due: backend, frontend

docs(features): monitoring IA documenté dans ROADMAP_FONCTIONNALITES
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
Due: none

docs: rationaliser et migrer la doc frontend vers docs/04-FRONTEND/
  app/utils/token_tracker.py
  docs/02-FEATURES/THEMES.md
  docs/04-FRONTEND/ACCESSIBILITY.md
  docs/04-FRONTEND/ANIMATIONS.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/04-FRONTEND/DESIGN_SYSTEM.md
  docs/04-FRONTEND/PWA.md
  docs/INDEX.md
  frontend/README.md
  frontend/TROUBLESHOOTING.md
  frontend/app/admin/ai-monitoring/page.tsx
  frontend/docs/ACCESSIBILITY_GUIDE.md
  frontend/docs/COMPONENTS_GUIDE.md
  frontend/docs/DESIGN_SYSTEM_AUDIT.md
  frontend/docs/DESIGN_SYSTEM_GUIDE.md
  frontend/docs/DESIGN_SYSTEM_SUMMARY.md
  frontend/docs/FOCUS_MODE_REVIEW.md
  frontend/docs/PWA_GUIDE.md
  frontend/docs/PWA_NOTES.md
  frontend/docs/PWA_TROUBLESHOOTING.md
  frontend/docs/SPATIAL_ANIMATIONS.md
  frontend/docs/THEMES_INDUSTRIALIZATION.md
  frontend/docs/UX_UI_IMPROVEMENTS.md
  frontend/hooks/useAdminAiStats.ts
Due: backend, frontend

docs(audit): audit architecture backend 03/03/2026
  docs/03-PROJECT/AUDIT_ARCHITECTURE_BACKEND_2026-03.md
  docs/INDEX.md
Due: none

refactor(arch): Phase 4 industrialisation - TypedDict, constants, formatters, enum_mapping
  CHANGELOG.md
  app/core/constants.py
  app/core/constants_challenge.py
  app/core/types.py
  app/services/admin_stats_service.py
  app/services/admin_user_service.py
  app/services/challenge_service.py
  app/services/exercise_service.py
  app/services/user_service.py
  docs/03-PROJECT/AUDIT_ARCHITECTURE_BACKEND_2026-03.md
  server/handlers/challenge_handlers.py
  server/handlers/challenge_list_params.py
Due: backend

fix(config+fmt): POSTGRES_PASSWORD guard sur Render + black auth_handlers
  app/core/config.py
  server/handlers/auth_handlers.py
Due: backend

fix(lint+types): mypy 0 erreurs, flake8 clean sur fichiers modifies
  app/core/types.py
  app/services/admin_stats_service.py
  app/services/admin_user_service.py
  app/services/challenge_service.py
  server/handlers/user_handlers.py
  server/middleware.py
Due: backend

fmt(black): reformatage 4 fichiers (lignes > 88 chars)
  app/services/admin_stats_service.py
  app/services/exercise_service.py
  app/services/user_service.py
  server/handlers/challenge_handlers.py
Due: backend

fmt(isort): correction tri des imports sur 11 fichiers
  app/core/constants.py
  app/services/admin_stats_service.py
  app/services/admin_user_service.py
  app/services/auth_service.py
  app/services/badge_service.py
  app/services/challenge_service.py
  app/services/user_service.py
  server/handlers/auth_handlers.py
  server/handlers/challenge_handlers.py
  server/handlers/user_handlers.py
  server/middleware.py
Due: backend

refactor(arch): audit 4.5 - safe_delete/safe_archive → exceptions (tests)
  tests/unit/test_logic_challenge_service.py
Due: none

docs: Phase 4.5 terminee - marquer audit + CHANGELOG 2.3.0-alpha.3
  CHANGELOG.md
  docs/03-PROJECT/AUDIT_ARCHITECTURE_BACKEND_2026-03.md
Due: none

refactor(4.5): safe_delete/safe_archive -> exceptions + tests corriges
  app/db/adapter.py
  app/db/transaction.py
  app/exceptions.py
  app/services/exercise_service.py
  app/services/logic_challenge_service.py
  app/services/user_service.py
  tests/unit/test_db_adapter.py
  tests/unit/test_exercise_service.py
  tests/unit/test_transaction.py
  tests/unit/test_user_service.py
Due: backend

fix(4.5): challenge rigoureux - imports top-level + black + isort
  app/db/adapter.py
  app/db/transaction.py
  app/services/user_service.py
  server/handlers/user_handlers.py
Due: backend

fix(4.5): suppression imports inline residuels + signature enhanced_adapter
  app/services/enhanced_server_adapter.py
  app/services/exercise_service.py
  app/services/logic_challenge_service.py
Due: backend

docs: cloture audit architecture backend - CHANGELOG 2.3.0 + TODO
  CHANGELOG.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/PLACEHOLDERS_ET_TODO.md
  docs/03-PROJECT/AUDIT_ARCHITECTURE_BACKEND_2026-03.md
Due: none

docs: mise a jour post-audit Architecture 2026-03 (INDEX + DEVELOPMENT + features)
  docs/01-GUIDES/DEVELOPMENT.md
  docs/02-FEATURES/NIVEAUX_DIFFICULTE_NORMALISATION.md
  docs/INDEX.md
Due: none

docs: mise a jour README_TECH.md post-audit Architecture 2026-03
  README_TECH.md
Due: none

docs: mise a jour TESTING.md post-audit Architecture 2026-03
  docs/01-GUIDES/TESTING.md
Due: none

chore(deps): npm audit fix --force - @ducanh2912/next-pwa 10.2.6
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix(sentry+lint): integrations Sentry critiques + ESLint propre
  app/core/monitoring.py
  commit_msg.txt
  docs/01-GUIDES/SENTRY_MONITORING.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/B4_REFORMULATION_BADGES.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/PLAN_REFONTE_BADGES.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/SITUATION_FEATURES_2026-02.md
  docs/INDEX.md
  frontend/app/profile/page.tsx
  frontend/app/reset-password/page.tsx
  frontend/components/accessibility/AccessibilityToolbar.tsx
  frontend/components/auth/ProtectedRoute.tsx
  frontend/components/challenges/AIGenerator.tsx
  frontend/components/challenges/visualizations/ChessRenderer.tsx
  frontend/components/challenges/visualizations/CodingRenderer.tsx
  frontend/components/challenges/visualizations/DeductionRenderer.tsx
  frontend/components/challenges/visualizations/DefaultRenderer.tsx
  frontend/components/challenges/visualizations/GraphRenderer.tsx
  frontend/components/challenges/visualizations/ProbabilityRenderer.tsx
  frontend/components/challenges/visualizations/RiddleRenderer.tsx
  frontend/components/dashboard/ExportButton.tsx
  frontend/components/dashboard/QuickStartActions.tsx
  frontend/components/exercises/AIGenerator.tsx
  frontend/components/exercises/ExerciseGenerator.tsx
  frontend/components/exercises/ExerciseModal.tsx
  frontend/components/exercises/ExerciseSolver.tsx
  frontend/components/feedback/FeedbackFab.tsx
  frontend/components/home/Chatbot.tsx
  frontend/components/layout/AlphaBanner.tsx
  frontend/components/pwa/InstallPrompt.tsx
  frontend/components/spatial/Planet.tsx
  frontend/components/spatial/Starfield.tsx
  frontend/components/theme/DarkModeToggle.tsx
  frontend/eslint.config.mjs
  frontend/hooks/useAuth.ts
  frontend/hooks/usePaginatedContent.ts
  server/middleware.py
Due: backend, frontend

feat(ui): Premium EdTech design system + tabs exercices + fix Prettier
  commit_msg.txt
  frontend/app/exercises/page.tsx
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/admin/ChallengeEditModal.tsx
  frontend/components/admin/ExerciseEditModal.tsx
  frontend/components/challenges/ChallengeCard.tsx
  frontend/components/challenges/visualizations/DefaultRenderer.tsx
  frontend/components/dashboard/DashboardSkeletons.tsx
  frontend/components/exercises/ExerciseGenerator.tsx
  frontend/components/layout/PageLayout.tsx
  frontend/components/layout/PageSection.tsx
  frontend/components/shared/AIGeneratorBase.tsx
  frontend/components/ui/card.tsx
  frontend/lib/utils/format.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

style: fix Prettier formatting on badge pages and components
  frontend/app/badges/page.tsx
  frontend/app/leaderboard/page.tsx
  frontend/components/badges/BadgeCard.tsx
  frontend/components/badges/BadgeIcon.tsx
Due: frontend

feat(badges): glassmorphism premium + glow + lock overlay + flex-col centred icon
  frontend/app/globals.css
  frontend/components/badges/BadgeCard.tsx
Due: frontend

style(badges): heart and check icons h-3.5 in compact cards
  frontend/components/badges/BadgeCard.tsx
Due: frontend

feat(home): SVG logo Mathakine dans le hero + variables CSS par theme
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/public/logo-mathakine.svg
Due: frontend

fix(logo): SVG inline component - var() CSS appliquees par theme
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/LogoMathakine.tsx
Due: frontend

fix(logo): M shape updated to stroke W style from test.svg
  frontend/components/LogoMathakine.tsx
Due: frontend

feat(branding): logo SVG dans le header + icone M pour PWA/favicon
  frontend/app/layout.tsx
  frontend/components/layout/Header.tsx
  frontend/public/logo-m.svg
  frontend/public/manifest.json
Due: frontend

release(2.3.0-alpha.4): changelog refonte graphique badges + branding logo
  CHANGELOG.md
  frontend/app/changelog/page.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package.json
Due: frontend

chore(versioning): renomme 2.3.0-alpha.3/4 en 2.4.0-alpha.1/2
  CHANGELOG.md
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package.json
Due: frontend

feat(pwa): generation PNG icons officiels depuis logo-m.svg
  frontend/public/icons/icon-128x128.png
  frontend/public/icons/icon-144x144.png
  frontend/public/icons/icon-152x152.png
  frontend/public/icons/icon-192x192.png
  frontend/public/icons/icon-384x384.png
  frontend/public/icons/icon-512x512.png
  frontend/public/icons/icon-72x72.png
  frontend/public/icons/icon-96x96.png
  frontend/public/logo-m.svg
Due: frontend
