Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Format diagnostic solver component
  frontend/components/diagnostic/DiagnosticSolver.tsx
Due: frontend

fix(ci): lower coverage thresholds to match actual baseline
  frontend/vitest.config.ts
Due: frontend

Harden chat auth and add readiness probes
  .claude/session-plan.md
  .github/workflows/tests.yml
  README_TECH.md
  app/core/monitoring.py
  app/utils/readiness_probe.py
  docs/01-GUIDES/DEPLOYMENT_ENV.md
  docs/01-GUIDES/MAINTENANCE.md
  docs/01-GUIDES/PRODUCTION_RUNBOOK.md
  docs/01-GUIDES/SCRIPTS_UTILITIES.md
  docs/01-GUIDES/SENTRY_MONITORING.md
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/03-PROJECT/CICD_DEPLOY.md
  render.yaml
  server/handlers/chat_handlers.py
  server/middleware.py
  server/routes/core.py
  tests/api/test_base_endpoints.py
  tests/api/test_chat_endpoints.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_chat_handlers_auth.py
  tests/unit/test_readiness_probe.py
Due: backend

Adopt Gunicorn production backend startup
  .claude/session-plan.md
  .github/workflows/tests.yml
  Procfile
  README_TECH.md
  docs/01-GUIDES/DEPLOYMENT_ENV.md
  docs/01-GUIDES/PRODUCTION_RUNBOOK.md
  docs/01-GUIDES/SCRIPTS_UTILITIES.md
  docs/03-PROJECT/CICD_DEPLOY.md
  enhanced_server.py
  render.yaml
  requirements.txt
  scripts/start_render.sh
Due: none

Fix Next nonce CSP compatibility with dynamic root layout
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/__tests__/unit/middleware.test.ts
  frontend/app/layout.tsx
  frontend/lib/security/middlewareCsp.ts
Due: frontend

Finish admin shell and auth toast i18n
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/__tests__/unit/app/admin/AdminLayout.test.tsx
  frontend/__tests__/unit/hooks/useAuth.test.ts
  frontend/app/admin/layout.tsx
  frontend/hooks/useAuth.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

Format monitoring Sentry filter for Black
  app/core/monitoring.py
Due: backend

fix(challenges): add symmetry auto-correction and extend pre-correct to visual type
  app/services/challenges/challenge_ai_service.py
  app/services/challenges/challenge_validator.py
Due: backend

Harden backend logging and security headers
  .claude/session-plan.md
  README_TECH.md
  app/core/logging_config.py
  server/middleware.py
  tests/api/test_base_endpoints.py
  tests/unit/test_logging_config_uncaught.py
  tests/unit/test_secure_headers_middleware.py
Due: backend

Reduce auth fallback grace window
  .claude/session-plan.md
  README_TECH.md
  app/services/auth/auth_service.py
  app/services/auth/auth_session_service.py
  tests/conftest.py
  tests/integration/test_auth_no_fallback.py
  tests/unit/test_auth_service.py
Due: backend

Align auth cookie config with runtime settings
  .claude/session-plan.md
  README_TECH.md
  app/core/security.py
  tests/unit/test_security.py
Due: backend

Update verified audit addendum
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
Due: none

Format challenge validator for Black
  app/services/challenges/challenge_validator.py
Due: backend

Apply audit quick wins
  .claude/session-plan.md
  .dockerignore
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/components/badges/BadgeCard.tsx
  frontend/components/badges/BadgeIcon.tsx
  frontend/components/badges/BadgesProgressTabsSection.tsx
  frontend/components/chat/ChatMessagesView.tsx
  frontend/components/ui/UserAvatar.tsx
  server/middleware.py
Due: backend, frontend

Mask auth PII in logs
  .claude/session-plan.md
  README_TECH.md
  app/services/auth/auth_service.py
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  tests/unit/test_auth_service.py
Due: backend

Format audit report addendum
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
Due: none

fix(challenges): convert row-based symmetry layout to canonical flat format
  app/services/challenges/challenge_contract_policy.py
  tests/unit/test_challenge_ia9_contract_policy.py
Due: backend

Refactor BadgeCard and advance badge image cleanup
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/components/badges/BadgeCard.tsx
  frontend/components/badges/BadgesProgressTabsSection.tsx
  frontend/components/badges/badgeCard/BadgeCardCardContent.tsx
  frontend/components/badges/badgeCard/BadgeCardCompactEarnedHeader.tsx
  frontend/components/badges/badgeCard/BadgeCardDifficultyMedal.tsx
  frontend/components/badges/badgeCard/BadgeCardStandardHeader.tsx
Due: frontend

Refactor learner home page composition
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/__tests__/unit/app/home-learner/HomeLearnerPage.test.tsx
  frontend/app/home-learner/page.tsx
  frontend/components/learner/HomeLearnerActionsSection.tsx
  frontend/components/learner/HomeLearnerContent.tsx
  frontend/components/learner/HomeLearnerPageMap.tsx
  frontend/components/learner/HomeLearnerProgressSection.tsx
  frontend/components/learner/HomeLearnerReviewsSection.tsx
  frontend/components/learner/homeLearnerConstants.ts
  frontend/components/learner/homeLearnerI18n.ts
Due: frontend

Refactor leaderboard page composition
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/app/leaderboard/page.tsx
  frontend/components/leaderboard/LeaderboardAnimatedPoints.tsx
  frontend/components/leaderboard/LeaderboardCardState.tsx
  frontend/components/leaderboard/LeaderboardCurrentUserFooter.tsx
  frontend/components/leaderboard/LeaderboardList.tsx
  frontend/components/leaderboard/LeaderboardPageContent.tsx
  frontend/components/leaderboard/LeaderboardRankBadge.tsx
  frontend/components/leaderboard/LeaderboardRow.tsx
  frontend/components/leaderboard/LeaderboardSectionSeparator.tsx
  frontend/components/leaderboard/leaderboardPageMotion.ts
Due: frontend

Refactor exercises page composition
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/__tests__/unit/app/exercises/ExercisesPage.test.tsx
  frontend/app/exercises/page.tsx
  frontend/components/exercises/ExercisesPageContent.tsx
  frontend/components/exercises/ExercisesResultsView.tsx
  frontend/lib/architecture/frontendGuardrails.ts
  frontend/lib/exercises/buildExercisePageFilters.ts
  frontend/lib/exercises/exercisePageToolbarLabels.ts
  frontend/lib/exercises/exercisesPageConstants.ts
Due: frontend

Close diagnostic hook coverage gap
  frontend/__tests__/unit/hooks/useDiagnostic.test.ts
Due: frontend

Refactor diagnostic solver phases
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/__tests__/unit/components/diagnostic/DiagnosticSolver.test.tsx
  frontend/components/diagnostic/DiagnosticErrorState.tsx
  frontend/components/diagnostic/DiagnosticIdleState.tsx
  frontend/components/diagnostic/DiagnosticLoadingState.tsx
  frontend/components/diagnostic/DiagnosticQuestionState.tsx
  frontend/components/diagnostic/DiagnosticResultsState.tsx
  frontend/components/diagnostic/DiagnosticSolver.tsx
  frontend/components/diagnostic/DiagnosticSolverPrimitives.tsx
Due: frontend

Add IRT score hook tests
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/__tests__/unit/hooks/useIrtScores.test.ts
Due: frontend

Add submit answer hook tests
  frontend/__tests__/unit/hooks/useSubmitAnswer.test.ts
Due: frontend

Add AI generator hook tests
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/__tests__/unit/hooks/useAIExerciseGenerator.test.ts
Due: frontend

Co-locate pilot frontend tests
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/components/badges/BadgeCard.test.tsx
  frontend/components/diagnostic/DiagnosticSolver.test.tsx
  frontend/hooks/useDiagnostic.test.ts
  frontend/hooks/useSubmitAnswer.test.ts
Due: frontend

Close server component audit finding
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/app/docs/page.tsx
Due: frontend

Harden avatar image delivery
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/components/ui/UserAvatar.tsx
  frontend/lib/utils/userAvatarImageSource.test.ts
  frontend/lib/utils/userAvatarImageSource.ts
  frontend/next.config.ts
Due: frontend

Harden badge icon image fallback
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/__tests__/unit/components/BadgeIcon.test.tsx
  frontend/components/badges/BadgeIcon.tsx
  frontend/lib/utils/nextImageRemoteSource.test.ts
  frontend/lib/utils/nextImageRemoteSource.ts
  frontend/lib/utils/userAvatarImageSource.test.ts
  frontend/lib/utils/userAvatarImageSource.ts
Due: frontend

Fix documentation page section icons
  frontend/app/contact/page.tsx
  frontend/app/docs/page.tsx
  frontend/components/layout/PageSection.tsx
Due: frontend

Refresh frontend audit priorities
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
Due: none

Close chat image audit finding
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/__tests__/unit/components/chat/ChatMessagesView.test.tsx
  frontend/components/chat/ChatMessagesView.tsx
Due: frontend

Co-locate useAuth hook test
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/hooks/useAuth.test.ts
Due: frontend

Co-locate CSP policy test
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/lib/security/buildContentSecurityPolicy.test.ts
Due: frontend

Co-locate middleware CSP test
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/lib/security/middlewareCsp.test.ts
Due: frontend

Co-locate IRT score hook test
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/hooks/useIrtScores.test.ts
Due: frontend

Align coverage baseline metrics
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/vitest.config.ts
Due: frontend

Extract admin users page controller
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/app/admin/users/page.tsx
  frontend/hooks/useAdminUsersPageController.test.tsx
  frontend/hooks/useAdminUsersPageController.ts
Due: frontend

Path conditions:
  backend: any of: app/, server/
  frontend: any of: frontend/
