Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Configuration Codecov - Mathakine
# https://docs.codecov.com/docs/codecov-yaml

# Corriger les chemins CI (GitHub Actions) pour matcher la structure git
# Format GitHub Actions: /home/runner/work/OWNER/REPO/
fixes:
  - "/home/runner/work/[^/]+/[^/]+/::"

coverage:
  range: 40..100
  precision: 2
  round: down
  status:
    project:
      default:
        target: 45%
    patch:
      default:
        target: 40%

comment:
  layout: "reach,diff,flags,tree"

flags:
  backend:
    paths:
      - app/
      - server/
  frontend:
    paths:
      - frontend/

docs(plans): add Phase 3 tests implementation plan (3A golden tests, 3B renderer contracts, 3D deduction solver perf)
  docs/superpowers/plans/2026-04-25-phase3-tests.md
Due: none

test(challenges): fix board orientation in renderer contracts and strengthen solver tests
  tests/unit/test_challenge_deduction_solver_perf.py
  tests/unit/test_challenge_renderer_contracts.py
Due: none

docs(context): rationalize AI working memory across Claude/Codex/Superpowers/Octopus/Cursor
  .claude/session-plan.md
  .cursor/plans/archive/b1_transactions_backend_4b238fed.plan.md
  AGENTS.md
  CLAUDE.md
  docs/superpowers/plans/2026-04-25-beta-stabilisation.md
  docs/superpowers/plans/2026-04-25-cosmetic-findings.md
  docs/superpowers/specs/2026-04-26-ai-context-rationalization-design.md
Due: none

fix(auth): harmonize loguru placeholders %s -> {} in auth_service.py + sentinel
  app/services/auth/auth_service.py
  tests/unit/test_auth_service.py
Due: backend

fix(validation): classify deduction structural errors and add direct tests
  app/services/challenges/challenge_validation_error_codes.py
  tests/unit/test_challenge_validation_error_codes.py
Due: backend

fix(challenges): canonical math tokens for puzzle/deduction cross-format matching
  app/services/challenges/challenge_ordering_utils.py
  app/services/challenges/challenge_validator.py
  tests/unit/test_challenge_canonical_token.py
Due: backend

fix(docs+metrics): correct loguru migration direction in cosmetic plan, harmonize %s→{} in generation_metrics logger
  app/utils/generation_metrics.py
  docs/superpowers/plans/2026-04-25-cosmetic-findings.md
Due: backend

fix(docs): remove contradictory action steps in cosmetic plan Task 2 (task already done)
  docs/superpowers/plans/2026-04-25-cosmetic-findings.md
Due: none

fix(security): replace residual username PII with user_id in user_handlers logs
  server/handlers/user_handlers.py
Due: backend

test(fixtures): fix response_mode contract in 5 existing fixtures, add sequence/probability/graph valid golden tests, guard response_mode in regression test
  tests/challenges/test_regression_by_type.py
  tests/fixtures/challenges/chess_invalid_king_check.json
  tests/fixtures/challenges/chess_valid.json
  tests/fixtures/challenges/coding_valid.json
  tests/fixtures/challenges/deduction_invalid_format.json
  tests/fixtures/challenges/deduction_valid.json
  tests/fixtures/challenges/graph_valid.json
  tests/fixtures/challenges/probability_valid.json
  tests/fixtures/challenges/sequence_valid.json
Due: none

fix(docs): correct final verification in cosmetic plan — check %s not {} in auth_service
  docs/superpowers/plans/2026-04-25-cosmetic-findings.md
Due: none

chore(release): publish beta.5 stabilization updates
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  README_TECH.md
  app/core/config.py
  app/utils/generation_metrics.py
  docs/superpowers/plans/2026-04-27-post-review-hygiene.md
  frontend/README.md
  frontend/app/changelog/page.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  tests/challenges/test_regression_by_type.py
  tests/unit/test_challenge_ai_safe_errors.py
Due: backend, frontend

docs(release): align public readmes to beta.5
  README.md
  README_TECH.md
  docs/00-REFERENCE/GETTING_STARTED.md
  docs/BETA_GUIDE.md
  docs/INDEX.md
Due: none

docs: align technical context with beta.5 stabilization
  AGENTS.md
  CLAUDE.md
  README.md
  README_TECH.md
  app/core/app_model_policy.py
  app/core/config.py
  docs/00-REFERENCE/AI_MODEL_GOVERNANCE.md
  docs/01-GUIDES/TESTING.md
  docs/03-PROJECT/PLAN_CHALLENGE_GENERATION_SOLIDIFICATION_2026-04-22.md
Due: backend

docs(quality): add challenge quality improvement design spec
  docs/superpowers/specs/2026-04-28-challenge-quality-improvement-design.md
Due: none

docs(quality): clarify loguru convention in challenge quality spec
  docs/superpowers/specs/2026-04-28-challenge-quality-improvement-design.md
Due: none

docs(quality): apply founder review adjustments to challenge quality spec
  docs/superpowers/specs/2026-04-28-challenge-quality-improvement-design.md
Due: none

docs(quality): add validator rejection and prompt size risks to spec
  docs/superpowers/specs/2026-04-28-challenge-quality-improvement-design.md
Due: none

docs(quality): add challenge quality improvement implementation plan
  docs/superpowers/plans/2026-04-28-challenge-quality-improvement.md
Due: none

test(prompt): add size budget guard — baseline max=8776 chars, limit=11000
  tests/unit/test_challenge_prompt_size_budget.py
Due: none

test(prompt): fix parametrize order, derive age groups from AGE_GROUP_PARAMS, add lower bound
  tests/unit/test_challenge_prompt_size_budget.py
Due: none

feat(quality): add challenge variety seeds library (VarietySeed + pick_variety_seed)
  app/services/challenges/challenge_variety_seeds.py
Due: backend

feat(quality): add 4 pedagogical quality sections to challenge prompt
  app/services/challenges/challenge_prompt_sections.py
Due: backend

feat(quality): update system prompt order + inject VarietySeed in user prompt
  app/services/challenges/challenge_prompt_composition.py
  app/services/challenges/challenge_prompt_sections.py
Due: backend

refactor(prompts): explicit is-not-None guard, remove orphan constant, drop redundant string literal
  app/services/challenges/challenge_prompt_composition.py
  app/services/challenges/challenge_prompt_sections.py
Due: backend

feat(challenges): inject variety seed into challenge generation prompt
  app/services/challenges/challenge_ai_service.py
Due: backend

fix(quality): apply post-review findings P1+P2+P3 on variety seeds
  app/services/challenges/challenge_ai_service.py
  app/services/challenges/challenge_prompt_composition.py
  app/services/challenges/challenge_prompt_sections.py
  app/services/challenges/challenge_variety_seeds.py
  tests/unit/test_challenge_prompt_size_budget.py
  tests/unit/test_challenge_variety_seeds.py
Due: backend

docs(audit): add documentation alignment audit design spec
  docs/superpowers/specs/2026-04-28-doc-audit-design.md
Due: none

docs(audit): add documentation alignment implementation plan
  docs/superpowers/plans/2026-04-28-doc-audit.md
Due: none

docs(audit): add ground-truth snapshot v3.6.0-beta.5
  docs/superpowers/specs/2026-04-28-ground-truth-snapshot.md
Due: none

docs(audit): align root docs to ground-truth v3.6.0-beta.5
  AGENTS.md
  README_TECH.md
Due: none

docs(audit): align 00-REFERENCE to ground-truth v3.6.0-beta.5
  docs/00-REFERENCE/AI_MODEL_GOVERNANCE.md
  docs/00-REFERENCE/ARCHITECTURE.md
  docs/00-REFERENCE/DATA_MODEL.md
  docs/00-REFERENCE/GETTING_STARTED.md
  docs/00-REFERENCE/README.md
Due: none

docs(audit): align 02-FEATURES to ground-truth v3.6.0-beta.5
  docs/02-FEATURES/ANALYTICS_SERVICE.md
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/CHALLENGE_CONTRACT_IA9.md
  docs/02-FEATURES/PARENT_DASHBOARD_AND_CHILD_LINKS.md
Due: none

docs(audit): align 01-GUIDES to ground-truth v3.6.0-beta.5
  docs/01-GUIDES/CONTRIBUTING.md
  docs/01-GUIDES/DEPLOYMENT_ENV.md
  docs/01-GUIDES/ENV_CHECK.md
  docs/01-GUIDES/PRODUCTION_RUNBOOK.md
  docs/01-GUIDES/TESTER_MODIFICATIONS_SECURITE.md
  docs/01-GUIDES/TESTING.md
Due: none

docs(audit): align 03-PROJECT to ground-truth v3.6.0-beta.5
  docs/03-PROJECT/ANALYSE_DEPENDANCES_ET_OPPORTUNITES_2026-04-13.md
  docs/03-PROJECT/AUDIT_AI_MODEL_POLICY_2026-04-19.md
  docs/03-PROJECT/AUDIT_FRONTEND_STANDARDISATION_2026-03-29.md
  docs/03-PROJECT/CURSOR_MAX_EFFORT_BACKEND_PROTOCOL_2026-03-11.md
  docs/03-PROJECT/NOTE_CHALLENGE_DIFFICULTY_CALIBRATION_AUDIT_2026-04-19.md
  docs/03-PROJECT/PLAN_CHALLENGE_GENERATION_QUALITY_LLM_BEST_PRACTICES_2026-04-28.md
  docs/03-PROJECT/PLAN_CHALLENGE_GENERATION_SOLIDIFICATION_2026-04-22.md
  docs/03-PROJECT/PLAN_FEATURE_B_EXERCISE_SKILL_STATE_POST_BETA_2026-04-18.md
  docs/03-PROJECT/POLITIQUE_REDACTION_LOGS_PII.md
  docs/03-PROJECT/RAPPORT_REVUE_DOCUMENTAIRE_2026-04-16.md
Due: none

docs(audit): align superpowers specs/plans to ground-truth v3.6.0-beta.5
  docs/superpowers/plans/2026-04-25-cosmetic-findings.md
  docs/superpowers/plans/2026-04-25-phase3-tests.md
  docs/superpowers/plans/2026-04-28-challenge-quality-improvement.md
  docs/superpowers/specs/2026-04-25-beta-stabilisation-design.md
  docs/superpowers/specs/2026-04-25-phase3-tests-design.md
  docs/superpowers/specs/2026-04-26-ai-context-rationalization-design.md
  docs/superpowers/specs/2026-04-28-challenge-quality-improvement-design.md
Due: none

docs(audit): align isolated docs to ground-truth v3.6.0-beta.5
  AGENTS.md
Due: none

chore: align challenge quality formatting and response mode plan
  app/services/challenges/challenge_ai_service.py
  app/services/challenges/challenge_prompt_composition.py
  app/services/challenges/challenge_variety_seeds.py
  docs/superpowers/plans/2026-04-27-post-review-hygiene.md
  tests/unit/test_challenge_prompt_size_budget.py
  tests/unit/test_challenge_variety_seeds.py
Due: backend
