Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Configuration Codecov - Mathakine
# https://docs.codecov.com/docs/codecov-yaml

# Corriger les chemins CI (GitHub Actions) pour matcher la structure git
# Format GitHub Actions: /home/runner/work/OWNER/REPO/
fixes:
  - "/home/runner/work/[^/]+/[^/]+/::"

coverage:
  range: 40..100
  precision: 2
  round: down
  status:
    project:
      default:
        target: 45%
    patch:
      default:
        target: 40%

comment:
  layout: "reach,diff,flags,tree"

flags:
  backend:
    paths:
      - app/
      - server/
  frontend:
    paths:
      - frontend/

sychro
  frontend/app/exercises/interleaved/page.tsx
  frontend/components/exercises/ExerciseSolver.tsx
Due: frontend

Alignement post-impl: lots 1-5 (analytics interleaved, robustesse, DRY adaptive, black/UTF-8, hygiene repo)
  .gitignore
  CHANGELOG.md
  README_TECH.md
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/EDTECH_ANALYTICS.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/03-PROJECT/GUIDAGE_CURSOR_ALIGNEMENT_POST_IMPL_2026-03-08.md
  docs/03-PROJECT/IMPLEMENTATION_F32_SESSION_ENTRELACEE.md
  docs/03-PROJECT/README.md
  docs/INDEX.md
  frontend/app/challenges/page.tsx
  frontend/app/exercises/interleaved/page.tsx
  frontend/components/exercises/ExerciseSolver.tsx
  frontend/junit.xml
  frontend/lib/analytics/edtech.ts
  server/handlers/exercise_handlers.py
  tests/api/test_admin_users_delete.py
  tests/api/test_exercise_endpoints.py
  tests/unit/test_adaptive_difficulty_service.py
  tests/unit/test_exercise_generator.py
  tests/unit/test_exercise_handlers.py
  tests/unit/test_exercise_service.py
  tests/unit/test_logic_challenge_service.py
  tests/unit/utils/test_latex_utils.py
Due: backend, frontend

Lot 4: extraction maze (solve_maze_bfs, validate_maze_path) + gate black
  app/services/challenge_validator.py
  app/services/maze_validator.py
  tests/api/test_exercise_endpoints.py
  tests/unit/test_maze_validator.py
Due: backend

style: fix ci formatting checks
  app/services/exercise_attempt_service.py
  app/services/exercise_generation_service.py
  frontend/__tests__/unit/app/exercises/InterleavedPage.test.tsx
  server/handlers/auth_handlers.py
  server/handlers/exercise_handlers.py
Due: backend, frontend

fix(tests): test_logic_challenge_correct_answer - utiliser challenge_with_hints_id pour defi deterministe
  tests/functional/test_logic_challenge_isolated.py
Due: none

docs: restore readme badges and refresh changelog
  CHANGELOG.md
  README.md
Due: none

chore: close post-refactor quick wins
  docs/03-PROJECT/DELTA_RESTANT_POST_ITERATION_BACKEND_2026-03-09.md
  docs/03-PROJECT/DELTA_RESTANT_POST_ITERATION_BACKEND_CHALLENGE_ADMIN_BADGE_2026-03-11.md
  docs/03-PROJECT/ENDPOINTS_NON_INTEGRES.md
  docs/03-PROJECT/PILOTAGE_CURSOR_BACKEND_CONTRACTS_HARDENING_B56_MYPY_SMALL_SERVICES_2026-03-14.md
  docs/03-PROJECT/PILOTAGE_CURSOR_BACKEND_ERROR_BRANCH_PROOF_2026-03-14.md
  docs/03-PROJECT/PILOTAGE_CURSOR_FRONTEND_ADMIN_ACADEMY_STATS_2026-03-14.md
  docs/03-PROJECT/PILOTAGE_CURSOR_FRONTEND_F36_AUTH_REFRESH_2026-03-14.md
  frontend/__tests__/unit/components/admin/AdminAcademyStatsSection.test.tsx
  frontend/app/admin/page.tsx
  frontend/components/admin/AdminAcademyStatsSection.tsx
  pyproject.toml
  tests/api/test_admin_analytics.py
Due: frontend

fix: remove bom from pytest config
  pytest.ini
Due: none

refactor: close production hardening iteration
  .github/workflows/tests.yml
  .gitignore
  app/core/config.py
  app/core/monitoring.py
  app/core/security.py
  app/services/challenge_stream_service.py
  app/services/diagnostic_service.py
  app/utils/rate_limit.py
  app/utils/rate_limit_store.py
  enhanced_server.py
  frontend/components/diagnostic/DiagnosticSolver.tsx
  frontend/hooks/useDiagnostic.ts
  server/app.py
  server/handlers/chat_handlers.py
  server/handlers/diagnostic_handlers.py
  tests/api/test_chat_endpoints.py
  tests/api/test_diagnostic_endpoints.py
  tests/unit/test_challenge_validation_analysis.py
  tests/unit/test_rate_limit.py
  tests/unit/test_rate_limit_store.py
Due: backend, frontend

feat: harden sentry integration and render config
  .env.example
  README_TECH.md
  app/core/monitoring.py
  app/utils/error_handler.py
  docs/01-GUIDES/DEPLOYMENT_ENV.md
  docs/01-GUIDES/SENTRY_MONITORING.md
  docs/INDEX.md
  frontend/.env.example
  frontend/app/api/sentry-status/route.ts
  frontend/instrumentation-client.ts
  frontend/sentry.edge.config.ts
  frontend/sentry.server.config.ts
  render.yaml
  server/error_handlers.py
  server/handlers/analytics_handlers.py
  server/handlers/auth_handlers.py
  server/handlers/daily_challenge_handlers.py
  server/handlers/user_handlers.py
  tests/api/test_diagnostic_endpoints.py
  tests/conftest.py
  tests/unit/test_auth_service.py
  tests/unit/test_csrf_middleware.py
  tests/unit/test_error_handler.py
  tests/unit/test_exercise_service.py
  tests/unit/test_progress_timeline_service.py
  tests/unit/test_token_tracker.py
Due: backend, frontend

docs: update CHANGELOG and README_TECH for Lots G closure
  CHANGELOG.md
  README_TECH.md
Due: none

fix(frontend): progress_detail exactOptionalPropertyTypes in badges page
  frontend/app/badges/page.tsx
Due: frontend

style(frontend): prettier badges page and BadgeCard
  frontend/app/badges/page.tsx
  frontend/components/badges/BadgeCard.tsx
Due: frontend

fix(ci): db_init alembic path and fallback for already-exists
  CHANGELOG.md
  app/services/core/db_init_service.py
  frontend/app/changelog/page.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package.json
Due: backend, frontend

style: black + prettier formatting
  app/services/core/db_init_service.py
  frontend/messages/en.json
  frontend/messages/fr.json
Due: backend, frontend

feat(recommendations): close recommendation remediation iteration R
  app/models/recommendation.py
  app/schemas/recommendation.py
  app/services/recommendation/recommendation_exercise_ranking.py
  app/services/recommendation/recommendation_exercise_reasons.py
  app/services/recommendation/recommendation_service.py
  app/services/recommendation/recommendation_user_context.py
  app/utils/exercise_type_normalization.py
  migrations/versions/20260320_add_recommendation_reason_i18n.py
  scripts/fix_recommendations_schema_for_tests.py
  server/handlers/recommendation_handlers.py
  server/routes/misc.py
  tests/api/test_recommendation_endpoints.py
  tests/conftest.py
  tests/unit/test_recommendation_service.py
  tests/utils/test_data_cleanup.py
Due: backend

feat(frontend): align dashboard recommendations and exports
  frontend/__tests__/unit/components/QuickStartActions.test.tsx
  frontend/__tests__/unit/hooks/useRecommendationsReason.test.ts
  frontend/app/changelog/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/components/dashboard/DailyChallengesWidget.tsx
  frontend/components/dashboard/ExportButton.tsx
  frontend/components/dashboard/QuickStartActions.tsx
  frontend/components/dashboard/Recommendations.tsx
  frontend/hooks/useRecommendations.ts
  frontend/lib/dashboard/__tests__/buildDashboardExportSnapshot.test.ts
  frontend/lib/dashboard/buildDashboardExportSnapshot.ts
  frontend/lib/dashboard/exportFormatLabels.ts
  frontend/lib/utils/exportExcel.ts
  frontend/lib/utils/exportPDF.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

docs(release): close recommendation iteration and bump visible version to 3.2.0-alpha.1
  CHANGELOG.md
  README.md
  README_TECH.md
  docs/03-PROJECT/CLOTURE_LOT_R3_REMEDIATION_MOTEUR_RECOMMANDATIONS_EXERCICE_2026-03-20.md
  docs/03-PROJECT/POINTS_RESTANTS_2026-03-15.md
  docs/03-PROJECT/README.md
  docs/03-PROJECT/RECOMMENDATION_FEEDBACK_LIFECYCLE_R4_2026-03-20.md
  docs/03-PROJECT/RECOMMENDATION_R5_CHALLENGE_REASON_I18N_2026-03-20.md
  docs/03-PROJECT/RECOMMENDATION_R6_EXERCISE_DISCOVERY_AND_REASONS_2026-03-21.md
  docs/03-PROJECT/RECOMMENDATION_R7_CLOSURE_ITERATION_R_2026-03-21.md
  docs/INDEX.md
  frontend/README.md
  frontend/package.json
  pyproject.toml
Due: frontend

chore(dev): align local API defaults to port 10000
  app/core/config.py
  docs/00-REFERENCE/GETTING_STARTED.md
  docs/01-GUIDES/LANCER_SERVEUR_TEST.md
  docs/01-GUIDES/MAINTENANCE.md
  docs/01-GUIDES/TROUBLESHOOTING.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/06-WIDGETS/ENDPOINTS_PROGRESSION.md
  enhanced_server.py
  frontend/TROUBLESHOOTING.md
  frontend/app/api/chat/route.ts
  frontend/app/api/chat/stream/route.ts
  server/app.py
Due: backend, frontend

test(frontend): fix exactOptionalPropertyTypes cases
  frontend/__tests__/unit/hooks/useRecommendationsReason.test.ts
  frontend/lib/dashboard/__tests__/buildDashboardExportSnapshot.test.ts
Due: frontend

docs(changelog): fix encoding artifact in release notes
  CHANGELOG.md
Due: none

feat(dashboard): refine progression scope and realign features backlog
  docs/02-FEATURES/ADMIN_ESPACE_PROPOSITION.md
  docs/02-FEATURES/ANALYTICS_PROGRESSION.md
  docs/02-FEATURES/BADGES_AMELIORATIONS.md
  docs/02-FEATURES/README.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/02-FEATURES/WORKFLOW_EDUCATION_REFACTORING.md
  docs/INDEX.md
  frontend/__tests__/unit/lib/headerTimeRangeScope.test.ts
  frontend/__tests__/unit/lib/practiceConsistency.test.ts
  frontend/app/dashboard/page.tsx
  frontend/components/dashboard/CategoryAccuracyChart.tsx
  frontend/components/dashboard/ChallengesProgressWidget.tsx
  frontend/components/dashboard/DailyExercisesChart.tsx
  frontend/components/dashboard/DashboardDataScopeBadge.tsx
  frontend/components/dashboard/PracticeConsistencyWidget.tsx
  frontend/components/dashboard/ProgressTimelineWidget.tsx
  frontend/components/dashboard/TimeRangeSelector.tsx
  frontend/components/dashboard/VolumeByTypeChart.tsx
  frontend/lib/dashboard/headerTimeRangeScope.ts
  frontend/lib/dashboard/practiceConsistency.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

docs: audit documentaire global et corrections non-conformites (2026-03-22)
  docs/00-REFERENCE/AI_MODEL_GOVERNANCE.md
  docs/00-REFERENCE/GETTING_STARTED.md
  docs/01-GUIDES/QU_EST_CE_QUE_VENV.md
  docs/01-GUIDES/TROUBLESHOOTING.md
  docs/02-FEATURES/AUTH_FLOW.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/03-PROJECT/AUDIT_DOCUMENTATION_2026-03-22.md
  docs/04-FRONTEND/ARCHITECTURE.md
Due: none

fix(frontend): render math correctly in chat responses
  frontend/README.md
  frontend/TROUBLESHOOTING.md
  frontend/__tests__/unit/components/chat/ChatMessagesView.test.tsx
  frontend/components/chat/ChatMessagesView.tsx
  frontend/components/ui/MathText.tsx
Due: frontend

fix(gamification): guard with_for_update to PostgreSQL only (SQLite compat)
  app/services/gamification/gamification_service.py
  tests/unit/test_gamification_service.py
Due: backend

feat(gamification): apply points on correct exercise answer (EXERCISE_COMPLETED source)
  app/services/exercises/exercise_attempt_service.py
  app/services/gamification/point_source.py
  tests/unit/test_answer_validation.py
  tests/unit/test_answer_validation_formats.py
  tests/unit/test_exercise_service.py
  tests/unit/test_gamification_service.py
Due: backend

perf(challenges): replace func.random() O(n) with random_offset O(1) fallback
  app/services/challenges/challenge_service.py
  tests/unit/test_challenge_service.py
Due: backend
