Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Configuration Codecov - Mathakine
# https://docs.codecov.com/docs/codecov-yaml

# Corriger les chemins CI (GitHub Actions) pour matcher la structure git
# Format GitHub Actions: /home/runner/work/OWNER/REPO/
fixes:
  - "/home/runner/work/[^/]+/[^/]+/::"

coverage:
  range: 40..100
  precision: 2
  round: down
  status:
    project:
      default:
        target: 45%
    patch:
      default:
        target: 40%

comment:
  layout: "reach,diff,flags,tree"

flags:
  backend:
    paths:
      - app/
      - server/
  frontend:
    paths:
      - frontend/

fix(chatbot): position sous navbar + CSRF 403 en production
  frontend/components/home/ChatbotFloating.tsx
  server/middleware.py
Due: backend, frontend

feat(dashboard): refonte Premium EdTech Glassmorphism - Vue d'ensemble
  frontend/app/dashboard/page.tsx
  frontend/components/dashboard/QuickStartActions.tsx
  frontend/components/dashboard/StatsCard.tsx
  frontend/components/dashboard/StreakWidget.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

style(dashboard): micro-polish QuickStart CTA + StreakWidget breathing room
  frontend/components/dashboard/QuickStartActions.tsx
  frontend/components/dashboard/StreakWidget.tsx
Due: frontend

style: prettier format dashboard/page.tsx + StatsCard.tsx
  frontend/app/dashboard/page.tsx
  frontend/components/dashboard/StatsCard.tsx
Due: frontend

feat(dashboard): refonte Recommendations - Premium EdTech Glassmorphism
  frontend/components/dashboard/Recommendations.tsx
Due: frontend

feat(frontend): refonte Premium EdTech - Progression, Details, Classement + DRY audit
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/PLACEHOLDERS_ET_TODO.md
  frontend/app/dashboard/page.tsx
  frontend/app/leaderboard/page.tsx
  frontend/components/dashboard/AverageTimeWidget.tsx
  frontend/components/dashboard/CategoryAccuracyChart.tsx
  frontend/components/dashboard/ChallengesProgressWidget.tsx
  frontend/components/dashboard/DailyExercisesChart.tsx
  frontend/components/dashboard/LeaderboardWidget.tsx
  frontend/components/dashboard/LevelIndicator.tsx
  frontend/components/dashboard/ProgressChart.tsx
  frontend/components/dashboard/RecentActivity.tsx
  frontend/components/ui/UserAvatar.tsx
  frontend/lib/constants/leaderboard.ts
  frontend/lib/utils/avatar.ts
  frontend/lib/utils/chart.ts
  frontend/lib/utils/format.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

feat(frontend): refonte UI Premium EdTech - Pages Exercice, Defi et Modal
  frontend/__tests__/unit/components/ExerciseCard.test.tsx
  frontend/app/challenge/[id]/page.tsx
  frontend/app/challenges/page.tsx
  frontend/app/exercises/page.tsx
  frontend/app/globals.css
  frontend/components/challenges/AIGenerator.tsx
  frontend/components/challenges/ChallengeCard.tsx
  frontend/components/challenges/ChallengeSolver.tsx
  frontend/components/exercises/AIGenerator.tsx
  frontend/components/exercises/ExerciseCard.tsx
  frontend/components/exercises/ExerciseGenerator.tsx
  frontend/components/exercises/ExerciseModal.tsx
  frontend/components/exercises/ExerciseSolver.tsx
  frontend/components/exercises/UnifiedExerciseGenerator.tsx
  frontend/components/shared/AIGeneratorBase.tsx
  frontend/components/shared/CompactListItem.tsx
  frontend/components/shared/ContentCardBase.tsx
  frontend/hooks/useAIExerciseGenerator.ts
  frontend/lib/constants/challenges.ts
  frontend/lib/constants/exercises.ts
  frontend/lib/utils/animation.ts
  frontend/lib/utils/format.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

release: v2.5.0-alpha.2 - refonte UI Premium EdTech Pages Exercice et Defi
  CHANGELOG.md
  docs/04-FRONTEND/DESIGN_SYSTEM.md
  frontend/app/changelog/page.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package.json
Due: frontend

feat(F01): rendu Markdown+KaTeX pour exercices et défis
  app/services/challenge_ai_service.py
  app/services/chat_service.py
  app/services/exercise_ai_service.py
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  frontend/app/globals.css
  frontend/components/challenges/ChallengeSolver.tsx
  frontend/components/exercises/ExerciseSolver.tsx
  frontend/components/ui/MathText.tsx
  frontend/package-lock.json
  frontend/package.json
  server/exercise_generator.py
Due: backend, frontend

release: 2.5.0-alpha.3 — F03 diagnostic adaptatif + compatibilité thèmes
  CHANGELOG.md
  app/core/constants.py
  app/core/messages.py
  app/models/all_models.py
  app/models/diagnostic_result.py
  app/models/user.py
  app/services/chat_service.py
  app/services/diagnostic_service.py
  app/services/recommendation_service.py
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  frontend/app/changelog/page.tsx
  frontend/app/diagnostic/page.tsx
  frontend/app/onboarding/page.tsx
  frontend/app/settings/page.tsx
  frontend/components/challenges/ChallengeSolver.tsx
  frontend/components/diagnostic/DiagnosticSolver.tsx
  frontend/components/exercises/ExerciseModal.tsx
  frontend/components/exercises/ExerciseSolver.tsx
  frontend/components/settings/SaveButton.tsx
  frontend/components/ui/MathText.tsx
  frontend/hooks/useDiagnostic.ts
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package.json
  migrations/versions/20260304_add_diagnostic_results.py
  scripts/reset_onboarding_all_users.py
  server/exercise_generator.py
  server/exercise_generator_helpers.py
  server/handlers/diagnostic_handlers.py
  server/routes/__init__.py
  server/routes/diagnostic.py
Due: backend, frontend

chore: version 3.0.0-alpha.3 (MAJOR — F03 diagnostic adaptatif)
  CHANGELOG.md
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package.json
Due: frontend

fix: import DiagnosticResult dans env.py et db_init_service pour base test CI
  app/services/db_init_service.py
  migrations/env.py
Due: backend

fix: ajouter katex comme dependance directe pour le CSS en prod
  frontend/package-lock.json
  frontend/package.json
Due: frontend

style: reformatage black et isort sur 7 fichiers Python (CI lint)
  app/core/messages.py
  app/services/db_init_service.py
  app/services/diagnostic_service.py
  app/services/recommendation_service.py
  server/exercise_generator.py
  server/exercise_generator_helpers.py
  server/handlers/diagnostic_handlers.py
Due: backend

fix: migrations idempotentes sur base vierge pour CI
  app/services/db_init_service.py
  migrations/versions/20250107_add_missing_enum_values.py
  migrations/versions/20260304_add_diagnostic_results.py
  migrations/versions/initial_snapshot.py
Due: backend

fix: initial_snapshot users - ajouter colonnes manquantes (learning_style, preferred_*, current_level, etc.)
  migrations/versions/initial_snapshot.py
Due: none

fix: initial_snapshot - completer schema attempts, recommendations, progress, achievements
  migrations/versions/initial_snapshot.py
Due: none

fix: katex fonts manquantes en prod - importer katex.min.css dans MathText.tsx
  frontend/app/globals.css
  frontend/components/ui/MathText.tsx
Due: frontend

feat: MathText dans ExerciseModal - rendu LaTeX dans la question, choix, explication et indice
  frontend/components/exercises/ExerciseModal.tsx
Due: frontend

fix: renouvellement automatique du token CSRF sur 403 - retry transparent sans reconnexion
  frontend/lib/api/client.ts
Due: frontend

feat(core): release 3.1.0-alpha.3 avec adaptation dynamique F05 et diag F03
  CHANGELOG.md
  README_TECH.md
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/F03_DIAGNOSTIC_INITIAL.md
  docs/02-FEATURES/F04_REVISIONS_ESPACEES.md
  docs/02-FEATURES/F05_ADAPTATION_DYNAMIQUE.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/03-PROJECT/ENDPOINTS_NON_INTEGRES.md
  docs/03-PROJECT/README.md
  docs/INDEX.md
  frontend/app/changelog/page.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package.json
Due: frontend

style: fix formatting in frontend
  frontend/app/changelog/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/components/dashboard/LevelEstablishedWidget.tsx
  frontend/components/exercises/ExerciseModal.tsx
  frontend/components/exercises/ExerciseSolver.tsx
  frontend/hooks/useIrtScores.ts
  frontend/types/api.ts
Due: frontend

fix: resolve modal closing issue and typescript errors
  frontend/components/dashboard/LevelEstablishedWidget.tsx
  frontend/components/exercises/ExerciseCard.tsx
  frontend/hooks/useIrtScores.ts
Due: frontend

style: run prettier to fix formatting
  frontend/components/dashboard/LevelEstablishedWidget.tsx
  frontend/hooks/useIrtScores.ts
Due: frontend

style: fix formatting issues (Prettier & Black)
  app/models/daily_challenge.py
  app/services/adaptive_difficulty_service.py
  frontend/app/about/page.tsx
  frontend/app/docs/page.tsx
  server/exercise_generator_helpers.py
Due: backend, frontend

feat(frontend): refine profile and settings UX
  docs/02-FEATURES/F34_SCIENCES_PROTOTYPE.html
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  frontend/app/profile/page.tsx
  frontend/app/settings/page.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

fix(frontend): resolve lint regressions
  frontend/app/profile/page.tsx
  frontend/app/settings/page.tsx
  frontend/components/diagnostic/DiagnosticSolver.tsx
  frontend/components/exercises/ExerciseModal.tsx
  frontend/components/home/ChatbotFloating.tsx
  frontend/hooks/useDiagnostic.ts
Due: frontend

style(frontend): apply prettier formatting fixes
  frontend/app/profile/page.tsx
  frontend/app/settings/page.tsx
  frontend/components/exercises/ExerciseModal.tsx
  frontend/hooks/useDiagnostic.ts
Due: frontend

feat: Hero premium, toolbars compactes, modal exercice, fix LaTeX fractions
  app/services/challenge_ai_service.py
  app/services/exercise_ai_service.py
  app/utils/latex_utils.py
  frontend/app/challenges/page.tsx
  frontend/app/exercises/page.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/LogoBadge.tsx
  frontend/components/challenges/AIGenerator.tsx
  frontend/components/exercises/ExerciseModal.tsx
  frontend/components/exercises/UnifiedExerciseGenerator.tsx
  frontend/components/home/AcademyStatsWidget.tsx
  frontend/components/home/ChatbotFloatingGlobal.tsx
  frontend/components/layout/Header.tsx
  frontend/components/layout/PageLayout.tsx
  frontend/components/shared/AIGeneratorBase.tsx
  frontend/components/ui/MathText.tsx
  frontend/lib/stores/chatStore.ts
  frontend/messages/en.json
  frontend/messages/fr.json
  tests/unit/utils/test_latex_utils.py
Due: backend, frontend

chore(release): v3.1.0-alpha.5 - CI fixes, changelog, UI polish
  CHANGELOG.md
  app/services/auth_service.py
  app/utils/latex_utils.py
  frontend/app/challenges/page.tsx
  frontend/app/changelog/page.tsx
  frontend/app/exercises/page.tsx
  frontend/app/page.tsx
  frontend/components/LogoBadge.tsx
  frontend/components/exercises/ExerciseModal.tsx
  frontend/components/exercises/UnifiedExerciseGenerator.tsx
  frontend/components/layout/Header.tsx
  frontend/components/shared/AIGeneratorBase.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package.json
  tests/unit/test_auth_service.py
Due: backend, frontend

feat(badges): Showcase+Expand UX, tooltips Derniers Exploits, CI fixes
  app/core/types.py
  frontend/__tests__/unit/components/ExerciseModal.test.tsx
  frontend/app/badges/page.tsx
  frontend/components/badges/BadgeGrid.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: backend, frontend

style: Prettier badges page
  frontend/app/badges/page.tsx
Due: frontend

feat(admin): suppression utilisateur + refactor EdTech analytics
  app/services/admin_service.py
  app/services/admin_user_service.py
  app/services/analytics_service.py
  docs/02-FEATURES/EDTECH_ANALYTICS.md
  frontend/__tests__/unit/app/admin/AdminAnalyticsPage.test.tsx
  frontend/app/admin/analytics/page.tsx
  frontend/app/admin/users/page.tsx
  frontend/hooks/useAdminUsers.ts
  frontend/lib/analytics/edtech.ts
  scripts/cleanup_edtech_aberrant_data.py
  scripts/truncate_edtech_events.py
  scripts/verify_user_deletion.py
  server/handlers/admin_handlers.py
  server/routes/admin.py
  tests/api/test_admin_analytics.py
  tests/api/test_admin_users_delete.py
Due: backend, frontend

style: fix Prettier + Black formatting (format:check, black --check)
  app/services/admin_user_service.py
  frontend/__tests__/unit/app/admin/AdminAnalyticsPage.test.tsx
  frontend/app/admin/users/page.tsx
  frontend/hooks/useAdminUsers.ts
Due: backend, frontend

feat(f33): implement growth mindset feedback and document rollout
  CHANGELOG.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/INDEX.md
  frontend/components/challenges/ChallengeSolver.tsx
  frontend/components/diagnostic/DiagnosticSolver.tsx
  frontend/components/exercises/ExerciseModal.tsx
  frontend/components/exercises/ExerciseSolver.tsx
  frontend/components/ui/GrowthMindsetHint.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

feat(f07): add progress timeline API and dashboard widget
  CHANGELOG.md
  app/services/progress_timeline_service.py
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/03-PROJECT/IMPLEMENTATION_F07_TIMELINE.md
  docs/INDEX.md
  frontend/__tests__/unit/hooks/useProgressTimeline.test.tsx
  frontend/app/dashboard/page.tsx
  frontend/components/dashboard/ProgressTimelineWidget.tsx
  frontend/hooks/useProgressTimeline.ts
  frontend/lib/utils/format.ts
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package.json
  server/handlers/user_handlers.py
  server/routes/users.py
  tests/api/test_progress_endpoints.py
  tests/unit/test_progress_timeline_service.py
Due: backend, frontend

feat(F07+UX): timeline progression, volume par type, dates lisibles
  CHANGELOG.md
  app/services/progress_timeline_service.py
  app/services/user_service.py
  frontend/__tests__/unit/hooks/useProgressTimeline.test.tsx
  frontend/app/dashboard/page.tsx
  frontend/components/dashboard/ProgressTimelineWidget.tsx
  frontend/components/dashboard/VolumeByTypeChart.tsx
  frontend/components/dashboard/VolumeByTypeChartLazy.tsx
  frontend/hooks/useProgressStats.ts
  frontend/lib/utils/format.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: backend, frontend
