Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Configuration Codecov - Mathakine
# https://docs.codecov.com/docs/codecov-yaml

# Corriger les chemins CI (GitHub Actions) pour matcher la structure git
# Format GitHub Actions: /home/runner/work/OWNER/REPO/
fixes:
  - "/home/runner/work/[^/]+/[^/]+/::"

coverage:
  range: 40..100
  precision: 2
  round: down
  status:
    project:
      default:
        target: 45%
    patch:
      default:
        target: 40%

comment:
  layout: "reach,diff,flags,tree"

flags:
  backend:
    paths:
      - app/
      - server/
  frontend:
    paths:
      - frontend/

Recalibrate Vitest coverage gates for CI
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/vitest.config.ts
Due: frontend

Co-locate AI generator hook test
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/hooks/useAIExerciseGenerator.test.ts
Due: frontend

Co-locate settings and badges hook tests
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/hooks/useBadgesPageController.test.ts
  frontend/hooks/useSettingsPageController.test.ts
Due: frontend

Co-locate dashboard hook test
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/hooks/useDashboardPageController.test.ts
Due: frontend

Co-locate content list hook test
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/hooks/useContentListPageController.test.tsx
Due: frontend

Co-locate solver hook tests and align docs
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  docs/03-PROJECT/IMPLEMENTATION_F32_SESSION_ENTRELACEE.md
  docs/04-FRONTEND/HOOKS_CATALOGUE.md
  frontend/hooks/useChallengeSolverController.test.tsx
  frontend/hooks/useExerciseSolverController.test.ts
Due: frontend

Co-locate micro and progress hook tests
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/hooks/useAccessibleAnimation.test.ts
  frontend/hooks/useAdminContentPageController.test.ts
  frontend/hooks/useChallengeTranslations.test.tsx
  frontend/hooks/useChallengesStats.test.tsx
  frontend/hooks/useCompletedItems.test.tsx
  frontend/hooks/usePaginatedContent.test.tsx
  frontend/hooks/useProgressTimeline.test.tsx
  frontend/hooks/useRecommendationsReason.test.ts
Due: frontend

Co-locate chat hook test
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/hooks/chat/useChat.test.tsx
Due: frontend

Co-locate guest chat access hook test
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/hooks/chat/useGuestChatAccess.test.tsx
Due: frontend

Co-locate profile hook test
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/hooks/useProfilePageController.test.ts
Due: frontend

Extract admin AI monitoring page controller
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/app/admin/ai-monitoring/page.tsx
  frontend/hooks/useAdminAiMonitoringPageController.test.tsx
  frontend/hooks/useAdminAiMonitoringPageController.ts
Due: frontend

Deduplicate challenge visualization color maps
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  docs/03-PROJECT/AUDIT_FRONTEND_STANDARDISATION_2026-03-29.md
  frontend/components/challenges/visualizations/ProbabilityRenderer.tsx
  frontend/components/challenges/visualizations/VisualRenderer.tsx
  frontend/components/challenges/visualizations/_colorMap.test.ts
  frontend/components/challenges/visualizations/_colorMap.ts
Due: frontend

Align Vitest package ranges and backlog notes
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Align eslint-config-next with Next 16.2.3
  frontend/package-lock.json
  frontend/package.json
Due: frontend

Expose concrete Starlette app for gunicorn entrypoint
  enhanced_server.py
  tests/integration/test_enhanced_server_entrypoint.py
Due: none

Co-locate chat and visualization component tests
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/components/challenges/visualizations/VisualRenderer.symmetry.test.tsx
  frontend/components/challenges/visualizations/VisualizationRenderers.test.tsx
  frontend/components/chat/ChatMessagesView.test.tsx
  frontend/components/chat/ChatbotFloating.test.tsx
  frontend/components/chat/ChatbotFloatingGlobal.test.tsx
Due: frontend

Document Python dependency upgrade opportunities
  docs/03-PROJECT/ANALYSE_DEPENDANCES_ET_OPPORTUNITES_2026-04-13.md
Due: none

Co-locate badge component tests
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/__tests__/unit/components/BadgeCard.test.tsx
  frontend/components/badges/BadgeCard.test.tsx
  frontend/components/badges/BadgeIcon.test.tsx
  frontend/components/badges/BadgesProgressTabsSection.test.tsx
Due: frontend

Co-locate small dashboard component tests
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/components/dashboard/LevelIndicator.test.tsx
  frontend/components/dashboard/Recommendations.test.tsx
  frontend/components/dashboard/SpacedRepetitionSummaryWidget.reviewCta.test.tsx
  frontend/components/dashboard/SpacedRepetitionSummaryWidget.test.tsx
Due: frontend

test(frontend): co-localiser charts dashboard + bootstrap app (ACTIF-03)
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/components/auth/ProtectedRoute.test.tsx
  frontend/components/dashboard/CategoryAccuracyChart.test.tsx
  frontend/components/dashboard/DashboardCategoryRadarChart.test.tsx
  frontend/components/locale/LocaleInitializer.test.tsx
  frontend/components/providers/Providers.test.tsx
Due: frontend

test(frontend): co-localiser Header.test (ACTIF-03-LAYOUT-HEADER-COLOCATE-01)
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/components/layout/Header.test.tsx
Due: frontend

fix(render): add SECURE_HEADERS, remove invalid sync on generateValue
  render.yaml
Due: none

fix(render): rename backend to Mathakine-alpha, db to Mathakine
  render.yaml
Due: none

fix(frontend): add HSTS header in production
  frontend/next.config.ts
Due: frontend

fix(deps): upgrade next-pwa to 10.2.9, force serialize-javascript>=7.0.5
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix(deps): bump pyasn1>=0.6.3 (CVE-2026-30922 DoS recursion)
  requirements.txt
Due: none

fix(auth): require special character in password (SEC-PASS-01)
  app/core/security.py
  tests/unit/test_security.py
Due: backend

chore(git): add .gitattributes, normalize LF line endings (D8)
  .gitattributes
Due: none

fix(tests): passwords with special char for UserCreate policy
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/lib/ai/generation/toAIGeneratedItem.test.ts
  frontend/lib/auth/authLoginFlow.test.ts
  frontend/lib/contentList/contentListPage.test.ts
  frontend/lib/validation/dashboard.test.ts
  tests/conftest.py
  tests/integration/test_user_exercise_flow.py
  tests/unit/test_auth_service.py
  tests/unit/test_daily_challenge_service.py
Due: frontend

chore: synchronize PROJECT_VERSION to 3.6.0-alpha.1 (D11)
  app/core/config.py
Due: backend

fix(logging): disable ANSI color codes when stderr is not a TTY (D1)
  app/core/logging_config.py
Due: backend

chore(deps): split requirements into prod and dev files (D7)
  .github/workflows/tests.yml
  requirements-dev.txt
  requirements.txt
Due: none

docs(audit): close ACTIF-03, update D5 score and global estimate
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
Due: none

fix(deps): bump pytest 9.0.2 → 9.0.3 (CVE tmpdir handling, Dependabot #40)
  requirements-dev.txt
Due: none

Bump vitest coverage thresholds to 46/38/42/48 (ACTIF-04-COVERAGE-02)
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  frontend/vitest.config.ts
Due: frontend

Replace bare console.error with debugError in client hooks and auth sync
  frontend/hooks/useAcademyStats.ts
  frontend/hooks/useSettings.ts
  frontend/hooks/useSettingsPageController.ts
  frontend/lib/auth/auth-session-sync.ts
Due: frontend

Update audit: ACTIF-04-COVERAGE-02 validated in CI, console.error marked done
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
Due: none
