Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor(api): unify error responses with api_error_response
  .github/workflows/tests.yml
  app/services/auth_service.py
  app/utils/rate_limit.py
  app/utils/request_utils.py
  docs/01-GUIDES/TESTING.md
  docs/03-PROJECT/PRIORISATION_AUDIT_BACKEND_ALPHA2_2026-02-28.md
  scripts/check_local_db.py
  scripts/test_backend_local.py
  server/auth.py
  server/handlers/admin_handlers.py
  server/handlers/analytics_handlers.py
  server/handlers/auth_handlers.py
  server/handlers/challenge_handlers.py
  server/handlers/chat_handlers.py
  server/handlers/exercise_handlers.py
  server/handlers/feedback_handlers.py
  server/handlers/recommendation_handlers.py
  server/handlers/user_handlers.py
  server/middleware.py
  tests/api/test_challenges_flow.py
  tests/unit/test_exercise_service.py
Due: backend

style: apply black formatting + fix test_get_exercises CI flakiness
  server/handlers/admin_handlers.py
  server/handlers/auth_handlers.py
  server/handlers/challenge_handlers.py
  server/handlers/user_handlers.py
  tests/api/test_exercise_endpoints.py
Due: backend

fix: test_get_exercises empty list + isort imports
  app/utils/request_utils.py
  server/handlers/admin_handlers.py
  server/handlers/user_handlers.py
  tests/api/test_exercise_endpoints.py
Due: backend

feat(config): migrate to pydantic-settings + update docs
  app/core/config.py
  docs/01-GUIDES/TROUBLESHOOTING.md
  docs/03-PROJECT/ANALYSE_DUPLICATION_DRY_2026-02.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/AUDIT_BACKEND_ALPHA2_INDUSTRIALISATION.md
  docs/03-PROJECT/AUDIT_TECHNIQUE_BACKEND_ALPHA2_2026-02-27.md
  docs/03-PROJECT/CHALLENGE_AUDIT_TECHNIQUE_BACKEND_2026-02-28.md
  docs/03-PROJECT/PRIORISATION_AUDIT_BACKEND_ALPHA2_2026-02-28.md
Due: backend

style(config): apply black formatting
  app/core/config.py
Due: backend

docs: cloture audit Backend Alpha 2, rangement archives
  docs/03-PROJECT/ANALYSE_DUPLICATION_DRY_2026-02.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/AUDIT_BACKEND_ALPHA2_ANALYSE_ETAT_2026-02.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/AUDIT_BACKEND_ALPHA2_INDUSTRIALISATION.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/AUDIT_TECHNIQUE_BACKEND_ALPHA2_2026-02-27.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/CHALLENGE_AUDIT_TECHNIQUE_BACKEND_2026-02-28.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/CLOTURE_AUDIT_BACKEND_ALPHA2_2026-02-22.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/INDEX.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/PRIORISATION_AUDIT_BACKEND_ALPHA2_2026-02-28.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/README.md
  docs/03-PROJECT/README.md
Due: none

refactor(architecture): phases 1-3 - routes, parsing, ExerciseStatsService
  app/services/challenge_service.py
  app/services/exercise_ai_service.py
  app/services/exercise_service.py
  app/services/exercise_stats_service.py
  app/utils/pagination.py
  app/utils/response_formatters.py
  docs/03-PROJECT/PLAN_REFACTO_ARCHITECTURE_2026-02.md
  server/handlers/admin_handlers.py
  server/handlers/admin_list_params.py
  server/handlers/analytics_handlers.py
  server/handlers/challenge_handlers.py
  server/handlers/challenge_list_params.py
  server/handlers/exercise_handlers.py
  server/handlers/user_handlers.py
  server/routes.py
  server/routes/__init__.py
  server/routes/admin.py
  server/routes/auth.py
  server/routes/badges.py
  server/routes/challenges.py
  server/routes/core.py
  server/routes/exercises.py
  server/routes/misc.py
  server/routes/users.py
  tests/unit/test_exercise_stats_service.py
  tests/unit/test_pagination.py
  tests/unit/test_response_formatters.py
Due: backend

fix: isort import order in handlers
  server/handlers/admin_handlers.py
  server/handlers/analytics_handlers.py
  server/handlers/challenge_handlers.py
  server/handlers/exercise_handlers.py
  server/handlers/user_handlers.py
Due: backend

feat(clean-code): P1 - Facteur count/select, DTO SubmitAnswerRequest, ExerciseListResponse
  app/schemas/exercise.py
  app/services/exercise_service.py
  server/handlers/exercise_handlers.py
  tests/api/test_challenge_endpoints.py
  tests/api/test_exercise_endpoints.py
  tests/unit/test_answer_validation.py
  tests/unit/test_answer_validation_formats.py
Due: backend

feat(clean-code): P1 tests + P2 DTOs et enum mapping
  app/schemas/logic_challenge.py
  app/utils/enum_mapping.py
  docs/03-PROJECT/PLAN_CLEAN_CODE_ET_DTO_2026-02.md
  server/handlers/challenge_handlers.py
  server/handlers/challenge_list_params.py
  server/handlers/exercise_handlers.py
  server/handlers/exercise_list_params.py
  tests/api/test_exercise_endpoints.py
  tests/unit/test_enum_mapping.py
Due: backend

style: black formatting challenge_handlers.py
  server/handlers/challenge_handlers.py
Due: backend

refactor(P3): exceptions metier, catch cible, SubmitAnswerResponse type
  app/exceptions.py
  app/schemas/exercise.py
  app/services/exercise_service.py
  docs/03-PROJECT/PLAN_CLEAN_CODE_ET_DTO_2026-02.md
  server/handlers/exercise_handlers.py
  tests/unit/test_exercise_service.py
Due: backend

fix: isort imports exercise_handlers (app.exceptions)
  server/handlers/exercise_handlers.py
Due: backend

chore: backlog - admin_service, docs, AIGenerator
  app/services/admin_service.py
  docs/01-GUIDES/DEVELOPMENT.md
  docs/02-FEATURES/ADMIN_FEATURE_SECURITE.md
  docs/03-PROJECT/CICD_DEPLOY.md
  docs/03-PROJECT/EVALUATION_PROJET_2026-02-07.md
  docs/03-PROJECT/PLAN_REFACTO_ARCHITECTURE_2026-02.md
  docs/03-PROJECT/README.md
  docs/INDEX.md
  frontend/components/exercises/AIGenerator.tsx
Due: backend, frontend

Delete docs/03-PROJECT/EVALUATION_PROJET_2026-02-07.md
  docs/03-PROJECT/EVALUATION_PROJET_2026-02-07.md
Due: none

nettoyage
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/ANALYSE_DUPLICATION_DRY_2026-02.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDIT_DASHBOARD_2026-02.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDIT_SENTRY_2026-02.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/PLACEHOLDERS_ET_TODO.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/PLAN_REFACTO_ARCHITECTURE_2026-02.md
Due: none

fix(audit-it1): ErrorHandler.create_validation_error surcharge + typage get_safe_error_message
  app/utils/error_handler.py
  docs/03-PROJECT/AUDIT_BACKEND_INDUSTRIALISATION_2026-02.md
  docs/03-PROJECT/README.md
  docs/INDEX.md
  tests/unit/test_error_handler.py
Due: backend

refactor(audit-it2): Clean Code - imports E402, validators DRY, queries legacy
  app/db/queries.py
  app/schemas/exercise.py
  app/services/exercise_service.py
  docs/03-PROJECT/AUDIT_BACKEND_INDUSTRIALISATION_2026-02.md
  server/handlers/exercise_handlers.py
Due: backend

docs(audit): compléter historique It2 dans AUDIT_BACKEND_INDUSTRIALISATION
  docs/03-PROJECT/AUDIT_BACKEND_INDUSTRIALISATION_2026-02.md
Due: none

refactor(audit-it3): Architecture DRY - mapper _exercise_row_to_dict + ExerciseServiceProtocol
  app/services/exercise_service.py
  docs/03-PROJECT/AUDIT_BACKEND_INDUSTRIALISATION_2026-02.md
Due: backend

feat(perf): Itération 4 — N+1, joinedload/selectinload, recommandations
  app/services/admin_service.py
  app/services/badge_requirement_engine.py
  app/services/badge_service.py
  app/services/recommendation_service.py
  docs/03-PROJECT/AUDIT_BACKEND_INDUSTRIALISATION_2026-02.md
  tests/unit/test_badge_requirement_engine.py
Due: backend

fix(tests): unifier engines DB - corrige FK user_sessions
  app/services/challenge_service.py
  app/services/exercise_service.py
  app/services/recommendation_service.py
  app/utils/db_helpers.py
  docs/01-GUIDES/TESTING.md
  docs/03-PROJECT/AUDIT_BACKEND_INDUSTRIALISATION_2026-02.md
  frontend/app/challenges/page.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  server/handlers/challenge_handlers.py
  tests/api/test_challenge_endpoints.py
  tests/conftest.py
Due: backend, frontend

style(frontend): Prettier - format app/challenges/page.tsx
  frontend/app/challenges/page.tsx
Due: frontend

refactor(audit): 1.4 ChallengeNotFoundError + section 7 simplifiée
  app/exceptions.py
  docs/03-PROJECT/AUDIT_BACKEND_INDUSTRIALISATION_2026-02.md
Due: backend

refactor(audit 2.3): except Exception -> SQLAlchemyError + (TypeError, ValueError)
  app/db/adapter.py
  app/services/badge_service.py
  app/services/enhanced_server_adapter.py
  app/services/exercise_service.py
  app/services/logic_challenge_service.py
  app/services/recommendation_service.py
  app/services/user_service.py
  docs/03-PROJECT/AUDIT_BACKEND_INDUSTRIALISATION_2026-02.md
  server/handlers/challenge_handlers.py
  tests/unit/test_answer_validation.py
  tests/unit/test_exercise_service.py
Due: backend

style: black formatting (logger calls single-line)
  app/services/exercise_service.py
  server/handlers/challenge_handlers.py
Due: backend

style: isort - move SQLAlchemyError import to third-party section
  server/handlers/challenge_handlers.py
Due: backend

feat(types): types critiques + mypy CI (audit 5.2)
  .github/workflows/tests.yml
  app/db/adapter.py
  app/utils/error_handler.py
  docs/03-PROJECT/AUDIT_BACKEND_INDUSTRIALISATION_2026-02.md
  pyproject.toml
  server/handlers/chat_handlers.py
  server/handlers/user_handlers.py
Due: backend

fix(audit): correct 17 findings from code cleanup audit (H2-H8, M1-M14, L1-L8)
  README_TECH.md
  app/services/auth_service.py
  app/services/challenge_service.py
  app/services/exercise_service.py
  app/utils/email_verification.py
  app/utils/json_utils.py
  app/utils/rate_limit.py
  app/utils/settings_reader.py
  docs/01-GUIDES/TESTING.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/PLAN_REFACTO_ARCHITECTURE_2026-02.md
  docs/03-PROJECT/AUDIT_BACKEND_INDUSTRIALISATION_2026-02.md
  docs/03-PROJECT/AUDIT_CODE_CLEANUP_2026-03-01.md
  docs/03-PROJECT/CICD_DEPLOY.md
  docs/03-PROJECT/PLAN_CLEAN_CODE_ET_DTO_2026-02.md
  docs/03-PROJECT/README.md
  docs/03-PROJECT/REFACTOR_STATUS_2026-02.md
  docs/INDEX.md
  frontend/components/challenges/AIGenerator.tsx
  frontend/components/challenges/ChallengeSolver.tsx
  frontend/lib/utils/format.ts
  server/exercise_generator.py
  server/handlers/auth_handlers.py
  server/handlers/challenge_handlers.py
  server/handlers/exercise_handlers.py
  server/handlers/user_handlers.py
  server/middleware.py
  server/routes/exercises.py
  tests/unit/test_auth_middleware.py
Due: backend, frontend

fix(C4): remove dead user_stats write + black formatting fixes
  app/models/legacy_tables.py
  app/services/exercise_service.py
  docs/03-PROJECT/AUDIT_CODE_CLEANUP_2026-03-01.md
  server/handlers/auth_handlers.py
Due: backend

feat(security): centralize CSRF protection via CsrfMiddleware (audit H6)
  docs/03-PROJECT/AUDIT_CODE_CLEANUP_2026-03-01.md
  frontend/app/reset-password/page.tsx
  frontend/hooks/useProfile.ts
  frontend/hooks/useSettings.ts
  frontend/lib/api/client.ts
  server/handlers/auth_handlers.py
  server/handlers/user_handlers.py
  server/middleware.py
  tests/unit/test_csrf_middleware.py
Due: backend, frontend

docs: update documentation to reflect audit cleanup and CSRF centralization
  docs/01-GUIDES/TESTING.md
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/AUTH_FLOW.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/AUDIT_SECURITE_APPLICATIVE_2026-02.md
  docs/03-PROJECT/ENDPOINTS_NON_INTEGRES.md
Due: none

fix(ci): fix TypeScript error and isort violations introduced by CSRF cleanup
  frontend/lib/api/client.ts
  server/handlers/auth_handlers.py
  server/handlers/user_handlers.py
Due: backend, frontend

fix(M5): token_tracker get_daily_summary truncates types containing "_"
  app/utils/token_tracker.py
  docs/03-PROJECT/AUDIT_CODE_CLEANUP_2026-03-01.md
  tests/unit/test_token_tracker.py
Due: backend

fix(security): fix CSRF 403 in cross-domain production setup
  frontend/hooks/useAuth.ts
  frontend/lib/api/client.ts
  server/handlers/auth_handlers.py
Due: backend, frontend

fix(frontend): corriger tous les warnings ESLint/TypeScript des actions CI
  frontend/app/challenges/page.tsx
  frontend/components/challenges/ChallengeModal.tsx
  frontend/components/challenges/ChallengeSolver.tsx
  frontend/components/challenges/visualizations/DeductionRenderer.tsx
  frontend/components/challenges/visualizations/ProbabilityRenderer.tsx
  frontend/components/challenges/visualizations/PuzzleRenderer.tsx
  frontend/components/challenges/visualizations/RiddleRenderer.tsx
  frontend/components/challenges/visualizations/VisualRenderer.tsx
  frontend/components/dashboard/ChallengesProgressWidget.tsx
Due: frontend

fix(H9): suppressions nettes dead code + documentation câblages futurs
  app/utils/enum_mapping.py
  app/utils/generation_metrics.py
  app/utils/response_formatters.py
  app/utils/token_tracker.py
  docs/03-PROJECT/AUDIT_CODE_CLEANUP_2026-03-01.md
  docs/INDEX.md
  server/__init__.py
  server/exercise_generator_helpers.py
  server/template_handler.py
Due: backend

chore(cursor): règle haute priorité pour réutiliser les utilitaires existants
  .cursor/rules/reutiliser-utilitaires-existants.mdc
Due: none

style(frontend): fix Prettier formatting on 4 files (post ESLint fixes)
  frontend/components/challenges/ChallengeModal.tsx
  frontend/components/challenges/visualizations/DeductionRenderer.tsx
  frontend/components/challenges/visualizations/PuzzleRenderer.tsx
  frontend/components/challenges/visualizations/RiddleRenderer.tsx
Due: frontend

Path conditions:
  backend: any of: app/, server/
  frontend: any of: frontend/
