Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Configuration Codecov - Mathakine
# https://docs.codecov.com/docs/codecov-yaml

# Corriger les chemins CI (GitHub Actions) pour matcher la structure git
# Format GitHub Actions: /home/runner/work/OWNER/REPO/
fixes:
  - "/home/runner/work/[^/]+/[^/]+/::"

coverage:
  range: 40..100
  precision: 2
  round: down
  status:
    project:
      default:
        target: 45%
    patch:
      default:
        target: 40%

comment:
  layout: "reach,diff,flags,tree"

flags:
  backend:
    paths:
      - app/
      - server/
  frontend:
    paths:
      - frontend/

feat(frontend): add learner-focused solver surfaces and homepage affordance polish
  frontend/app/challenge/[id]/page.tsx
  frontend/app/exercises/[id]/page.tsx
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/challenges/ChallengeSolver.tsx
  frontend/components/exercises/ExerciseModal.tsx
  frontend/components/exercises/ExerciseSolver.tsx
  frontend/components/exercises/ExerciseSolverChoices.tsx
  frontend/components/learner/LearnerCard.tsx
  frontend/components/learner/LearnerLayout.tsx
  frontend/components/learner/index.ts
  frontend/lib/hooks/useAccessibleAnimation.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

fix(dashboard): keep dashboard tabs touch-friendly
  frontend/app/dashboard/page.tsx
Due: frontend

docs(project): realign frontend audits and Claude session plan
  .claude/session-plan.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-03.md
  docs/03-PROJECT/AUDIT_FRONTEND_STANDARDISATION_2026-03-29.md
  docs/03-PROJECT/DEBAT_NEURO_INCLUSION_2026-03-30.md
  docs/03-PROJECT/archives/HISTORIQUE_PRE_REFACTOR_2026-03-13/AUDIT_FRONTEND_INDUSTRIALISATION_2026-03.md
Due: none

fix(frontend): replace deprecated lucide GitHub icon in footer
  frontend/components/layout/Footer.tsx
Due: frontend

refactor(frontend): stabilize recharts data keys for typed series
  frontend/components/dashboard/DailyExercisesChart.tsx
  frontend/components/dashboard/ProgressChart.tsx
  frontend/package-lock.json
Due: frontend

feat(NI-1/NI-2/NI-3): couche design apprenant - LearnerLayout, LearnerCard, integration solvers
  frontend/components/challenges/ChallengeSolver.tsx
  frontend/components/exercises/ExerciseSolver.tsx
  frontend/components/learner/LearnerLayout.tsx
Due: frontend

feat(NI-5/NI-7): Card flat opt-in + neutralisation sweep global learner context
  frontend/app/globals.css
  frontend/components/challenges/visualizations/DefaultRenderer.tsx
  frontend/components/challenges/visualizations/GraphRenderer.tsx
  frontend/components/challenges/visualizations/PatternRenderer.tsx
  frontend/components/challenges/visualizations/PuzzleRenderer.tsx
  frontend/components/challenges/visualizations/SequenceRenderer.tsx
  frontend/components/challenges/visualizations/VisualRenderer.tsx
Due: frontend

feat(NI-8/NI-9/NI-10): microcopy Valider + animations feedback + indice mobile
  frontend/components/exercises/ExerciseModal.tsx
  frontend/components/exercises/ExerciseSolverChoices.tsx
  frontend/components/exercises/ExerciseSolverFeedback.tsx
  frontend/components/exercises/UnifiedExerciseGenerator.tsx
Due: frontend

fix(NI-11/NI-12): prefers-reduced-motion badge hover + suppression glassmorphism AcademyStatsWidget
  frontend/components/badges/BadgeCard.tsx
  frontend/components/home/AcademyStatsWidget.tsx
Due: frontend

feat(NI-4/NI-13): page /home-learner apprenant + boundary dashboard padawan
  frontend/app/dashboard/page.tsx
  frontend/app/home-learner/page.tsx
  frontend/components/dashboard/StudentChallengesBoard.tsx
  frontend/components/layout/Header.tsx
  frontend/hooks/useAuth.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

fix(Octopus-B2/B3): ancre Reviews stable + TODO role padawan documentes
  frontend/__tests__/unit/components/exercises/ExerciseSolverChoices.openAnswer.test.tsx
Due: frontend

docs(NI): mise a jour DEBAT_NEURO_INCLUSION - tous les lots NI-1 a NI-13 livres
  docs/03-PROJECT/DEBAT_NEURO_INCLUSION_2026-03-30.md
  skills-lock.json
Due: none

docs(NI): align neuro-inclusion debate with code truth
  docs/03-PROJECT/DEBAT_NEURO_INCLUSION_2026-03-30.md
Due: none

refactor(themes): refonte palette Spatial + remplacement Peach par Aurora
  frontend/app/globals.css
  frontend/app/profile/page.tsx
  frontend/components/theme/ThemeSelectorCompact.tsx
  frontend/lib/constants/exercises.ts
  frontend/lib/stores/themeStore.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

feat(themes): ajout theme Licorne - meme profondeur que Dino
  frontend/components/spatial/Planet.tsx
  frontend/components/spatial/SpatialBackground.tsx
  frontend/components/spatial/UnicornFloating.tsx
Due: frontend

style(test): reformatage Prettier ExerciseSolverChoices.openAnswer.test
  frontend/__tests__/unit/components/exercises/ExerciseSolverChoices.openAnswer.test.tsx
Due: frontend

docs(plan): record next role migration steps
  .claude/session-plan.md
Due: none

chore(format): align frontend and backend formatters
  app/core/user_roles.py
  app/utils/db_helpers.py
  frontend/components/auth/ProtectedRoute.tsx
  frontend/components/spatial/Planet.tsx
  frontend/lib/constants/exercises.ts
  frontend/lib/stores/themeStore.ts
Due: backend, frontend

test(ci): stabilize role and dashboard checks
  app/schemas/user.py
  app/services/auth/auth_service.py
  app/services/users/user_service.py
  frontend/__tests__/unit/components/QuickStartActions.test.tsx
  frontend/__tests__/unit/components/dashboard/SpacedRepetitionSummaryWidget.reviewCta.test.tsx
  frontend/__tests__/unit/components/dashboard/SpacedRepetitionSummaryWidget.test.tsx
  frontend/__tests__/unit/components/exercises/ExerciseSolver.spacedReview.test.tsx
  tests/unit/test_constants.py
Due: backend, frontend

feat(auth): harden canonical role routing and NI-13 boundaries
  app/services/admin/admin_service.py
  app/services/admin/admin_user_service.py
  app/services/auth/auth_session_service.py
  frontend/__tests__/unit/components/ProtectedRoute.test.tsx
  frontend/__tests__/unit/middleware.test.ts
  frontend/app/admin/layout.tsx
  frontend/app/admin/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/home-learner/page.tsx
  frontend/components/auth/ProtectedRoute.tsx
  frontend/lib/auth/routeAccess.ts
  frontend/lib/auth/server/routeSession.ts
  frontend/proxy.ts
  tests/api/test_auth_flow.py
  tests/unit/test_auth_session_service.py
Due: backend, frontend

docs(release): realign UX references and bump 3.6.0-alpha.1
  .claude/session-plan.md
  CHANGELOG.md
  README.md
  README_TECH.md
  docs/00-REFERENCE/GETTING_STARTED.md
  docs/00-REFERENCE/USER_ROLE_NOMENCLATURE.md
  docs/02-FEATURES/AUTH_FLOW.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/02-FEATURES/THEMES.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-03.md
  docs/03-PROJECT/AUDIT_FRONTEND_STANDARDISATION_2026-03-29.md
  docs/03-PROJECT/DEBAT_NEURO_INCLUSION_2026-03-30.md
  docs/04-FRONTEND/ACCESSIBILITY.md
  docs/04-FRONTEND/ANIMATIONS.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/04-FRONTEND/COMPONENTS_CATALOGUE.md
  docs/04-FRONTEND/DESIGN_SYSTEM.md
  docs/04-FRONTEND/HOOKS_CATALOGUE.md
  docs/04-FRONTEND/README.md
  docs/04-FRONTEND/UX_SURFACES.md
  docs/INDEX.md
  frontend/app/changelog/page.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package.json
  pyproject.toml
Due: frontend

feat(ni-u2): onboarding premiere visite ExerciseSolver + clarify voix modale
  frontend/__tests__/unit/components/exercises/ExerciseSolverHint.test.tsx
  frontend/components/exercises/ExerciseModal.tsx
  frontend/components/exercises/ExerciseSolver.tsx
  frontend/components/exercises/ExerciseSolverHint.tsx
  frontend/hooks/useFirstVisitHint.ts
  frontend/lib/storage/keys.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

feat(ni-u4): progressive disclosure toolbar + resume etat filtres actifs
  frontend/__tests__/unit/components/ContentListProgressiveFilterToolbar.test.tsx
  frontend/app/challenges/page.tsx
  frontend/app/exercises/page.tsx
  frontend/components/shared/ContentListProgressiveFilterToolbar.tsx
  frontend/lib/contentList/pageHelpers.ts
Due: frontend

docs(ni): marquer U2/U4 resolus, documenter lots restants FFI
  docs/03-PROJECT/DEBAT_NEURO_INCLUSION_2026-03-30.md
Due: none

docs(config): renforcer description Pydantic REDIS_URL - obligation prod explicite
  app/core/config.py
Due: backend

docs(parent): cadrer dashboard parent et gestion des enfants
  .claude/session-plan.md
  docs/00-REFERENCE/DATA_MODEL.md
  docs/00-REFERENCE/USER_ROLE_NOMENCLATURE.md
  docs/02-FEATURES/PARENT_DASHBOARD_AND_CHILD_LINKS.md
  docs/02-FEATURES/README.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/04-FRONTEND/UX_SURFACES.md
  docs/INDEX.md
Due: none

chore(format): align U2/U4 frontend files with prettier
  frontend/__tests__/unit/components/exercises/ExerciseSolverHint.test.tsx
  frontend/components/exercises/ExerciseModal.tsx
  frontend/components/shared/ContentListProgressiveFilterToolbar.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

﻿feat(frontend): U3 - onboarding premiere visite ChallengeSolver
  docs/03-PROJECT/DEBAT_NEURO_INCLUSION_2026-03-30.md
  frontend/__tests__/unit/components/challenges/ChallengeSolverHint.test.tsx
  frontend/components/challenges/ChallengeSolver.tsx
  frontend/components/challenges/ChallengeSolverHint.tsx
  frontend/lib/storage/keys.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

﻿feat(frontend): S2 - theme spatial diurne, sortie palette AI fingerprint
  docs/03-PROJECT/DEBAT_NEURO_INCLUSION_2026-03-30.md
  frontend/app/globals.css
Due: frontend

﻿docs: audit FFI bilan challenge DEBAT_NEURO_INCLUSION
  docs/03-PROJECT/DEBAT_NEURO_INCLUSION_2026-03-30.md
Due: none

﻿fix(frontend): S2 suite - tokens RGB planete alignes sur palette diurne
  frontend/app/globals.css
Due: frontend

﻿fix(frontend): page accueil - espacement hero/features reduit sur mobile
  frontend/app/page.tsx
Due: frontend

﻿fix(frontend): dashboard adulte - microcopy + declonage QuickStart
  frontend/components/dashboard/QuickStartActions.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

﻿fix(frontend): polish dashboard - overflow tabs + opacity + i18n badge
  frontend/app/dashboard/page.tsx
  frontend/app/globals.css
  frontend/components/dashboard/QuickStartActions.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

﻿fix(frontend): dashboard header - progressive disclosure export + refresh icon-only
  frontend/app/dashboard/page.tsx
  frontend/components/dashboard/ExportButton.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

﻿fix(frontend): arrange PageHeader - truncation titre + layout shift TimeRange
  frontend/app/dashboard/page.tsx
  frontend/components/layout/PageHeader.tsx
Due: frontend

style(navbar): distill + arrange — hierarchie nav, logo S2, fond solide
  frontend/app/globals.css
  frontend/components/layout/Header.tsx
  frontend/components/theme/ThemeSelectorCompact.tsx
Due: frontend

polish(navbar): corrections ARIA, etats actifs, menu mobile coherent
  frontend/components/layout/Header.tsx
Due: frontend
