Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Configuration Codecov - Mathakine
# https://docs.codecov.com/docs/codecov-yaml

# Corriger les chemins CI (GitHub Actions) pour matcher la structure git
# Format GitHub Actions: /home/runner/work/OWNER/REPO/
fixes:
  - "/home/runner/work/[^/]+/[^/]+/::"

coverage:
  range: 40..100
  precision: 2
  round: down
  status:
    project:
      default:
        target: 45%
    patch:
      default:
        target: 40%

comment:
  layout: "reach,diff,flags,tree"

flags:
  backend:
    paths:
      - app/
      - server/
  frontend:
    paths:
      - frontend/

fix(challenges): reparse legacy python-dict-like shape strings in symmetry visual_data
  app/services/challenges/challenge_contract_policy.py
  frontend/components/challenges/visualizations/VisualRenderer.symmetry.test.tsx
  frontend/components/challenges/visualizations/VisualRenderer.tsx
  scripts/debug_challenge_visual_data.py
  tests/unit/test_challenge_ia9_contract_policy.py
Due: backend, frontend

fix(challenges): read id/piece_id in piece_label, avoid python dict repr in puzzle validation
  app/services/challenges/challenge_ordering_utils.py
  tests/unit/test_challenge_ia5_quality.py
Due: backend

feat(challenges): unified item-label contract (Lot M step 1) — no more raw object reprs in UI
  app/services/challenges/challenge_ordering_utils.py
  frontend/components/challenges/visualizations/ItemLabelContract.renderers.test.tsx
  frontend/components/challenges/visualizations/PuzzleRenderer.tsx
  frontend/components/challenges/visualizations/RiddleRenderer.tsx
  frontend/components/challenges/visualizations/SequenceRenderer.tsx
  frontend/components/challenges/visualizations/_itemLabel.test.ts
  frontend/components/challenges/visualizations/_itemLabel.ts
  tests/unit/test_challenge_item_label.py
Due: backend, frontend

feat(challenges): unified item-label contract (Lot M step 2) — close remaining renderers + ADR-006
  docs/05-ADR/ADR-006-items-label-contract.md
  frontend/components/challenges/visualizations/CodingRenderer.tsx
  frontend/components/challenges/visualizations/DeductionRenderer.tsx
  frontend/components/challenges/visualizations/ItemLabelContract.renderers.test.tsx
  frontend/components/challenges/visualizations/ProbabilityRenderer.tsx
  frontend/components/challenges/visualizations/VisualRenderer.tsx
Due: frontend

fix(challenges): separate orderKey from displayLabel for puzzle pieces (Lot M step 3)
  frontend/components/challenges/visualizations/ItemLabelContract.renderers.test.tsx
  frontend/components/challenges/visualizations/PuzzleRenderer.tsx
  frontend/components/challenges/visualizations/_itemLabel.test.ts
  frontend/components/challenges/visualizations/_itemLabel.ts
Due: frontend

fix(challenges): deduction solver accepts cross-secondary entity_value
  app/services/challenges/challenge_deduction_solver.py
  app/services/challenges/challenge_prompt_sections.py
  tests/unit/test_challenge_ia9_contract_policy.py
Due: backend

test(challenges): cover deduction solver branches + document entity_value/same_row overlap
  app/services/challenges/challenge_deduction_solver.py
  tests/unit/test_challenge_ia9_contract_policy.py
Due: backend

feat(challenges): cap riddle magic-square + coding theme in title (IA5)
  app/services/challenges/challenge_difficulty_policy.py
  tests/unit/test_challenge_ia5_quality.py
Due: backend

docs(frontend): remove UTF-8 BOM from ARCHITECTURE.md first line
  docs/04-FRONTEND/ARCHITECTURE.md
Due: none

fix(challenges): harden generation validation flow
  CHANGELOG.md
  app/services/challenges/challenge_ai_model_policy.py
  app/services/challenges/challenge_ai_service.py
  app/services/challenges/challenge_deduction_solver.py
  app/services/challenges/challenge_ordering_utils.py
  app/services/challenges/challenge_service.py
  app/services/challenges/challenge_validator.py
  tests/unit/test_challenge_ai_personalization.py
  tests/unit/test_challenge_ai_safe_errors.py
  tests/unit/test_challenge_ia4_prompt_and_model_policy.py
  tests/unit/test_challenge_ia5_quality.py
  tests/unit/test_challenge_ia5c_validation_hard_stop.py
  tests/unit/test_challenge_ia9_contract_policy.py
  tests/unit/test_challenge_item_label.py
  tests/unit/test_challenge_service.py
  tests/unit/test_challenge_validator_auto_correct.py
Due: backend

fix(deduction): tighten negative immediate clue parsing
  app/services/challenges/challenge_deduction_solver.py
  tests/unit/test_challenge_ia9_contract_policy.py
Due: backend

feat(challenges): track pipeline generation statuses
  app/services/challenges/challenge_ai_service.py
  app/utils/generation_metrics.py
  tests/unit/test_challenge_ai_usage_tracking.py
  tests/unit/test_challenge_ia5c_validation_hard_stop.py
  tests/unit/test_generation_metrics.py
Due: backend

docs(release): prepare 3.6.0-beta.4
  CHANGELOG.md
  docs/03-PROJECT/PLAN_CHALLENGE_GENERATION_SOLIDIFICATION_2026-04-22.md
  frontend/package.json
  pyproject.toml
Due: frontend

feat(challenges): add validation error observability
  app/services/challenges/challenge_ai_service.py
  app/services/challenges/challenge_validation_error_codes.py
  app/utils/generation_metrics.py
  tests/unit/test_challenge_ai_usage_tracking.py
  tests/unit/test_challenge_ia5c_validation_hard_stop.py
  tests/unit/test_challenge_validation_error_codes.py
  tests/unit/test_generation_metrics.py
Due: backend

docs(spec): beta stabilisation design — audit + metrics phase 2A + docs alignment
  docs/superpowers/specs/2026-04-25-beta-stabilisation-design.md
Due: none

docs(plan): beta stabilisation implementation plan — audit + metrics phase 2A + docs
  docs/superpowers/plans/2026-04-25-beta-stabilisation.md
Due: none

fix(security): correct blocking findings from beta security audit
  app/services/auth/auth_service.py
  server/handlers/auth_handlers.py
  server/handlers/user_handlers.py
  tests/unit/test_auth_service.py
Due: backend

fix(security): remove dead variable after PII log cleanup in delete_user_me
  server/handlers/user_handlers.py
Due: backend

fix(runtime): add done SSE event to exception handler in generate_challenge_stream
  app/services/challenges/challenge_ai_service.py
Due: backend

feat(metrics): add P50/P95 latency percentiles to GenerationMetrics
  app/utils/generation_metrics.py
  tests/unit/test_generation_metrics.py
Due: backend

feat(metrics): add explicit chess repair counters to GenerationMetrics
  app/services/challenges/challenge_ai_service.py
  app/utils/generation_metrics.py
  tests/unit/test_generation_metrics.py
Due: backend

feat(metrics): add fallback_stats and repair_success_rate to GenerationMetrics (Phase 2A)
  app/services/challenges/challenge_ai_service.py
  app/utils/generation_metrics.py
  tests/unit/test_generation_metrics.py
Due: backend

feat(metrics): add generation_confidence log-only score to challenge pipeline (Phase 2B)
  app/services/challenges/challenge_ai_service.py
Due: backend

docs(version): align README_TECH and CLAUDE.md to 3.6.0-beta.4
  CLAUDE.md
  README_TECH.md
Due: none

fix(sse): add done event to all early error return paths in generate_challenge_stream
  app/services/challenges/challenge_ai_service.py
Due: backend

style(auth): harmonize loguru format {} to %s in auth_service.py
  app/services/auth/auth_service.py
Due: backend

docs(deploy): document ENVIRONMENT=production Render requirement for security headers
  README_TECH.md
Due: none

Revert "style(auth): harmonize loguru format {} to %s in auth_service.py"
  app/services/auth/auth_service.py
Due: backend

fix(metrics): count chess repair None return as failure; fix(docs): correct loguru placeholder {} in CLAUDE.md
  CLAUDE.md
  app/services/challenges/challenge_ai_service.py
Due: backend

docs(plans): add cosmetic findings implementation plan (Run-C1, Sec-C2, Sec-C3)
  docs/superpowers/plans/2026-04-25-cosmetic-findings.md
Due: none

docs(plan): mark Phase 2A/2B as done, fix chess repair None gap note
  docs/03-PROJECT/PLAN_CHALLENGE_GENERATION_SOLIDIFICATION_2026-04-22.md
Due: none

docs(spec): Phase 3 tests design — golden tests, renderer contracts, deduction solver perf
  docs/superpowers/specs/2026-04-25-phase3-tests-design.md
Due: none

docs(spec): fix Phase 3 spec — real field names, error codes, renderer contracts, 500ms benchmark
  docs/superpowers/specs/2026-04-25-phase3-tests-design.md
Due: none

test(challenges): add golden test fixtures and parametrized regression suite (Phase 3A)
  tests/challenges/__init__.py
  tests/challenges/test_regression_by_type.py
  tests/fixtures/challenges/chess_invalid_king_check.json
  tests/fixtures/challenges/chess_valid.json
  tests/fixtures/challenges/coding_valid.json
  tests/fixtures/challenges/deduction_invalid_format.json
  tests/fixtures/challenges/deduction_valid.json
Due: none

test(challenges): add renderer visual_data contract tests (Phase 3B)
  tests/unit/test_challenge_renderer_contracts.py
Due: none

test(deduction): add solver perf, uniqueness and edge case tests (Phase 3D)
  tests/unit/test_challenge_deduction_solver_perf.py
Due: none

test(deduction): tighten ambiguous grid assertion and fix minor test quality issues
  tests/unit/test_challenge_deduction_solver_perf.py
Due: none

fix(validation): add deduction_answer_entities_missing classifier rule, remove validation_unknown from fixture, add sentinel in _load_fixture_ids
  app/services/challenges/challenge_validation_error_codes.py
  tests/challenges/test_regression_by_type.py
  tests/fixtures/challenges/deduction_invalid_format.json
Due: backend

test(challenges): strengthen 3A golden test assertions — guard validation_unknown, strict ordered list comparison, deduplicate check
  tests/challenges/test_regression_by_type.py
Due: none

test(fixtures): add missing __init__.py to tests/fixtures package
  tests/fixtures/__init__.py
Due: none
