Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix(security): mask PII in SMTP/email service logs (to_email, smtp_user)
  app/services/communication/email_service.py
  tests/unit/test_email_service.py
Due: backend

style(test): black + garde-fou TEST_DATABASE_URL sur DB hebergees
  app/services/communication/email_service.py
  tests/conftest.py
  tests/unit/test_gamification_service.py
Due: backend

feat(frontend): persistance tri listes + docs roadmap MVP
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/02-FEATURES/ROADMAP_MVP_CHALLENGE_2026-03.md
  frontend/app/challenges/page.tsx
  frontend/app/exercises/page.tsx
Due: frontend

docs(release): changelog v3.3.0-alpha.2 + page Nouveautes + alignement version
  CHANGELOG.md
  README.md
  README_TECH.md
  docs/00-REFERENCE/GETTING_STARTED.md
  docs/INDEX.md
  frontend/README.md
  frontend/app/changelog/page.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package.json
  pyproject.toml
Due: frontend

chore(wip): checkpoint dry lots before targeted tests
  .env.example
  app/services/exercises/exercise_ai_service.py
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/BADGES_AMELIORATIONS.md
  docs/02-FEATURES/README.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/02-FEATURES/WORKFLOW_EDUCATION_REFACTORING.md
  docs/03-PROJECT/AUDIT_DOCUMENTATION_2026-03-22.md
  docs/03-PROJECT/AUDIT_DRY_2026-03-23.md
  docs/03-PROJECT/AUDIT_TECHNIQUE_2026-03-22.md
  frontend/app/api/challenges/generate-ai-stream/route.ts
  frontend/app/api/chat/route.ts
  frontend/app/api/chat/stream/route.ts
  frontend/app/api/exercises/generate-ai-stream/route.ts
  frontend/app/settings/page.tsx
  frontend/components/challenges/ChallengeCard.tsx
  frontend/components/challenges/ChallengeSolver.tsx
  frontend/components/challenges/visualizations/PuzzleRenderer.tsx
  frontend/components/dashboard/CategoryAccuracyChart.tsx
  frontend/components/exercises/ExerciseCard.tsx
  frontend/components/exercises/ExerciseSolver.tsx
  frontend/components/locale/LocaleInitializer.tsx
  frontend/lib/api/backendUrl.ts
  tests/unit/test_exercise_ai_resilience.py
  tests/unit/test_exercise_ia2b_honesty.py
Due: backend, frontend

test(frontend): cover locale and dashboard i18n updates
  frontend/__tests__/unit/app/admin/AdminAiMonitoringPage.test.tsx
  frontend/__tests__/unit/components/dashboard/CategoryAccuracyChart.test.tsx
  frontend/__tests__/unit/components/locale/LocaleInitializer.test.tsx
Due: frontend

style(frontend): format CategoryAccuracyChart test with Prettier
  frontend/__tests__/unit/components/dashboard/CategoryAccuracyChart.test.tsx
Due: frontend

docs: record dry closure and proxy/sse updates
  CHANGELOG.md
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/I18N.md
  docs/03-PROJECT/AUDIT_DRY_2026-03-23.md
  docs/03-PROJECT/AUDIT_IA_LAYER_2026-03-22.md
  docs/03-PROJECT/AUDIT_TECHNIQUE_2026-03-22.md
  docs/03-PROJECT/CODE_REVIEW_2026-03-22.md
  docs/03-PROJECT/README.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/04-FRONTEND/DASHBOARD_WIDGETS/CORRECTIONS_WIDGETS.md
Due: none

fix(challenges): unify active filters and guard auto-correct edge cases
  app/services/challenges/challenge_ai_service.py
  app/services/challenges/challenge_service.py
  app/services/challenges/challenge_validator.py
  tests/unit/test_challenge_service.py
  tests/unit/test_challenge_validator_auto_correct.py
Due: backend

perf(frontend): optimize completion lookup and bound dashboard recommendations
  frontend/__tests__/unit/components/dashboard/Recommendations.test.tsx
  frontend/__tests__/unit/hooks/useCompletedItems.test.tsx
  frontend/__tests__/unit/hooks/usePaginatedContent.test.tsx
  frontend/components/dashboard/Recommendations.tsx
  frontend/hooks/useCompletedItems.ts
  frontend/hooks/usePaginatedContent.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

fix(challenges): use atomic aggregate query for challenge stats
  app/services/challenges/challenge_service.py
  tests/unit/test_challenge_service.py
Due: backend

feat(resilience): add circuit breaker for OpenAI workloads
  app/services/challenges/challenge_ai_service.py
  app/services/exercises/exercise_ai_service.py
  app/utils/circuit_breaker.py
  tests/unit/test_openai_circuit_breaker.py
Due: backend

test(frontend): cover next proxy routes for chat and ai streams
  frontend/__tests__/unit/app/api/_testRequest.ts
  frontend/__tests__/unit/app/api/challenges/generate-ai-stream/route.test.ts
  frontend/__tests__/unit/app/api/chat/route.test.ts
  frontend/__tests__/unit/app/api/chat/stream/route.test.ts
  frontend/__tests__/unit/app/api/exercises/generate-ai-stream/route.test.ts
  frontend/vitest.setup.ts
Due: frontend

fix(frontend): clarify auth and csrf failures for ai generation
  frontend/__tests__/unit/ai-generation/postAiGenerationSse.test.ts
  frontend/hooks/useAIChallengeGenerator.ts
  frontend/hooks/useAIExerciseGenerator.ts
  frontend/lib/ai/generation/getAiGenerationRequestErrorToast.ts
  frontend/lib/ai/generation/postAiGenerationSse.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

docs: sync audits and changelog; align exercise AI hook and completion lookup
  CHANGELOG.md
  README_TECH.md
  docs/00-REFERENCE/AI_MODEL_GOVERNANCE.md
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/I18N.md
  docs/02-FEATURES/README.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/02-FEATURES/WORKFLOW_EDUCATION_REFACTORING.md
  docs/03-PROJECT/AUDIT_IA_LAYER_2026-03-22.md
  docs/03-PROJECT/AUDIT_TECHNIQUE_2026-03-22.md
  docs/03-PROJECT/README.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/04-FRONTEND/DASHBOARD_WIDGETS/INTEGRATION_PROGRESSION_WIDGETS.md
  frontend/__tests__/unit/app/api/chat/stream/route.test.ts
  frontend/hooks/useAIExerciseGenerator.ts
  frontend/hooks/useCompletedItems.ts
  frontend/lib/ai/generation/README.md
Due: frontend

db: add server default and backfill for users.created_at
  migrations/versions/20260324_fix_users_created_at_default.py
Due: none

style(frontend): format ai generation README with Prettier
  frontend/lib/ai/generation/README.md
Due: frontend

feat(gamification): award points for completed logic challenges
  app/services/challenges/challenge_attempt_service.py
  app/services/gamification/point_source.py
  tests/unit/test_challenge_gamification.py
  tests/unit/test_logic_challenge_service.py
Due: backend

feat(challenges): add stats endpoint and fix RecommendationCreate schema
  app/schemas/recommendation.py
  app/services/challenges/challenge_query_service.py
  app/services/challenges/challenge_stats_service.py
  server/handlers/challenge_handlers.py
  server/routes/challenges.py
  tests/api/test_challenge_endpoints.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_challenge_stats_service.py
  tests/unit/test_recommendation_create_schema_c2.py
Due: backend

docs(schema): align recommendation base docstring with exercises and challenges
  app/schemas/recommendation.py
Due: backend

style(challenges): single challenge_query_service import block
  server/handlers/challenge_handlers.py
Due: backend

feat(challenges): track mastery per challenge type (challenge_progress table)
  app/models/__init__.py
  app/models/challenge_progress.py
  app/models/user.py
  app/schemas/challenge_progress.py
  app/services/challenges/challenge_attempt_service.py
  app/services/challenges/challenge_progress_service.py
  migrations/env.py
  migrations/versions/20260325_add_challenge_progress.py
  tests/conftest.py
  tests/unit/test_challenge_progress_service.py
  tests/utils/test_data_cleanup.py
Due: backend

feat(progress): include challenges in progression timeline
  app/services/progress/progress_timeline_service.py
  app/services/users/__init__.py
  app/services/users/user_application_service.py
  frontend/hooks/useChallengesProgress.ts
  server/handlers/user_handlers.py
  server/routes/users.py
  tests/api/test_progress_endpoints.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_progress_timeline_service.py
Due: backend, frontend

fix(progress): repair challenge timeline — backfill NULL created_at + savepoint resilience
  app/services/challenges/challenge_attempt_service.py
  app/services/progress/progress_timeline_service.py
  frontend/hooks/useChallenges.ts
  migrations/versions/20260325_fix_lca_created_at.py
  server/handlers/challenge_handlers.py
  tests/unit/test_progress_timeline_service.py
Due: backend, frontend

feat(challenges): points_earned API, dashboard progression, stats types
  app/schemas/logic_challenge.py
  app/services/challenges/challenge_attempt_service.py
  docs/01-GUIDES/PRODUCTION_RUNBOOK.md
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/03-PROJECT/IMPLEMENTATION_F07_TIMELINE.md
  frontend/__tests__/unit/components/ChallengesProgressWidget.test.tsx
  frontend/__tests__/unit/components/dashboard/CategoryAccuracyChart.test.tsx
  frontend/__tests__/unit/hooks/useChallengesStats.test.tsx
  frontend/app/dashboard/page.tsx
  frontend/components/challenges/ChallengeSolver.tsx
  frontend/components/dashboard/CategoryAccuracyChart.tsx
  frontend/components/dashboard/ChallengesProgressWidget.tsx
  frontend/components/dashboard/DashboardCategoryRadarChart.tsx
  frontend/components/dashboard/StatsCard.tsx
  frontend/hooks/useChallengesStats.ts
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/types/api.ts
  tests/api/test_challenge_endpoints.py
  tests/unit/test_challenge_gamification.py
  tests/unit/test_logic_challenge_service.py
Due: backend, frontend

style(server): isort challenge_handlers imports
  server/handlers/challenge_handlers.py
Due: backend

chore(release): 3.3.0-alpha.3 — changelog site et doc visible
  CHANGELOG.md
  README.md
  README_TECH.md
  docs/00-REFERENCE/GETTING_STARTED.md
  docs/INDEX.md
  frontend/README.md
  frontend/app/changelog/page.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package.json
  pyproject.toml
Due: frontend

docs: défis dans les stats — API, dashboard, analytics
  docs/02-FEATURES/ANALYTICS_PROGRESSION.md
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/04-FRONTEND/DASHBOARD_WIDGETS/INTEGRATION_PROGRESSION_WIDGETS.md
Due: none

fix(leaderboard): trapped select UX, remove broken age filter, enrich API
  app/services/users/user_application_service.py
  app/services/users/user_service.py
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  frontend/app/leaderboard/page.tsx
  frontend/components/dashboard/LeaderboardWidget.tsx
  frontend/hooks/useLeaderboard.ts
  frontend/messages/en.json
  frontend/messages/fr.json
  server/handlers/user_handlers.py
  tests/api/test_user_endpoints.py
Due: backend, frontend

feat(leaderboard): visual refresh — podium, jedi colors, framer, empty CTA
  frontend/__tests__/unit/app/leaderboard/LeaderboardPage.test.tsx
  frontend/app/leaderboard/page.tsx
  frontend/components/dashboard/LeaderboardWidget.tsx
  frontend/lib/constants/leaderboard.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

docs(roadmap): add F40/F41/F42 leaderboard roadmap entries
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
Due: none

feat(leaderboard): GET /api/users/me/rank and footer when outside top N
  app/services/users/user_application_service.py
  app/services/users/user_service.py
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  frontend/__tests__/unit/app/leaderboard/LeaderboardPage.test.tsx
  frontend/app/leaderboard/page.tsx
  frontend/hooks/useMyLeaderboardRank.ts
  frontend/messages/en.json
  frontend/messages/fr.json
  server/handlers/user_handlers.py
  server/routes/users.py
  tests/api/test_user_endpoints.py
  tests/unit/test_auth_middleware.py
Due: backend, frontend

fix(leaderboard): over-fetch for privacy filter, widget error state, stale changelog
  frontend/components/dashboard/LeaderboardWidget.tsx
Due: frontend

fix(leaderboard): remove spurious next-intl default fallbacks on t()
  frontend/app/leaderboard/page.tsx
Due: frontend

feat(leaderboard): temporal period filter (week/month/all, F41 L3-B)
  app/core/leaderboard_period.py
  app/services/users/user_application_service.py
  app/services/users/user_service.py
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  frontend/app/leaderboard/page.tsx
  frontend/hooks/useLeaderboard.ts
  frontend/hooks/useMyLeaderboardRank.ts
  frontend/messages/en.json
  frontend/messages/fr.json
  server/handlers/user_handlers.py
  tests/api/test_user_endpoints.py
  tests/unit/test_leaderboard_period.py
Due: backend, frontend

feat(user): age_group profile field (F42 phase 1)
  app/core/user_age_group.py
  app/models/user.py
  app/schemas/user.py
  app/services/auth/auth_session_service.py
  app/services/users/user_service.py
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  frontend/app/profile/page.tsx
  frontend/hooks/useProfile.ts
  frontend/lib/constants/userProfileAgeGroup.ts
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/types/api.ts
  migrations/versions/20260326_add_users_age_group.py
  tests/api/test_user_endpoints.py
  tests/unit/test_user_service.py
Due: backend, frontend

docs: update CLAUDE.md, ROADMAP, session-plan post leaderboard L1→L3-B
  .claude/session-plan.md
  CLAUDE.md
Due: none

fix(profile): correct mismatched id on preferred_difficulty selector
  frontend/app/profile/page.tsx
Due: frontend

docs(plan): document F42 Phase 1 review findings (JWT age_group, migration batchée)
  .claude/session-plan.md
Due: none

feat(f42): prefer users.age_group in recommendations and adaptive difficulty
  app/core/constants.py
  app/core/user_age_group.py
  app/services/exercises/adaptive_difficulty_service.py
  app/services/recommendation/recommendation_user_context.py
  tests/unit/test_adaptive_difficulty_service.py
  tests/unit/test_leaderboard_period.py
  tests/unit/test_recommendation_service.py
Due: backend

Path conditions:
  backend: any of: app/, server/
  frontend: any of: frontend/
