Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refactor(settings): close FFI-L13 runtime cleanup and tests
  frontend/__tests__/unit/app/settings/SettingsPage.test.tsx
  frontend/__tests__/unit/hooks/useSettingsPageController.test.ts
  frontend/app/settings/page.tsx
  frontend/hooks/useSettingsPageController.ts
Due: frontend

docs(frontend): close FFI-L13 and realign architecture references
  .claude/session-plan.md
  CHANGELOG.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-03.md
  docs/03-PROJECT/AUDIT_FRONTEND_STANDARDISATION_2026-03-29.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/04-FRONTEND/COMPONENTS_CATALOGUE.md
  docs/04-FRONTEND/HOOKS_CATALOGUE.md
Due: none

refactor(admin): close FFI-L14 content split and exercise coherence
  frontend/__tests__/unit/admin/adminContentPage.test.ts
  frontend/__tests__/unit/admin/adminExerciseCoherence.test.ts
  frontend/__tests__/unit/app/admin/AdminContentPage.test.tsx
  frontend/__tests__/unit/components/admin/ExerciseAdminModals.coherence.test.tsx
  frontend/__tests__/unit/hooks/useAdminContentPageController.test.ts
  frontend/app/admin/content/page.tsx
  frontend/components/admin/ExerciseCreateModal.tsx
  frontend/components/admin/ExerciseEditModal.tsx
  frontend/components/admin/content/AdminBadgesSection.tsx
  frontend/components/admin/content/AdminChallengesSection.tsx
  frontend/components/admin/content/AdminContentSortIcon.tsx
  frontend/components/admin/content/AdminContentTabsNav.tsx
  frontend/components/admin/content/AdminExercisesSection.tsx
  frontend/hooks/useAdminContentPageController.ts
  frontend/hooks/useAdminExercises.ts
  frontend/lib/admin/content/adminContentPage.ts
  frontend/lib/admin/exercises/adminExerciseCoherence.ts
Due: frontend

docs(frontend): close FFI-L14 and document admin difficulty gap
  .claude/session-plan.md
  CHANGELOG.md
  README_TECH.md
  docs/00-REFERENCE/DIFFICULTY_AND_RANKS_MANIFEST.md
  docs/02-FEATURES/DIFFICULTE_PEDAGOGIQUE_ET_RANGS_GUIDE.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-03.md
  docs/03-PROJECT/AUDIT_FRONTEND_STANDARDISATION_2026-03-29.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/04-FRONTEND/COMPONENTS_CATALOGUE.md
  docs/04-FRONTEND/HOOKS_CATALOGUE.md
Due: none

refactor(content-list): extract shared page controller
  frontend/__tests__/unit/hooks/useContentListPageController.test.tsx
  frontend/app/challenges/page.tsx
  frontend/app/exercises/page.tsx
  frontend/hooks/useContentListPageController.ts
Due: frontend

refactor(content-list): extract shared results section
  docs/04-FRONTEND/COMPONENTS_CATALOGUE.md
  frontend/__tests__/unit/components/ContentListResultsSection.test.tsx
  frontend/app/challenges/page.tsx
  frontend/app/exercises/page.tsx
  frontend/components/shared/ContentListResultsHeader.tsx
  frontend/components/shared/ContentListResultsSection.tsx
Due: frontend

refactor(content-list): split progressive filter toolbar
  frontend/components/shared/ContentListProgressiveFilterToolbar.tsx
  frontend/components/shared/ContentListToolbarAdvancedPanel.tsx
  frontend/components/shared/ContentListToolbarSearchRow.tsx
  frontend/components/shared/ContentListToolbarSummary.tsx
  frontend/components/shared/ContentListToolbarTypeChips.tsx
  frontend/components/shared/contentListToolbarTypes.ts
Due: frontend

docs(frontend): close FFI-L15 and realign content-list docs
  .claude/session-plan.md
  CHANGELOG.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-03.md
  docs/03-PROJECT/AUDIT_FRONTEND_STANDARDISATION_2026-03-29.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/04-FRONTEND/COMPONENTS_CATALOGUE.md
  docs/04-FRONTEND/HOOKS_CATALOGUE.md
Due: none

refactor(layout): split header and bound public chatbot access
  frontend/__tests__/unit/components/chat/ChatbotFloating.test.tsx
  frontend/__tests__/unit/components/chat/ChatbotFloatingGlobal.test.tsx
  frontend/__tests__/unit/components/layout/Header.test.tsx
  frontend/__tests__/unit/hooks/chat/useGuestChatAccess.test.tsx
  frontend/__tests__/unit/hooks/useChat.test.tsx
  frontend/app/layout.tsx
  frontend/components/chat/ChatbotFloating.tsx
  frontend/components/chat/ChatbotFloatingGlobal.tsx
  frontend/components/layout/Header.tsx
  frontend/components/layout/HeaderDesktopNav.tsx
  frontend/components/layout/HeaderMobileMenu.tsx
  frontend/components/layout/HeaderUserMenu.tsx
  frontend/hooks/chat/useChat.ts
  frontend/hooks/chat/useGuestChatAccess.ts
  frontend/lib/chat/README.md
  frontend/lib/chat/guestChatSession.ts
  frontend/lib/layout/headerNavigation.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

docs(frontend): document FFI-L16 header and chat seams
  docs/04-FRONTEND/COMPONENTS_CATALOGUE.md
  docs/04-FRONTEND/HOOKS_CATALOGUE.md
Due: none

feat(auth): validate-token diagnostics for 429 bursts
  README_TECH.md
  app/utils/rate_limit.py
  frontend/app/api/auth/sync-cookie/route.ts
  frontend/lib/auth/server/routeSession.ts
  frontend/lib/auth/server/validateTokenBackendHeaders.test.ts
  frontend/lib/auth/server/validateTokenBackendHeaders.ts
  server/handlers/auth_handlers.py
  tests/unit/test_auth_handlers_validate_token.py
  tests/unit/test_rate_limit.py
Due: backend, frontend

docs(frontend): close FFI-L16 shell and chatbot docs
  .claude/session-plan.md
  CHANGELOG.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-03.md
  docs/03-PROJECT/AUDIT_FRONTEND_STANDARDISATION_2026-03-29.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/04-FRONTEND/COMPONENTS_CATALOGUE.md
  docs/04-FRONTEND/HOOKS_CATALOGUE.md
  frontend/lib/chat/README.md
Due: frontend

fix(auth-chat): harden token sync and review findings
  app/utils/rate_limit.py
  frontend/__tests__/unit/app/api/auth/sync-cookie/route.test.ts
  frontend/__tests__/unit/components/chat/ChatbotFloating.test.tsx
  frontend/__tests__/unit/hooks/useChat.test.tsx
  frontend/app/api/auth/sync-cookie/route.ts
  frontend/components/chat/ChatbotFloating.tsx
  frontend/components/home/Chatbot.tsx
  frontend/lib/auth/server/routeSession.ts
  frontend/lib/auth/server/validateTokenBackendHeaders.ts
  frontend/lib/chat/conversationHistory.ts
  frontend/lib/chat/types.ts
  server/handlers/auth_handlers.py
Due: backend, frontend

fix(logging): Loguru interpolation for rate-limit and auth logs
  app/utils/rate_limit.py
  server/handlers/auth_handlers.py
  tests/unit/test_rate_limit.py
Due: backend

refactor(frontend): add architecture guardrails and governance
  frontend/__tests__/README.md
  frontend/__tests__/unit/architecture/frontendGuardrails.test.ts
  frontend/lib/architecture/frontendGuardrails.ts
  frontend/package.json
Due: frontend

refactor(frontend): split profile preferences and solver command bar
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-03.md
  docs/03-PROJECT/AUDIT_FRONTEND_STANDARDISATION_2026-03-29.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/04-FRONTEND/COMPONENTS_CATALOGUE.md
  frontend/__tests__/unit/components/challenges/ChallengeSolverCommandBar.test.tsx
  frontend/__tests__/unit/components/profile/ProfileLearningPreferencesSection.test.tsx
  frontend/__tests__/unit/hooks/useChallengeTranslations.test.tsx
  frontend/__tests__/unit/lib/profile/profileLearningPreferences.test.ts
  frontend/components/challenges/ChallengeSolverCommandBar.tsx
  frontend/components/challenges/ChallengeSolverCommandBarTypes.ts
  frontend/components/challenges/ChallengeSolverFreeTextAnswerBlock.tsx
  frontend/components/challenges/ChallengeSolverGridAutoAnswerBlock.tsx
  frontend/components/challenges/ChallengeSolverGridDeductionBlock.tsx
  frontend/components/challenges/ChallengeSolverMcqGrid.tsx
  frontend/components/challenges/ChallengeSolverOrderPuzzleBlock.tsx
  frontend/components/challenges/ChallengeSolverValidateActions.tsx
  frontend/components/challenges/ChallengeSolverVisualButtons.tsx
  frontend/components/profile/ProfileLearningPreferencesEditActions.tsx
  frontend/components/profile/ProfileLearningPreferencesEditGoalsBlock.tsx
  frontend/components/profile/ProfileLearningPreferencesEditGradeBlock.tsx
  frontend/components/profile/ProfileLearningPreferencesEditPedagogyBlock.tsx
  frontend/components/profile/ProfileLearningPreferencesHeader.tsx
  frontend/components/profile/ProfileLearningPreferencesReadSummary.tsx
  frontend/components/profile/ProfileLearningPreferencesSection.tsx
  frontend/hooks/useChallengeTranslations.ts
  frontend/lib/challenges/challengeSolverCommandBar.ts
  frontend/lib/profile/profileLearningPreferences.ts
Due: frontend

docs(project): document validate-token rate-limit diagnosis
  docs/03-PROJECT/RAPPORT_VALIDATE_TOKEN_RATE_LIMIT_2026-04-07.md
  docs/03-PROJECT/README.md
  docs/INDEX.md
Due: none

fix(auth): give validate-token a dedicated rate-limit bucket
  .claude/session-plan.md
  README_TECH.md
  app/utils/rate_limit.py
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/AUTH_FLOW.md
  docs/03-PROJECT/RAPPORT_VALIDATE_TOKEN_RATE_LIMIT_2026-04-07.md
  docs/03-PROJECT/README.md
  docs/INDEX.md
  server/handlers/auth_handlers.py
  tests/unit/test_rate_limit.py
Due: backend

refactor(auth): deduplicate Next validate-token calls
  .claude/session-plan.md
  README_TECH.md
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/AUTH_FLOW.md
  docs/03-PROJECT/RAPPORT_VALIDATE_TOKEN_RATE_LIMIT_2026-04-07.md
  frontend/__tests__/unit/app/api/auth/sync-cookie/route.test.ts
  frontend/app/api/auth/sync-cookie/route.ts
  frontend/lib/auth/server/routeSession.ts
  frontend/lib/auth/server/validateTokenRuntime.ts
Due: frontend

fix(auth): default rate-limit proxy trust to conservative mode
  .claude/session-plan.md
  .env.example
  README_TECH.md
  app/core/config.py
  app/utils/rate_limit.py
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/AUTH_FLOW.md
  docs/03-PROJECT/RAPPORT_VALIDATE_TOKEN_RATE_LIMIT_2026-04-07.md
  tests/unit/test_rate_limit.py
Due: backend

fix(frontend): handle all sentinel in type translation hooks
  frontend/__tests__/unit/hooks/useChallengeTranslations.test.tsx
  frontend/hooks/useChallengeTranslations.ts
Due: frontend

fix(frontend): stabilize vitest coverage runtime
  frontend/hooks/useBadgesPageController.ts
  frontend/vitest.setup.ts
Due: frontend

fix(server): answer root probes without auth warnings
  server/middleware.py
  server/routes/core.py
  tests/api/test_base_endpoints.py
  tests/unit/test_auth_middleware.py
Due: backend

docs(project): align frontend governance sources
  .claude/session-plan.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-03.md
  docs/03-PROJECT/AUDIT_FRONTEND_STANDARDISATION_2026-03-29.md
  docs/03-PROJECT/README.md
Due: none

refactor(frontend): industrialize dashboard solver and auth seams
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-03.md
  docs/03-PROJECT/AUDIT_FRONTEND_STANDARDISATION_2026-03-29.md
  docs/03-PROJECT/README.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/04-FRONTEND/COMPONENTS_CATALOGUE.md
  docs/04-FRONTEND/HOOKS_CATALOGUE.md
  frontend/__tests__/unit/app/dashboard/DashboardPage.test.tsx
  frontend/__tests__/unit/components/exercises/ExerciseSolver.test.tsx
  frontend/__tests__/unit/components/providers/Providers.test.tsx
  frontend/__tests__/unit/hooks/useAuth.test.ts
  frontend/__tests__/unit/hooks/useDashboardPageController.test.ts
  frontend/__tests__/unit/hooks/useExerciseSolverController.test.ts
  frontend/__tests__/unit/lib/auth/authLoginFlow.test.ts
  frontend/__tests__/unit/lib/exercises/exerciseSolverFlow.test.ts
  frontend/app/dashboard/page.tsx
  frontend/components/dashboard/DashboardLastUpdate.tsx
  frontend/components/dashboard/DashboardOverviewSection.tsx
  frontend/components/dashboard/DashboardProfileSection.tsx
  frontend/components/dashboard/DashboardProgressSection.tsx
  frontend/components/dashboard/DashboardRecommendationsSection.tsx
  frontend/components/dashboard/DashboardTabsNav.tsx
  frontend/components/exercises/ExerciseSolver.tsx
  frontend/components/providers/AccessibilityDomSync.tsx
  frontend/components/providers/AccessibilityHotkeys.tsx
  frontend/components/providers/Providers.tsx
  frontend/components/providers/ThemeBootstrap.tsx
  frontend/hooks/useAuth.ts
  frontend/hooks/useDashboardPageController.ts
  frontend/hooks/useExerciseSolverController.ts
  frontend/lib/architecture/frontendGuardrails.ts
  frontend/lib/auth/authLoginFlow.ts
  frontend/lib/auth/postLoginRedirect.ts
  frontend/lib/auth/types.ts
  frontend/lib/exercises/exerciseSolverFlow.ts
Due: frontend

refactor(frontend): centralize badge presentation contracts
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_STANDARDISATION_2026-03-29.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/04-FRONTEND/COMPONENTS_CATALOGUE.md
  docs/04-FRONTEND/HOOKS_CATALOGUE.md
  frontend/__tests__/unit/components/badges/BadgeCard.test.tsx
  frontend/__tests__/unit/components/badges/BadgesProgressTabsSection.test.tsx
  frontend/components/badges/BadgeCard.tsx
  frontend/components/badges/BadgeGrid.tsx
  frontend/components/badges/BadgesProgressTabsSection.tsx
  frontend/hooks/useBadgesProgress.ts
  frontend/lib/architecture/frontendGuardrails.ts
  frontend/lib/badges/badgePresentation.ts
  frontend/lib/badges/badgesPage.ts
  frontend/lib/badges/types.ts
Due: frontend

refactor(frontend): split settings security section
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_STANDARDISATION_2026-03-29.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/04-FRONTEND/COMPONENTS_CATALOGUE.md
  docs/04-FRONTEND/HOOKS_CATALOGUE.md
  frontend/__tests__/unit/components/settings/SettingsSecuritySection.test.tsx
  frontend/__tests__/unit/lib/settings/settingsSecurity.test.ts
  frontend/components/settings/SettingsSecuritySection.tsx
  frontend/components/settings/SettingsSessionRow.tsx
  frontend/components/settings/SettingsSessionsList.tsx
  frontend/lib/architecture/frontendGuardrails.ts
  frontend/lib/settings/settingsSecurity.ts
Due: frontend

refactor(frontend): share admin read-heavy page shell
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_STANDARDISATION_2026-03-29.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/04-FRONTEND/COMPONENTS_CATALOGUE.md
  frontend/__tests__/unit/app/admin/AdminAiMonitoringPage.test.tsx
  frontend/__tests__/unit/app/admin/AdminAnalyticsPage.test.tsx
  frontend/__tests__/unit/app/admin/page.test.tsx
  frontend/__tests__/unit/components/admin/AdminStatePanel.test.tsx
  frontend/app/admin/ai-monitoring/page.tsx
  frontend/app/admin/analytics/page.tsx
  frontend/app/admin/page.tsx
  frontend/components/admin/AdminReadHeavyPageShell.tsx
  frontend/components/admin/AdminStatePanel.tsx
  frontend/lib/architecture/frontendGuardrails.ts
Due: frontend

refactor(frontend): convert informational pages to server components
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_STANDARDISATION_2026-03-29.md
  docs/04-FRONTEND/ARCHITECTURE.md
  frontend/__tests__/unit/app/about/page.test.tsx
  frontend/__tests__/unit/app/privacy/page.test.tsx
  frontend/app/about/page.tsx
  frontend/app/privacy/page.tsx
Due: frontend

fix(frontend): harden accessibility states on shared surfaces
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/AUDIT_FRONTEND_STANDARDISATION_2026-03-29.md
  docs/04-FRONTEND/ARCHITECTURE.md
  frontend/__tests__/unit/components/admin/AdminStatePanel.test.tsx
  frontend/__tests__/unit/components/badges/BadgeCard.test.tsx
  frontend/__tests__/unit/components/settings/SettingsSecuritySection.test.tsx
  frontend/components/admin/AdminStatePanel.tsx
  frontend/components/badges/BadgeCard.tsx
  frontend/components/layout/LoadingState.tsx
  frontend/components/settings/SaveButton.tsx
  frontend/components/settings/SettingsSecuritySection.tsx
  frontend/components/settings/SettingsSessionsList.tsx
  frontend/components/shared/ContentListProgressiveFilterToolbar.tsx
Due: frontend

fix(frontend): ProtectedRoute test matches LoadingState single label
  .claude/session-plan.md
  frontend/__tests__/unit/components/ProtectedRoute.test.tsx
Due: frontend

refactor(frontend): scope query client to providers mount
  frontend/__tests__/unit/components/providers/Providers.test.tsx
  frontend/components/providers/Providers.tsx
Due: frontend

fix(chat): require auth and externalize proxy copy
  .claude/session-plan.md
  README_TECH.md
  docs/03-PROJECT/README.md
  docs/04-FRONTEND/ARCHITECTURE.md
  frontend/__tests__/unit/app/api/chat/route.test.ts
  frontend/__tests__/unit/app/api/chat/stream/route.test.ts
  frontend/__tests__/unit/components/chat/ChatbotFloating.test.tsx
  frontend/app/admin/ai-monitoring/page.tsx
  frontend/app/api/chat/route.ts
  frontend/app/api/chat/stream/route.ts
  frontend/app/global-error.tsx
  frontend/app/not-found.tsx
  frontend/components/chat/ChatbotFloating.tsx
  frontend/components/home/Chatbot.tsx
  frontend/lib/api/chat.ts
  frontend/lib/api/chatProxyLocale.ts
  frontend/lib/api/chatProxyRequest.ts
  frontend/lib/chat/README.md
  frontend/messages/en.json
  frontend/messages/fr.json
  server/middleware.py
  tests/api/test_chat_endpoints.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_csrf_middleware.py
Due: backend, frontend

Finalize frontend hardening lots and documentation
  .claude/session-plan.md
  CLAUDE.md
  README_TECH.md
  docs/00-REFERENCE/AI_MODEL_GOVERNANCE.md
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/03-PROJECT/README.md
  docs/04-FRONTEND/API_ROUTES.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/05-ADR/ADR-001-starlette-vs-fastapi.md
  docs/05-ADR/ADR-002-chat-assistant-public-boundary.md
  docs/05-ADR/README.md
  frontend/.env.example
  frontend/__tests__/e2e/admin.spec.ts
  frontend/__tests__/e2e/auth.spec.ts
  frontend/__tests__/e2e/badges.spec.ts
  frontend/__tests__/e2e/dashboard.spec.ts
  frontend/__tests__/e2e/settings.spec.ts
  frontend/__tests__/unit/app/ForgotPasswordPage.test.tsx
  frontend/__tests__/unit/app/api/challenges/generate-ai-stream/route.test.ts
  frontend/__tests__/unit/app/api/chat/stream/route.test.ts
  frontend/__tests__/unit/app/api/exercises/generate-ai-stream/route.test.ts
  frontend/app/api/challenges/generate-ai-stream/route.ts
  frontend/app/api/chat/stream/route.ts
  frontend/app/api/exercises/generate-ai-stream/route.ts
  frontend/app/forgot-password/page.tsx
  frontend/app/layout.tsx
  frontend/app/opengraph-image.tsx
  frontend/app/twitter-image.tsx
  frontend/eslint.config.mjs
  frontend/hooks/useDiagnostic.ts
  frontend/lib/api/chatProxyRequest.ts
  frontend/lib/api/proxyForwardHeaders.ts
  frontend/lib/api/sseProxyRequest.ts
  frontend/lib/security/buildContentSecurityPolicy.ts
  frontend/lib/social/renderSocialShareImageResponse.tsx
  frontend/lib/social/socialShareImageFonts.ts
  frontend/lib/social/socialShareImageMeta.ts
  frontend/lib/utils/logInDevelopment.ts
  frontend/next.config.ts
  frontend/playwright.config.ts
Due: frontend

Document intentional hook dependency suppressions
  frontend/components/ui/sonner.tsx
  frontend/hooks/useChallengeSolverController.ts
Due: frontend

Format chat frontend README
  frontend/lib/chat/README.md
Due: frontend

Clean repo hygiene and archive obsolete frontend audit
  .claude/session-plan.md
  .gitignore
  CHANGELOG.md
  README_TECH.md
  docs/03-PROJECT/README.md
  docs/03-PROJECT/archives/AUDITS_AND_REVIEWS_2026-03/AUDIT_FRONTEND_INDUSTRIALISATION_2026-03.md
  docs/03-PROJECT/archives/AUDITS_AND_REVIEWS_2026-03/README.md
  docs/03-PROJECT/archives/HISTORIQUE_PRE_REFACTOR_2026-03-13/PLAN_STABILISATION_PRE_BACKLOG_2026-03-06.md
  frontend/.gitignore
  frontend/.prettierignore
Due: frontend

Update F32 interleaved session documentation
  docs/03-PROJECT/IMPLEMENTATION_F32_SESSION_ENTRELACEE.md
Due: none

Close frontend quality lots QF-01 to QF-03
  .claude/session-plan.md
  README_TECH.md
  docs/01-GUIDES/SENTRY_MONITORING.md
  docs/03-PROJECT/AUDIT_FRONTEND_INDUSTRIALISATION_2026-04-09.md
  docs/03-PROJECT/README.md
  frontend/.env.example
  frontend/__tests__/unit/app/admin/AdminAiMonitoringPage.test.tsx
  frontend/__tests__/unit/app/admin/AdminContentPage.test.tsx
  frontend/__tests__/unit/app/admin/adminRoutePagesI18n.smoke.test.tsx
  frontend/__tests__/unit/app/offline/page.test.tsx
  frontend/__tests__/unit/hooks/useAuth.test.ts
  frontend/app/admin/ai-monitoring/page.tsx
  frontend/app/admin/analytics/page.tsx
  frontend/app/admin/audit-log/page.tsx
  frontend/app/admin/config/page.tsx
  frontend/app/admin/content/page.tsx
  frontend/app/admin/feedback/page.tsx
  frontend/app/admin/moderation/page.tsx
  frontend/app/admin/page.tsx
  frontend/app/admin/users/page.tsx
  frontend/app/offline/page.tsx
  frontend/app/test-sentry/page.tsx
  frontend/components/dashboard/ExportButton.tsx
  frontend/hooks/useAuth.ts
  frontend/lib/utils/exportExcel.ts
  frontend/lib/utils/exportPDF.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

Path conditions:
  backend: any of: app/, server/
  frontend: any of: frontend/
