Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(f42): add content difficulty_tier, wire recommendations and persistence
  .claude/session-plan.md
  app/core/difficulty_tier.py
  app/models/exercise.py
  app/models/logic_challenge.py
  app/repositories/exercise_repository.py
  app/schemas/exercise.py
  app/schemas/logic_challenge.py
  app/services/admin/admin_content_service.py
  app/services/admin/admin_exercise_create_flow.py
  app/services/challenges/challenge_api_mapper.py
  app/services/challenges/challenge_service.py
  app/services/core/db_init_service.py
  app/services/exercises/exercise_service.py
  app/services/recommendation/recommendation_exercise_ranking.py
  app/services/recommendation/recommendation_service.py
  app/services/recommendation/recommendation_user_context.py
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  migrations/versions/20260327_add_content_difficulty_tier.py
  tests/unit/test_difficulty_tier.py
  tests/unit/test_recommendation_service.py
Due: backend

docs(plan): document F42 Phase 3 findings from Codex review (C1-C5)
  .claude/session-plan.md
Due: none

fix(f42): complete difficulty_tier boundaries and admin authoring (P3)
  app/schemas/logic_challenge.py
  app/services/admin/admin_content_service.py
  app/services/challenges/logic_challenge_service.py
  app/services/exercises/exercise_service.py
  frontend/components/admin/ChallengeCreateModal.tsx
  frontend/components/admin/ChallengeEditModal.tsx
  frontend/lib/constants/challenges.ts
  frontend/types/api.ts
  tests/api/test_admin_content.py
  tests/api/test_challenge_endpoints.py
  tests/unit/test_logic_challenge_service.py
Due: backend, frontend

fix(p0): fix TokenTracker memory leak on read path (defaultdict mutation)
  app/utils/token_tracker.py
  tests/api/test_admin_ai_stats.py
  tests/unit/test_token_tracker.py
Due: backend

docs(claude): mark P0 gamification race condition as resolved
  CLAUDE.md
Due: none

test(f42): add exercise detail difficulty_tier coverage and normalize formatting
  frontend/app/leaderboard/page.tsx
  frontend/app/profile/page.tsx
  frontend/hooks/useMyLeaderboardRank.ts
  server/routes/users.py
  tests/api/test_exercise_endpoints.py
Due: backend, frontend

fix(f42): restore neutral fallback band for unresolved adaptive context
  .claude/session-plan.md
  app/services/exercises/adaptive_difficulty_service.py
  tests/unit/test_adaptive_difficulty_service.py
  tests/unit/test_exercise_generator.py
Due: backend

feat(f42): finalize adaptive progression runtime and observability
  app/core/mastery_tier_bridge.py
  app/repositories/exercise_attempt_repository.py
  app/services/admin/admin_read_service.py
  app/services/auth/auth_session_service.py
  app/services/badges/badge_user_view_service.py
  app/services/exercises/adaptive_difficulty_service.py
  app/services/exercises/exercise_attempt_service.py
  app/services/gamification/compute.py
  app/services/gamification/constants.py
  app/services/gamification/gamification_service.py
  app/services/gamification/level_titles.py
  app/services/users/user_service.py
  frontend/__tests__/unit/components/dashboard/LevelIndicator.test.tsx
  frontend/components/dashboard/LevelIndicator.tsx
  frontend/lib/dashboard/__tests__/buildDashboardExportSnapshot.test.ts
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/types/api.ts
  server/handlers/admin_handlers.py
  server/routes/admin.py
  tests/api/test_admin_content.py
  tests/api/test_badge_endpoints.py
  tests/conftest.py
  tests/unit/test_adaptive_difficulty_service.py
  tests/unit/test_exercise_service.py
  tests/unit/test_gamification_rank_ladder.py
  tests/unit/test_gamification_service.py
  tests/unit/test_mastery_tier_bridge.py
  tests/unit/test_user_service.py
Due: backend, frontend

chore(release): publish 3.4.0-alpha.1
  CHANGELOG.md
  README.md
  README_TECH.md
  docs/00-REFERENCE/GETTING_STARTED.md
  docs/00-REFERENCE/README.md
  docs/INDEX.md
  frontend/README.md
  frontend/app/changelog/page.tsx
  frontend/package.json
  pyproject.toml
  render.yaml
Due: frontend

chore(a44): finalize runtime hardening and handler cleanup
  .env.example
  README.md
  app/core/config.py
  app/core/security.py
  app/db/transaction.py
  app/services/users/user_application_service.py
  docs/00-REFERENCE/GETTING_STARTED.md
  docs/03-PROJECT/CICD_DEPLOY.md
  docs/05-ADR/ADR-001-starlette-vs-fastapi.md
  requirements.txt
  server/app.py
  server/auth.py
  server/handlers/auth_handlers.py
  server/handlers/challenge_handlers.py
  server/handlers/exercise_handlers.py
  server/handlers/user_handlers.py
  server/middleware.py
  tests/unit/test_answer_validation.py
  tests/unit/test_auth_handlers_validate_token.py
  tests/unit/test_security.py
  tests/unit/test_transaction.py
Due: backend

feat(f43): add progression_rank as additive public contract
  app/services/auth/auth_session_service.py
  app/services/badges/badge_user_view_service.py
  app/services/gamification/gamification_service.py
  app/services/users/user_service.py
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  frontend/__tests__/unit/components/dashboard/LevelIndicator.test.tsx
  frontend/app/badges/page.tsx
  frontend/app/leaderboard/page.tsx
  frontend/components/dashboard/LeaderboardWidget.tsx
  frontend/components/dashboard/LevelIndicator.tsx
  frontend/hooks/useLeaderboard.ts
  frontend/lib/constants/leaderboard.ts
  frontend/lib/gamification/__tests__/progressionRankLabel.test.ts
  frontend/lib/gamification/progressionRankLabel.ts
  frontend/types/api.ts
  tests/api/test_badge_endpoints.py
  tests/api/test_user_endpoints.py
  tests/unit/test_auth_service.py
  tests/unit/test_gamification_service.py
  tests/unit/test_user_service.py
Due: backend, frontend

fix(f43): canonicalize progression_rank in user export
  app/services/users/user_service.py
  tests/api/test_user_endpoints.py
Due: backend

fix(ci): restore typed user application handler contracts
  app/services/users/user_application_service.py
  server/handlers/user_handlers.py
Due: backend

feat(f43): add thematic_title as additive public contract
  app/schemas/logic_challenge.py
  app/services/badges/badge_award_persistence.py
  app/services/badges/badge_user_view_service.py
  app/services/challenges/challenge_attempt_service.py
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  frontend/__tests__/unit/components/BadgeCard.test.tsx
  frontend/components/badges/BadgeCard.tsx
  frontend/hooks/useBadges.ts
  frontend/hooks/useChallenges.ts
  frontend/hooks/useSubmitAnswer.ts
  frontend/lib/gamification/__tests__/badgeThematicTitle.test.ts
  frontend/lib/gamification/badgeThematicTitle.ts
  frontend/types/api.ts
  tests/api/test_badge_endpoints.py
  tests/unit/test_challenge_attempt_badge_payload_f43.py
Due: backend, frontend

docs: refresh local clean code session plan
  .claude/session-plan.md
Due: none

fix(cc1): finish encoding cleanup and remove dead ai helpers
  app/core/ai_config.py
  app/core/mastery_tier_bridge.py
  app/services/challenges/challenge_ai_service.py
  app/services/exercises/exercise_ai_service.py
  app/services/gamification/compute.py
Due: backend

docs: mark resolved challenge filter finding in CLAUDE
  CLAUDE.md
Due: none

refactor(cc1): reuse sse helpers in exercise ai stream
  app/services/exercises/exercise_ai_service.py
Due: backend

refactor(cc1): extract challenge ai stream kwargs builder
  app/services/challenges/challenge_ai_model_policy.py
  app/services/challenges/challenge_ai_service.py
  tests/unit/test_challenge_ia4_prompt_and_model_policy.py
Due: backend

docs: mark CC1 clean code plan as completed
  .claude/session-plan.md
Due: none

feat(f04): add spaced repetition backend foundations for exercise attempts
  app/exceptions.py
  app/models/__init__.py
  app/models/exercise.py
  app/models/spaced_repetition_item.py
  app/models/user.py
  app/repositories/spaced_repetition_repository.py
  app/services/exercises/exercise_attempt_service.py
  app/services/spaced_repetition/__init__.py
  app/services/spaced_repetition/sm2_constants.py
  app/services/spaced_repetition/sm2_engine.py
  app/services/spaced_repetition/spaced_repetition_service.py
  migrations/versions/20260327_f04_spaced_repetition_items.py
  tests/conftest.py
  tests/unit/test_answer_validation.py
  tests/unit/test_answer_validation_formats.py
  tests/unit/test_exercise_service.py
  tests/unit/test_sm2_engine.py
  tests/unit/test_spaced_repetition_service.py
  tests/utils/test_data_cleanup.py
Due: backend

feat(f04): expose spaced repetition user summary read model
  app/core/types.py
  app/repositories/spaced_repetition_repository.py
  app/services/spaced_repetition/spaced_repetition_read_service.py
  app/services/users/user_service.py
  docs/00-REFERENCE/ARCHITECTURE.md
  docs/00-REFERENCE/DATA_MODEL.md
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/F04_REVISIONS_ESPACEES.md
  docs/05-ADR/ADR-005-spaced-repetition-foundation.md
  docs/05-ADR/README.md
  tests/api/test_progress_endpoints.py
  tests/unit/test_spaced_repetition_read_model.py
Due: backend

feat(f04): add dashboard review summary from spaced repetition stats
  frontend/README.md
  frontend/__tests__/unit/components/dashboard/SpacedRepetitionSummaryWidget.test.tsx
  frontend/app/dashboard/page.tsx
  frontend/components/dashboard/SpacedRepetitionSummaryWidget.tsx
  frontend/hooks/useUserStats.ts
  frontend/lib/dashboard/__tests__/buildDashboardExportSnapshot.test.ts
  frontend/lib/validation/__tests__/dashboard.test.ts
  frontend/lib/validation/dashboard.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

feat(f04): add next-review api for spaced repetition
  app/repositories/spaced_repetition_repository.py
  app/services/spaced_repetition/spaced_repetition_next_review_service.py
  app/utils/review_safe_exercise.py
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/F04_REVISIONS_ESPACEES.md
  server/handlers/user_handlers.py
  server/routes/users.py
  tests/api/test_reviews_next_endpoint.py
  tests/unit/test_spaced_repetition_next_review.py
  tests/unit/test_spaced_repetition_read_model.py
Due: backend

feat(f04): finalize review-now flow and dashboard calm UX
  docs/02-FEATURES/F04_REVISIONS_ESPACEES.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/05-ADR/ADR-005-spaced-repetition-foundation.md
  frontend/__tests__/unit/components/dashboard/SpacedRepetitionSummaryWidget.reviewCta.test.tsx
  frontend/__tests__/unit/components/dashboard/SpacedRepetitionSummaryWidget.test.tsx
  frontend/__tests__/unit/components/exercises/ExerciseSolver.spacedReview.test.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/globals.css
  frontend/components/dashboard/DailyChallengesWidget.tsx
  frontend/components/dashboard/QuickStartActions.tsx
  frontend/components/dashboard/SpacedRepetitionSummaryWidget.tsx
  frontend/components/dashboard/StreakWidget.tsx
  frontend/components/exercises/ExerciseSolver.tsx
  frontend/components/spatial/DinoFloating.tsx
  frontend/components/spatial/Particles.tsx
  frontend/components/spatial/Planet.tsx
  frontend/components/spatial/Starfield.tsx
  frontend/hooks/useExercise.ts
  frontend/hooks/useNextReview.ts
  frontend/lib/spacedReviewSession.ts
  frontend/lib/validation/spacedRepetitionNextReview.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

fix(f04): harden review accessibility and timing edges
  app/services/spaced_repetition/sm2_engine.py
  frontend/__tests__/unit/components/exercises/ExerciseSolver.spacedReview.test.tsx
  frontend/components/exercises/ExerciseSolver.tsx
  tests/unit/test_sm2_engine.py
Due: backend, frontend

feat(f04): show spaced review explanations after submission
  docs/02-FEATURES/F04_REVISIONS_ESPACEES.md
  frontend/components/exercises/ExerciseSolver.tsx
Due: frontend

docs(f04): align release notes, roadmap and architecture after rollout
  CHANGELOG.md
  README.md
  README_TECH.md
  docs/00-REFERENCE/ARCHITECTURE.md
  docs/00-REFERENCE/DATA_MODEL.md
  docs/00-REFERENCE/GETTING_STARTED.md
  docs/02-FEATURES/API_QUICK_REFERENCE.md
  docs/02-FEATURES/F04_REVISIONS_ESPACEES.md
  docs/02-FEATURES/README.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/04-FRONTEND/COMPONENTS_CATALOGUE.md
  docs/04-FRONTEND/HOOKS_CATALOGUE.md
  docs/05-ADR/ADR-005-spaced-repetition-foundation.md
  docs/INDEX.md
  frontend/README.md
  frontend/app/changelog/page.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: frontend

fix(frontend): align critical multi-theme tokens for leaderboard and primary-on-dark
  frontend/app/globals.css
  frontend/lib/constants/leaderboard.ts
Due: frontend

refactor(frontend): consolidate auth bootstrap and cross-domain session sync
  frontend/components/providers/AuthSyncProvider.tsx
  frontend/hooks/useAuth.ts
  frontend/lib/api/client.ts
  frontend/lib/auth/auth-session-sync.ts
Due: frontend

refactor(frontend): centralize typed browser storage access
  frontend/__tests__/unit/storage/browser-storage.test.ts
  frontend/app/challenges/page.tsx
  frontend/app/exercises/page.tsx
  frontend/components/providers/Providers.tsx
  frontend/lib/analytics/edtech.ts
  frontend/lib/spacedReviewSession.ts
  frontend/lib/storage/browser-storage.ts
  frontend/lib/storage/index.ts
  frontend/lib/storage/keys.ts
Due: frontend

refactor(frontend): extract shared content list page state
  frontend/__tests__/unit/contentList/contentListPage.test.ts
  frontend/app/challenges/page.tsx
  frontend/app/exercises/page.tsx
  frontend/components/shared/ContentListViewModeToggle.tsx
  frontend/hooks/useContentListOrderPreference.ts
  frontend/hooks/useContentListViewControls.ts
  frontend/lib/constants/contentListOrder.ts
  frontend/lib/contentList/pageHelpers.ts
  frontend/lib/contentList/viewMode.ts
Due: frontend

refactor(frontend): standardize loading states and dashboard skeletons
  frontend/components/auth/ProtectedRoute.tsx
  frontend/components/badges/BadgeGrid.tsx
  frontend/components/dashboard/DailyChallengesWidget.tsx
  frontend/components/dashboard/DashboardSkeletons.tsx
  frontend/components/dashboard/Recommendations.tsx
Due: frontend

refactor(frontend): clean safe legacy Star Wars naming
  frontend/app/admin/ai-monitoring/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/login/page.tsx
  frontend/lib/constants/badge-icons.ts
  frontend/lib/constants/demoLogin.ts
  frontend/lib/constants/leaderboard.ts
  frontend/lib/gamification/progressionRankLabel.ts
  frontend/types/api.ts
Due: frontend

refactor(frontend): reduce generator duplication around shared AI base
  frontend/__tests__/unit/ai-generation/toAIGeneratedItem.test.ts
  frontend/components/challenges/AIGenerator.tsx
  frontend/components/exercises/AIGenerator.tsx
  frontend/components/exercises/UnifiedExerciseGenerator.tsx
  frontend/components/shared/AIGeneratorBase.tsx
  frontend/components/shared/aiGeneratorSharedUi.tsx
  frontend/lib/ai/generation/toAIGeneratedItem.ts
Due: frontend

test(frontend): fix vitest coverage regressions after frontend refactors
  frontend/__tests__/unit/app/leaderboard/LeaderboardPage.test.tsx
  frontend/__tests__/unit/components/ProtectedRoute.test.tsx
Due: frontend

refactor(frontend): prepare solver split with low-risk extractions
  frontend/__tests__/unit/exercises/exerciseSolverSession.test.ts
  frontend/components/challenges/ChallengeSolver.tsx
  frontend/components/exercises/ExerciseSolver.tsx
  frontend/components/shared/SolverFocusBoard.tsx
  frontend/lib/exercises/exerciseSolverSession.ts
Due: frontend

refactor(frontend): split exercise solver into focused sections
  frontend/components/exercises/ExerciseSolver.tsx
  frontend/components/exercises/ExerciseSolverChoices.tsx
  frontend/components/exercises/ExerciseSolverFeedback.tsx
  frontend/components/exercises/ExerciseSolverHeader.tsx
Due: frontend

Path conditions:
  backend: any of: app/, server/
  frontend: any of: frontend/
