Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Configuration Codecov - Mathakine
# https://docs.codecov.com/docs/codecov-yaml

# Corriger les chemins CI (GitHub Actions) pour matcher la structure git
# Format GitHub Actions: /home/runner/work/OWNER/REPO/
fixes:
  - "/home/runner/work/[^/]+/[^/]+/::"

coverage:
  range: 40..100
  precision: 2
  round: down
  status:
    project:
      default:
        target: 45%
    patch:
      default:
        target: 40%

comment:
  layout: "reach,diff,flags,tree"

flags:
  backend:
    paths:
      - app/
      - server/
  frontend:
    paths:
      - frontend/

feat(frontend): set Nunito as UI sans, JetBrains Mono, logo wordmark
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/components/LogoMathakine.tsx
Due: frontend

Fix test mocks broken by G004: accept %-style logger args
  tests/unit/test_ai_workload_keys.py
  tests/unit/test_app_model_policy.py
Due: none

docs(changelog): catch up unreleased entries — G004, ACTIF-03/04, security, fonts
  CHANGELOG.md
Due: none

frontend: section headings, spatial theme, micro-easing, i18n; Prettier
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/badges/BadgesClosestSection.tsx
  frontend/components/challenges/visualizations/PuzzleRenderer.tsx
  frontend/components/dashboard/AverageTimeWidget.tsx
  frontend/components/dashboard/CategoryAccuracyChart.tsx
  frontend/components/dashboard/ChallengesProgressWidget.tsx
  frontend/components/dashboard/LevelIndicator.tsx
  frontend/components/dashboard/QuickStartActions.tsx
  frontend/components/exercises/ExerciseCard.tsx
  frontend/components/home/AcademyStatsWidget.tsx
  frontend/components/layout/Header.tsx
  frontend/components/leaderboard/LeaderboardCurrentUserFooter.tsx
  frontend/components/learner/HomeLearnerActionsSection.tsx
  frontend/components/learner/HomeLearnerContent.tsx
  frontend/components/learner/HomeLearnerReviewsSection.tsx
  frontend/components/shared/ContentCardBase.tsx
  frontend/lib/constants/exercises.ts
  frontend/lib/hooks/useAccessibleAnimation.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

style(frontend): normalize section typography and accent tokens
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/badges/BadgesClosestSection.tsx
  frontend/components/challenges/visualizations/PuzzleRenderer.tsx
  frontend/components/dashboard/AverageTimeWidget.tsx
  frontend/components/dashboard/CategoryAccuracyChart.tsx
  frontend/components/dashboard/ChallengesProgressWidget.tsx
  frontend/components/dashboard/LevelIndicator.tsx
  frontend/components/home/AcademyStatsWidget.tsx
  frontend/components/leaderboard/LeaderboardCurrentUserFooter.tsx
  frontend/components/learner/HomeLearnerActionsSection.tsx
  frontend/components/learner/HomeLearnerContent.tsx
  frontend/components/learner/HomeLearnerReviewsSection.tsx
Due: frontend

fix(frontend): Next scroll hint + WCAG eyebrow contrast
  frontend/app/globals.css
  frontend/app/layout.tsx
Due: frontend

style(frontend): distill card chrome, polish focus and dark surfaces
  frontend/app/globals.css
  frontend/components/badges/BadgeCard.tsx
  frontend/components/badges/BadgesHeaderStats.tsx
  frontend/components/dashboard/LevelIndicator.tsx
  frontend/components/exercises/ExerciseCard.tsx
  frontend/components/layout/Footer.tsx
  frontend/components/shared/ContentCardBase.tsx
  frontend/lib/constants/exercises.ts
Due: frontend

feat(frontend): distill side-tabs, badges a11y, spatial theme alignment
  .github/copilot-instructions.md
  .impeccable.md
  frontend/app/about/page.tsx
  frontend/app/docs/page.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/components/LogoMathakine.tsx
  frontend/components/accessibility/AccessibilityToolbar.tsx
  frontend/components/badges/BadgeCard.tsx
  frontend/components/badges/BadgesProgressTabsSection.tsx
  frontend/components/badges/badgeCard/BadgeCardCardContent.tsx
  frontend/components/badges/badgeCard/BadgeCardCompactEarnedHeader.tsx
  frontend/components/badges/badgeCard/BadgeCardStandardHeader.tsx
  frontend/components/dashboard/QuickStartActions.tsx
  frontend/components/dashboard/Recommendations.tsx
  frontend/components/diagnostic/DiagnosticQuestionState.tsx
  frontend/components/exercises/ExerciseSolverFeedback.tsx
  frontend/components/layout/Footer.tsx
  frontend/components/leaderboard/LeaderboardCurrentUserFooter.tsx
  frontend/components/leaderboard/LeaderboardRow.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/progress.tsx
  frontend/public/manifest.json
Due: frontend

fix(ui): Impeccable pass, spatial palette, and changelog [Unreleased]
  CHANGELOG.md
  frontend/app/globals.css
  frontend/components/accessibility/AccessibilityToolbar.tsx
  frontend/components/challenges/ChallengeCard.tsx
  frontend/components/challenges/ChallengeSolverHeader.tsx
  frontend/components/challenges/visualizations/PuzzleRenderer.tsx
  frontend/components/chat/ChatbotFloating.tsx
  frontend/components/dashboard/PerformanceByType.tsx
  frontend/components/spatial/Planet.tsx
  frontend/components/ui/dialog.tsx
  frontend/components/ui/feedback.tsx
  frontend/lib/badges/badgesPage.ts
  frontend/lib/constants/challenges.ts
  frontend/lib/constants/exercises.ts
  frontend/lib/constants/leaderboard.ts
  frontend/lib/utils/avatar.ts
  frontend/styles/accessibility.css
Due: frontend

feat(frontend): progression arc on learner home, calm surfaces, rhythm
  frontend/app/globals.css
  frontend/components/badges/badgeCard/BadgeCardCardContent.tsx
  frontend/components/dashboard/StreakWidget.tsx
  frontend/components/dashboard/StudentChallengesBoard.tsx
  frontend/components/learner/HomeLearnerContent.tsx
  frontend/components/learner/HomeLearnerPageMap.tsx
  frontend/components/progression/ProgressionConstellation.test.tsx
  frontend/components/progression/ProgressionConstellation.tsx
  frontend/components/progression/index.ts
  frontend/hooks/useProgressionArc.test.tsx
  frontend/hooks/useProgressionArc.ts
  frontend/lib/gamification/progressionArc.test.ts
  frontend/lib/gamification/progressionArc.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

feat(frontend): full rank ladder arc, hidden scrollbars, polish
  frontend/components/progression/ProgressionConstellation.test.tsx
  frontend/components/progression/ProgressionConstellation.tsx
  frontend/hooks/useProgressionArc.test.tsx
  frontend/lib/gamification/progressionArc.test.ts
  frontend/lib/gamification/progressionArc.ts
Due: frontend

fix(middleware): add missing middleware.ts entry point (P1-1)
  frontend/middleware.ts
Due: frontend

refactor(auth): remove vestigial localStorage refresh_token cleanup (P2)
  frontend/hooks/useAuth.ts
  frontend/lib/auth/types.ts
Due: frontend

fix(middleware): revert to proxy.ts convention (Next.js 16 breaking change)
  frontend/app/layout.tsx
  frontend/lib/security/buildContentSecurityPolicy.ts
  frontend/middleware.ts
Due: frontend

test(frontend): ACTIF-04-COVERAGE-03 Priority 1 — 11 hook tests (branches +2.4 pts)
  frontend/hooks/useAIChallengeGenerator.test.ts
  frontend/hooks/useAdminAiStats.test.ts
  frontend/hooks/useAdminAuditLog.test.ts
  frontend/hooks/useAdminChallenges.test.ts
  frontend/hooks/useAdminExercises.test.ts
  frontend/hooks/useAdminModeration.test.ts
  frontend/hooks/useAdminUsers.test.ts
  frontend/hooks/useBadges.test.ts
  frontend/hooks/useChallenges.test.ts
  frontend/hooks/useProfile.test.ts
  frontend/hooks/useSettings.test.ts
Due: frontend

refactor(locale): encapsulate Zustand persist read in getPersistedLocale() (P2-1)
  frontend/lib/api/client.ts
  frontend/lib/stores/localeStore.ts
Due: frontend

docs(frontend): swallowed catch comment in useChallengeTranslations
  frontend/hooks/useChallengeTranslations.ts
Due: frontend

docs(frontend): swallowed catch in exerciseSolverSession parse
  frontend/lib/exercises/exerciseSolverSession.ts
Due: frontend

docs(frontend): swallowed catch in RiddleRenderer JSON parse
  frontend/components/challenges/visualizations/RiddleRenderer.tsx
Due: frontend

docs(frontend): swallowed catch in VisualRenderer visual_data parse
  frontend/components/challenges/visualizations/VisualRenderer.tsx
Due: frontend

docs(frontend): swallowed catch in DashboardLastUpdate
  frontend/components/dashboard/DashboardLastUpdate.tsx
Due: frontend

docs(frontend): swallowed catch in ProgressTimelineWidget tooltip
  frontend/components/dashboard/ProgressTimelineWidget.tsx
Due: frontend

docs(frontend): swallowed catch in RecentActivity formatActivityTime
  frontend/components/dashboard/RecentActivity.tsx
Due: frontend

docs(frontend): swallowed catch in SpacedRepetitionSummaryWidget date format
  frontend/components/dashboard/SpacedRepetitionSummaryWidget.tsx
Due: frontend

docs(frontend): swallowed catches in exportPDF date formatters
  frontend/lib/utils/exportPDF.ts
Due: frontend

docs(frontend): swallowed catch in nextImageRemoteSource URL parse
  frontend/lib/utils/nextImageRemoteSource.ts
Due: frontend

docs(frontend): swallowed catch in global-error readPersistedLocale
  frontend/app/global-error.tsx
Due: frontend

style(tests): fix prettier formatting on 6 hook test files
  frontend/hooks/useAdminAuditLog.test.ts
  frontend/hooks/useAdminModeration.test.ts
  frontend/hooks/useAdminUsers.test.ts
  frontend/hooks/useChallenges.test.ts
  frontend/hooks/useProfile.test.ts
  frontend/hooks/useSettings.test.ts
Due: frontend

style(security): add Permissions-Policy header to Next.js config (M1)
  frontend/next.config.ts
Due: frontend

security(api): add rate limit on POST /api/feedback (M2)
  app/utils/rate_limit.py
  server/handlers/feedback_handlers.py
Due: backend

chore(deps): bump dompurify 3.3.3→3.4.0 via npm audit fix (L1)
  frontend/package-lock.json
Due: frontend

style(frontend): fix prettier on 6 files + ignore generated artifacts
  frontend/.prettierignore
Due: frontend

chore(plan): beta fermée — session plan mis à jour (Claude Code session)
  .claude/session-plan.md
Due: none

docs(privacy): RGPD Art.13 legal basis + minors sections, date + cookie cosmetic fixes
  frontend/app/privacy/page.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

docs: realign active documentation and archive obsolete notes
  CHANGELOG.md
  README_TECH.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/03-PROJECT/RAPPORT_REVUE_DOCUMENTAIRE_2026-04-16.md
  docs/03-PROJECT/README.md
  docs/03-PROJECT/archives/IMPLEMENTATION_NOTES_CLOSED_2026-04/IMPLEMENTATION_F07_TIMELINE.md
  docs/03-PROJECT/archives/IMPLEMENTATION_NOTES_CLOSED_2026-04/IMPLEMENTATION_F32_SESSION_ENTRELACEE.md
  docs/03-PROJECT/archives/IMPLEMENTATION_NOTES_CLOSED_2026-04/RAPPORT_VALIDATE_TOKEN_RATE_LIMIT_2026-04-07.md
  docs/03-PROJECT/archives/IMPLEMENTATION_NOTES_CLOSED_2026-04/README.md
  docs/04-FRONTEND/ARCHITECTURE.md
  docs/04-FRONTEND/COMPONENTS_CATALOGUE.md
  docs/04-FRONTEND/HOOKS_CATALOGUE.md
  docs/06-WIDGETS/CORRECTIONS_WIDGETS.md
  docs/06-WIDGETS/DESIGN_SYSTEM_WIDGETS.md
  docs/06-WIDGETS/ENDPOINTS_PROGRESSION.md
  docs/06-WIDGETS/F02_DAILY_CHALLENGES_WIDGET.md
  docs/06-WIDGETS/INTEGRATION_PROGRESSION_WIDGETS.md
  docs/06-WIDGETS/README.md
  docs/INDEX.md
  frontend/README.md
Due: frontend

feat(feedback): A1 add feedback context fields
  app/models/feedback_report.py
  app/services/feedback/feedback_service.py
  migrations/versions/20260416_feedback_context_fields.py
  server/handlers/feedback_handlers.py
  tests/api/test_feedback_endpoints.py
Due: backend

test(feedback): use apprenant_client and admin_client fixtures (A1 pytest fix)
  tests/api/test_feedback_endpoints.py
  tests/conftest.py
Due: none

fix(feedback): fix residual archiviste_client reference in test_admin_list_feedback
  tests/api/test_feedback_endpoints.py
Due: none

style(feedback): fix isort order in feedback_handlers.py
  server/handlers/feedback_handlers.py
Due: backend
