Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Configuration Codecov - Mathakine
# https://docs.codecov.com/docs/codecov-yaml

# Corriger les chemins CI (GitHub Actions) pour matcher la structure git
# Format GitHub Actions: /home/runner/work/OWNER/REPO/
fixes:
  - "/home/runner/work/[^/]+/[^/]+/::"

coverage:
  range: 40..100
  precision: 2
  round: down
  status:
    project:
      default:
        target: 45%
    patch:
      default:
        target: 40%

comment:
  layout: "reach,diff,flags,tree"

flags:
  backend:
    paths:
      - app/
      - server/
  frontend:
    paths:
      - frontend/

docs: mise en ordre documentation + CI/CD, smoke test, rollback
  .github/workflows/tests.yml
  docs/00-REFERENCE/GETTING_STARTED.md
  docs/01-GUIDES/ENV_CHECK.md
  docs/02-FEATURES/B4_REFORMULATION_BADGES.md
  docs/02-FEATURES/BADGES_AMELIORATIONS.md
  docs/02-FEATURES/PLAN_REFONTE_BADGES.md
  docs/02-FEATURES/SITUATION_FEATURES.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/INDEX.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/DEPLOIEMENT_2026-02-06.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/INDEX.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/SUIVI_MIGRATION_ALEMBIC_22-02.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/README.md
  docs/03-PROJECT/CICD_DEPLOY.md
  docs/03-PROJECT/README.md
  docs/CONVENTION_DOCUMENTATION.md
  docs/INDEX.md
Due: none

feat(feedback): icÃ´ne drapeau et style rouge pour FeedbackFab - Ã©vite confusion avec chat IA
  frontend/components/feedback/FeedbackFab.tsx
Due: frontend

fix: black formatting, FeedbackFab TS, test recommandation
  frontend/components/feedback/FeedbackFab.tsx
  server/handlers/badge_handlers.py
  server/handlers/feedback_handlers.py
  tests/unit/test_recommendation_service.py
Due: backend, frontend

fix: isort all_models, Prettier frontend (feedback, dashboard, leaderboard)
  app/models/all_models.py
  frontend/app/admin/feedback/page.tsx
  frontend/app/admin/layout.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/leaderboard/page.tsx
  frontend/components/dashboard/AverageTimeWidget.tsx
  frontend/components/feedback/FeedbackFab.tsx
Due: backend, frontend

feat: version 2.2.0-alpha.1 - changelog, Ã€ propos, Contact, Politique de confidentialitÃ©
  CHANGELOG.md
  docs/01-GUIDES/CONTRIBUTING.md
  frontend/app/about/page.tsx
  frontend/app/changelog/page.tsx
  frontend/app/contact/page.tsx
  frontend/app/privacy/page.tsx
  frontend/components/feedback/FeedbackFab.tsx
  frontend/components/home/ChatbotFloating.tsx
  frontend/components/layout/Footer.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package.json
Due: frontend

fix: TS changelog + menu fixe + docs workflow/versioning
  .cursor/rules/versioning-changelog.mdc
  docs/01-GUIDES/CONTRIBUTING.md
  docs/02-FEATURES/WORKFLOW_EDUCATION_REFACTORING.md
  docs/INDEX.md
  frontend/app/changelog/page.tsx
  frontend/app/layout.tsx
  frontend/components/layout/Header.tsx
Due: frontend

chore: page changelog 2.2.0-alpha.6
  frontend/app/changelog/page.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

chore: release 2.2.1-alpha.2 - regroupement des avancees depuis alpha.1
  .cursor/rules/versioning-changelog.mdc
  CHANGELOG.md
  frontend/app/changelog/page.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package.json
Due: frontend

fix(frontend): corrections TypeScript pour CI (tsc --noEmit)
  frontend/__tests__/unit/components/QuickStartActions.test.tsx
  frontend/app/onboarding/page.tsx
  frontend/components/dashboard/QuickStartActions.tsx
  frontend/lib/analytics/edtech.ts
Due: frontend

style(frontend): formatage Prettier
  frontend/app/admin/analytics/page.tsx
  frontend/app/changelog/page.tsx
  frontend/app/onboarding/page.tsx
  frontend/app/profile/page.tsx
  frontend/components/auth/ProtectedRoute.tsx
  frontend/components/dashboard/QuickStartActions.tsx
  frontend/components/layout/UnverifiedBanner.tsx
  frontend/components/providers/AccessScopeSync.tsx
  frontend/hooks/useAdminEdTechAnalytics.ts
  frontend/hooks/useAuth.ts
  frontend/lib/analytics/edtech.ts
  frontend/lib/api/client.ts
Due: frontend

fix: migration edtech idempotente + corrections ESLint (hooks, unused vars)
  frontend/app/badges/page.tsx
  frontend/app/challenges/page.tsx
  frontend/app/leaderboard/page.tsx
  frontend/app/profile/page.tsx
  frontend/app/reset-password/page.tsx
  frontend/app/verify-email/page.tsx
  frontend/components/challenges/ChallengeModal.tsx
  frontend/components/challenges/visualizations/DeductionRenderer.tsx
  migrations/versions/20260225_add_edtech_events.py
Due: frontend

docs: revue vérité terrain - DRY, placeholders, évaluation projet
  docs/02-FEATURES/SITUATION_FEATURES.md
  docs/03-PROJECT/ANALYSE_DUPLICATION_DRY_2026-02.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/PLAN_ACTION_2026-02-06.md
  docs/03-PROJECT/EVALUATION_PROJET_2026-02-07.md
  docs/03-PROJECT/PLACEHOLDERS_ET_TODO.md
  docs/03-PROJECT/README.md
  docs/INDEX.md
Due: none

fix: auth F821, Bearer token support, tests, Prettier format
  frontend/app/admin/analytics/page.tsx
  frontend/components/accessibility/AccessibilityToolbar.tsx
  frontend/components/admin/ChallengeEditModal.tsx
  frontend/components/layout/Header.tsx
  frontend/docs/FOCUS_MODE_REVIEW.md
  server/handlers/auth_handlers.py
  server/middleware.py
  tests/api/test_challenge_endpoints.py
  tests/api/test_progress_endpoints.py
Due: backend, frontend

fix: pin eslint 9.x + codecov only if frontend succeeds
  .github/workflows/tests.yml
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix: pin eslint to exact 9.39.3 (no caret) for npm ci
  frontend/package-lock.json
  frontend/package.json
Due: frontend

refactor(auth): AuthService, handlers, ASGI RequestIdMiddleware, is_email_verified in PUT /api/users/me
  .github/dependabot.yml
  CHANGELOG.md
  app/services/auth_service.py
  app/services/enhanced_server_adapter.py
  app/services/exercise_service.py
  app/services/recommendation_service.py
  app/services/user_service.py
  docs/01-GUIDES/TESTING.md
  docs/02-FEATURES/AUTH_FLOW.md
  docs/02-FEATURES/ROADMAP_FONCTIONNALITES.md
  docs/03-PROJECT/ANALYSE_DUPLICATION_DRY_2026-02.md
  docs/03-PROJECT/INVENTAIRE_HANDLERS_DB_DIRECTE.md
  docs/03-PROJECT/REFACTO_EXERCISE_HANDLERS.md
  frontend/package-lock.json
  server/handlers/auth_handlers.py
  server/handlers/exercise_handlers.py
  server/handlers/recommendation_handlers.py
  server/handlers/user_handlers.py
  server/middleware.py
  tests/api/test_auth_flow.py
  tests/api/test_unverified_access.py
  tests/api/test_user_delete_cascade.py
  tests/api/test_user_endpoints.py
  tests/unit/test_auth_service.py
Due: backend, frontend

style: apply black formatting
  app/services/exercise_service.py
  app/services/recommendation_service.py
  app/services/user_service.py
  server/handlers/exercise_handlers.py
Due: backend

style: apply isort import ordering
  app/services/user_service.py
  server/handlers/user_handlers.py
Due: backend

refactor(handlers): handlers minces - DB directe vers services
  app/services/admin_service.py
  app/services/analytics_service.py
  app/services/challenge_service.py
  app/services/feedback_service.py
  app/services/user_service.py
  docs/03-PROJECT/INVENTAIRE_HANDLERS_DB_DIRECTE.md
  server/handlers/admin_handlers.py
  server/handlers/analytics_handlers.py
  server/handlers/challenge_handlers.py
  server/handlers/feedback_handlers.py
  server/handlers/user_handlers.py
Due: backend

refactor(admin): Users CRUD vers AdminService
  app/services/admin_service.py
  docs/03-PROJECT/INVENTAIRE_HANDLERS_DB_DIRECTE.md
  server/handlers/admin_handlers.py
Due: backend

refactor(admin): Badges CRUD via AdminService - list, create, get, put, delete
  app/services/admin_service.py
  docs/03-PROJECT/INVENTAIRE_HANDLERS_DB_DIRECTE.md
  server/handlers/admin_handlers.py
Due: backend

refactor(admin): Exercises CRUD via AdminService + doc normalisation difficulté
  app/services/admin_service.py
  docs/02-FEATURES/NIVEAUX_DIFFICULTE_NORMALISATION.md
  docs/03-PROJECT/INVENTAIRE_HANDLERS_DB_DIRECTE.md
  docs/03-PROJECT/PLACEHOLDERS_ET_TODO.md
  server/handlers/admin_handlers.py
Due: backend

refactor(admin): Challenges + Export CSV via AdminService, fix moderation edit modal
  app/services/admin_service.py
  docs/03-PROJECT/INVENTAIRE_HANDLERS_DB_DIRECTE.md
  frontend/app/admin/moderation/page.tsx
  server/handlers/admin_handlers.py
Due: backend, frontend

chore: update frontend package-lock.json
  frontend/package-lock.json
Due: frontend

style: fix isort import order in admin_service.py
  app/services/admin_service.py
Due: backend

fix(audit): align version, remove pathlib, fix create_generated_exercise session
  app/core/config.py
  app/services/enhanced_server_adapter.py
  docs/03-PROJECT/AUDIT_BACKEND_ALPHA2_ANALYSE_ETAT_2026-02.md
  requirements.txt
Due: backend

docs: refactor admin handlers - inventaire, index, REFACTO_ADMIN
  docs/03-PROJECT/INVENTAIRE_HANDLERS_DB_DIRECTE.md
  docs/03-PROJECT/README.md
  docs/03-PROJECT/REFACTO_ADMIN_HANDLERS.md
  docs/INDEX.md
Due: none

fix(audit): remove redundant db.commit from recommendation_handlers
  docs/03-PROJECT/AUDIT_BACKEND_ALPHA2_ANALYSE_ETAT_2026-02.md
  server/handlers/recommendation_handlers.py
Due: backend

feat(audit): unified API error schema - 404/500 + api_error_response
  app/utils/error_handler.py
  docs/03-PROJECT/AUDIT_BACKEND_ALPHA2_ANALYSE_ETAT_2026-02.md
  server/error_handlers.py
  tests/api/test_base_endpoints.py
  tests/unit/test_error_handler.py
Due: backend

style: black format error_handlers.py
  server/error_handlers.py
Due: backend

docs: archiver audits et rapports obsolètes/implémentés dans AUDITS_ET_RAPPORTS_ARCHIVES
  docs/01-GUIDES/TESTING.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/AUDIT_BACKEND_ALPHA2_ANALYSE_ETAT_2026-02.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/AUDIT_BACKEND_ALPHA2_INDUSTRIALISATION.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/AUDIT_DETTE_QUALITE_FRONTEND_2026-02-20.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/AUDITS_IMPLEMENTES/INDEX.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/ANALYSE_MIGRATION_ALEMBIC_INIT_DB.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/AUDIT_QUALITE_CODE_2026-02.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/CONTEXTE_PROJET_REEL.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/INDEX.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/INVENTAIRE_HANDLERS_DB_DIRECTE.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/PLAN_PREPARATION_MIGRATION_ALEMBIC_DDL.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/REFACTO_ADMIN_HANDLERS.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/REFACTO_EXERCISE_HANDLERS.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/RAPPORTS_TEMPORAIRES/VALIDATION_MIGRATION_ALEMBIC_2026-02.md
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/README.md
  docs/03-PROJECT/README.md
  docs/CONVENTION_DOCUMENTATION.md
  docs/INDEX.md
Due: none

fix(audit): P1 corrections audit Backend Alpha 2 - erreurs unifiées, SQL badge → service
  app/services/badge_service.py
  app/utils/error_handler.py
  docs/03-PROJECT/AUDITS_ET_RAPPORTS_ARCHIVES/README.md
  docs/03-PROJECT/AUDIT_TECHNIQUE_BACKEND_ALPHA2_2026-02-27.md
  docs/03-PROJECT/CHALLENGE_AUDIT_TECHNIQUE_BACKEND_2026-02-28.md
  docs/03-PROJECT/PRIORISATION_AUDIT_BACKEND_ALPHA2_2026-02-28.md
  docs/03-PROJECT/README.md
  requirements.txt
  server/handlers/badge_handlers.py
  server/handlers/exercise_handlers.py
Due: backend

style: black format badge_service, badge_handlers, exercise_handlers
  app/services/badge_service.py
  server/handlers/badge_handlers.py
  server/handlers/exercise_handlers.py
Due: backend

refactor(audit): P2 submit_answer - logique métier vers ExerciseService
  app/services/exercise_service.py
  docs/03-PROJECT/PRIORISATION_AUDIT_BACKEND_ALPHA2_2026-02-28.md
  server/handlers/exercise_handlers.py
Due: backend

refactor(audit): P3 auth/user db.commit vers AuthService
  app/services/auth_service.py
  docs/03-PROJECT/PRIORISATION_AUDIT_BACKEND_ALPHA2_2026-02-28.md
  server/handlers/auth_handlers.py
  server/handlers/user_handlers.py
Due: backend
