Repository zyclope0/mathakine: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Configuration Codecov - Mathakine
# https://docs.codecov.com/docs/codecov-yaml

# Corriger les chemins CI (GitHub Actions) pour matcher la structure git
# Format GitHub Actions: /home/runner/work/OWNER/REPO/
fixes:
  - "/home/runner/work/[^/]+/[^/]+/::"

coverage:
  range: 40..100
  precision: 2
  round: down
  status:
    project:
      default:
        target: 45%
    patch:
      default:
        target: 40%

comment:
  layout: "reach,diff,flags,tree"

flags:
  backend:
    paths:
      - app/
      - server/
  frontend:
    paths:
      - frontend/

docs(changelog): add 3.6.0-beta.1 unreleased entry + update session plan progress
  .claude/session-plan.md
  CHANGELOG.md
Due: none

feat(feedback): A2 send frontend feedback context fields
  frontend/components/feedback/FeedbackFab.tsx
Due: frontend

test(feedback): cover FeedbackFab context payload
  .claude/session-plan.md
  frontend/components/feedback/FeedbackFab.test.tsx
Due: frontend

feat(feedback): A3 display debug context in admin feedback
  frontend/app/admin/feedback/page.tsx
  frontend/hooks/useAdminFeedback.ts
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

docs(plan): mark A3 done (132368f)
  .claude/session-plan.md
Due: none

feat(admin-feedback): add detail modal for long feedback reports
  frontend/app/admin/feedback/page.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

feat(admin-feedback): add status workflow for feedback triage
  app/services/feedback/feedback_service.py
  frontend/app/admin/feedback/page.tsx
  frontend/hooks/useAdminFeedback.ts
  frontend/messages/en.json
  frontend/messages/fr.json
  server/handlers/feedback_handlers.py
  server/routes/admin.py
  tests/api/test_feedback_endpoints.py
Due: backend, frontend

feat(admin-feedback): add delete action for feedback reports
  app/services/feedback/feedback_service.py
  frontend/app/admin/feedback/page.tsx
  frontend/hooks/useAdminFeedback.ts
  frontend/messages/en.json
  frontend/messages/fr.json
  server/handlers/feedback_handlers.py
  server/routes/admin.py
  tests/api/test_feedback_endpoints.py
Due: backend, frontend

test(feedback): verify deleted reports disappear from admin list
  tests/api/test_feedback_endpoints.py
Due: none

feat(feedback): add contextual feedback triggers without changing global FAB
  frontend/components/challenges/ChallengeSolverFeedback.tsx
  frontend/components/exercises/ExerciseSolverFeedback.tsx
  frontend/components/feedback/FeedbackComposer.tsx
  frontend/components/feedback/FeedbackFab.tsx
  frontend/components/feedback/FeedbackTrigger.tsx
  frontend/components/feedback/feedbackConfig.ts
  frontend/components/feedback/useFeedbackFlow.ts
  frontend/components/layout/Header.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

fix(feedback): add discrete Signaler trigger in exercise modal after submit
  frontend/components/exercises/ExerciseModal.tsx
Due: frontend

docs(plan): mark A4 done (ae08c8f)
  .claude/session-plan.md
Due: none

feat(docs): C3 beta guide, docs faq refresh, and contextual doc tips
  CHANGELOG.md
  CLAUDE.md
  README.md
  README_TECH.md
  app/core/config.py
  docs/00-REFERENCE/GETTING_STARTED.md
  docs/BETA_GUIDE.md
  docs/INDEX.md
  frontend/README.md
  frontend/app/changelog/page.tsx
  frontend/app/docs/page.tsx
  frontend/components/accessibility/AccessibilityToolbar.tsx
  frontend/components/dashboard/StreakWidget.tsx
  frontend/components/ui/DocTip.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: backend, frontend

fix(changelog): correct beta.1 date to 2026-04-17
  CHANGELOG.md
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

fix(admin-feedback): polish triage UI and align CI formatting
  .github/copilot-instructions.md
  .impeccable.md
  app/services/feedback/feedback_service.py
  frontend/app/admin/adminRoutePagesI18n.smoke.test.tsx
  frontend/app/admin/feedback/page.tsx
  server/handlers/feedback_handlers.py
Due: backend, frontend

feat(docs): improve beta onboarding docs and contextual guidance
  README.md
  docs/BETA_GUIDE.md
  docs/INDEX.md
  frontend/__tests__/accessibility/accessibility.test.tsx
  frontend/app/docs/page.tsx
  frontend/components/accessibility/AccessibilityToolbar.tsx
  frontend/components/ui/DocTip.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

feat(docs): align beta docs and add dashboard help entry
  docs/BETA_GUIDE.md
  frontend/app/dashboard/page.tsx
  frontend/app/docs/page.tsx
  frontend/components/dashboard/DashboardOverviewSection.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

style(docs): polish beta docs surfaces and dashboard help entry
  frontend/app/docs/page.tsx
  frontend/components/dashboard/DashboardOverviewSection.tsx
Due: frontend

chore(release): prepare 3.6.0-beta.2
  .claude/session-plan.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  README_TECH.md
  app/core/config.py
  frontend/README.md
  frontend/app/changelog/page.tsx
  frontend/app/docs/page.test.tsx
  frontend/components/dashboard/DashboardOverviewSection.test.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
Due: backend, frontend

fix(i18n): align html lang with server-readable locale
  frontend/app/layout.locale.test.ts
  frontend/app/layout.tsx
  frontend/components/locale/LocaleInitializer.tsx
  frontend/components/providers/NextIntlProvider.tsx
  frontend/lib/localeCookie.test.ts
  frontend/lib/localeCookie.ts
  frontend/lib/stores/localeStore.test.ts
  frontend/lib/stores/localeStore.ts
Due: frontend

fix(auth): capture only unexpected auth mutation errors in Sentry
  frontend/hooks/useAuth.test.ts
  frontend/hooks/useAuth.ts
Due: frontend

chore(frontend): optimize framer-motion package imports
  frontend/next.config.ts
Due: frontend

feat(frontend): add route loading skeletons for dashboard settings profile and admin
  frontend/app/admin/loading.tsx
  frontend/app/dashboard/loading.tsx
  frontend/app/profile/loading.tsx
  frontend/app/settings/loading.tsx
Due: frontend

fix(i18n): internationalize admin badge creation modal
  frontend/components/admin/BadgeCreateModal.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

fix(i18n): localize badge category and difficulty options in create modal
  frontend/components/admin/BadgeCreateModal.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

fix(i18n): internationalize admin academy stats section
  frontend/components/admin/AdminAcademyStatsSection.test.tsx
  frontend/components/admin/AdminAcademyStatsSection.tsx
  frontend/messages/en.json
  frontend/messages/fr.json
Due: frontend

chore(ci): align coverage governance between GitHub Actions and Codecov
  .github/workflows/tests.yml
  README_TECH.md
  codecov.yml
Due: none

fix(quality): close frontend findings and align coverage governance
  .claude/session-plan.md
  codecov.yml
  frontend/app/admin/loading.tsx
  frontend/app/layout.tsx
  frontend/components/locale/LocaleInitializer.test.tsx
  frontend/components/locale/LocaleInitializer.tsx
  frontend/hooks/useAuth.test.ts
  frontend/hooks/useAuth.ts
  frontend/i18n/request.test.ts
  frontend/i18n/request.ts
  frontend/lib/localeCookie.test.ts
  frontend/lib/localeCookie.ts
Due: frontend

fix(ci): align test database and artifact action versions
  .github/workflows/tests.yml
Due: none

refactor(backend): normalize sqlalchemy boolean comparisons
  app/db/adapter.py
  app/services/admin/admin_content_service.py
  app/services/admin/admin_moderation_service.py
  app/services/admin/admin_overview_service.py
  app/services/admin/admin_reporting_service.py
  app/services/badges/badge_award_service.py
  app/services/badges/badge_progress_service.py
  app/services/badges/badge_rarity_service.py
  app/services/badges/badge_requirement_engine.py
  app/services/badges/badge_requirement_fallbacks.py
  app/services/badges/badge_user_view_service.py
  app/services/challenges/challenge_service.py
  app/services/challenges/logic_challenge_service.py
  app/services/exercises/exercise_service.py
  app/services/exercises/exercise_stats_service.py
  app/services/recommendation/recommendation_service.py
  app/services/users/user_service.py
Due: backend

fix(challenges): keep coding open-text and render substitution hints cleanly
  app/services/challenges/challenge_api_mapper.py
  app/services/challenges/challenge_contract_policy.py
  frontend/components/challenges/visualizations/CodingRenderer.tsx
  frontend/components/challenges/visualizations/VisualizationRenderers.test.tsx
  tests/unit/test_challenge_ia9_contract_policy.py
Due: backend, frontend

fix(challenges): harden coding difficulty calibration
  app/services/challenges/challenge_difficulty_policy.py
  app/services/challenges/challenge_validator.py
  tests/unit/test_challenge_ia5_quality.py
Due: backend

fix(challenges): recover normalized generation errors and clean sse messages
  app/services/challenges/challenge_ai_service.py
  tests/unit/test_challenge_ai_safe_errors.py
Due: backend

fix(challenges): harden high-difficulty sequences and math feedback rendering
  app/services/challenges/challenge_contract_policy.py
  app/services/challenges/challenge_difficulty_policy.py
  app/services/challenges/challenge_prompt_sections.py
  frontend/components/challenges/ChallengeSolver.tsx
  frontend/components/challenges/ChallengeSolverContent.tsx
  frontend/components/challenges/visualizations/ChallengeVisualRenderer.tsx
  frontend/components/challenges/visualizations/VisualizationRenderers.test.tsx
  frontend/components/ui/MathText.test.tsx
  frontend/components/ui/MathText.tsx
  tests/unit/test_challenge_ia5_quality.py
  tests/unit/test_challenge_ia9_contract_policy.py
Due: backend, frontend

fix(adaptive): seed conservative ordinal priors for non-IRT exercise types
  app/services/exercises/adaptive_difficulty_service.py
  tests/unit/test_adaptive_difficulty_service.py
Due: backend

fix(adaptive): document seeded scope and harden exercise arithmetic validation
  app/services/exercises/adaptive_difficulty_service.py
  app/services/exercises/exercise_ai_validation.py
  tests/unit/test_exercise_ai_validation.py
Due: backend

docs(project): add post-beta exercise skill state plan
  docs/03-PROJECT/PLAN_FEATURE_B_EXERCISE_SKILL_STATE_POST_BETA_2026-04-18.md
  docs/03-PROJECT/README.md
Due: none

fix(ci): unblock CI with black formatting and targeted test fixes
  app/services/admin/admin_overview_service.py
  app/services/challenges/logic_challenge_service.py
  app/services/exercises/exercise_ai_validation.py
  app/services/exercises/exercise_stats_service.py
  app/services/recommendation/recommendation_service.py
  app/services/users/user_service.py
  tests/unit/test_challenge_ia5_quality.py
  tests/unit/test_exercise_ai_validation.py
Due: backend

fix(challenges): stabilize pattern answers and solver input
  CHANGELOG.md
  app/services/challenges/challenge_ai_service.py
  app/services/challenges/challenge_answer_service.py
  app/services/challenges/challenge_pattern_sequence_validation.py
  app/services/challenges/challenge_validation_analysis.py
  app/services/challenges/challenge_validator.py
  frontend/components/challenges/ChallengeSolverCommandBar.test.tsx
  frontend/components/challenges/ChallengeSolverCommandBar.tsx
  frontend/components/challenges/ChallengeSolverGridAutoAnswerBlock.tsx
  frontend/components/challenges/visualizations/ChallengeVisualRenderer.tsx
  frontend/components/challenges/visualizations/VisualizationRenderers.test.tsx
  frontend/lib/challenges/challengeSolverCommandBar.ts
  frontend/messages/en.json
  frontend/messages/fr.json
  tests/unit/test_challenge_answer_service.py
  tests/unit/test_challenge_validation_analysis.py
  tests/unit/test_challenge_validator_auto_correct.py
Due: backend, frontend

fix(challenges): preserve numeric pattern answers
  app/services/challenges/challenge_pattern_sequence_validation.py
  app/services/challenges/challenge_validator.py
  tests/unit/test_challenge_validator_auto_correct.py
Due: backend
